   <!--precarga de fuentes-->
   <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
   <link rel="dns-prefetch" href="https://fonts.gstatic.com/"">

    
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--preload css y js-->
   <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="preload" href="/public/css/style.min.css">
   <link rel="preload" href="/public/css/media.min.css">
   <link rel="preload" href="https://code.jquery.com/jquery-2.1.1.min.js" as="script">
   <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" as="script">

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/media.css" media="screen and (min-width: 375px) and (max-width: 891px)">
