

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#317EFB">
    <!-- meta etiquetas de region especifica del sitio -->
    <meta name="google-site-verification" content="k0ifTL9HEpSv6O2o5-koMb6yDs9HI_Z2hLJRUNrDto8">
    <meta name="geo.region" content="CL-RM">
    <meta name="geo.placename" content="Santiago">
    <meta name="geo.position" content="-33.44889;-70.669265">
    <meta name="ICBM" content="-33.44889, -70.669265">
    <meta name="robots" content=" <%= index%> ">
    <meta name="keywords" content="kinesiologo a domicilio, kinesiologia, kinesiologo, acupuntura, rehabilitacion, respiratorio, traumatologia, neurologia, deportivo, adulto mayor, medicina china">
    <meta name="description" content=" <%= metaDescripcion%> ">
    <link rel="canonical" href=" <%= canonical%> ">
    <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
    <!--   metas de redes sociales-->
    <meta property="fb:app_id" content="342670069681285">
    <meta property="og:locale" content="es_CL">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
    <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta property="og:url" content="http://www.kinesishouse.cl//kinesiologo-traumatologia/artrosis-rodilla">
    <meta property="og:site_name" content="kinesis house">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
    <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
   
    <%- include('carga_css.ejs'); %>
    
    
   <script async type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "LocalBusiness",
        "name" : "kinesiólogo a Domicilio",
        "description": "Servicio de kinesiologia a Domicilio en sector oriente de la capital, patologias de traumatologia, respiratoria y neurologia",
        "image" : "http://www.kinesishouse.cl/images/Respiratoria_jpg.webp",
        "telephone" : "+56956833633",
        "email" : "kinesishouse@gmail.com",
        "address" : {
        "@type" : "PostalAddress",
        "addressLocality" : "Vitacura Región Metropolitana",
        "addressRegion" : "metropolitana",
        "addressCountry" : "chile",
        "postalCode" : "8320000",
        "geo": {
            "latitude": -33.4247879,
            "longitude": -70.5174976075393
        }
        },
        "openingHoursSpecification" : {
        "@type" : "OpeningHoursSpecification",
        "dayOfWeek" : {
        "@type" : "DayOfWeek",
        "name" : "Lunes a Sábado 8:00-20:00"
        }
        },
        "url" : "http://www.kinesishouse.cl/",
        "review" : {
        "@type" : "Review",
        "author" : {
        "@type" : "Person",
        "name" : "Paulo Silva"
        },
        "reviewBody" : "servicio de kinesiología a domicilio  en las comunas del sector oriente de la capital",
        "reviewRating": {
            "ratingValue": 5,
            "bestRating": 5
            }
         }
        }
</script>

    <title><%= pageTitle%></title>
       
</head>