<!DOCTYPE html>
<html lang="es-CL">

<%- include('heads/heads-kinesiologia.ejs'); %>

<body>
  <%- include('navbar/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologia" class="breadcrumb">kinesiologia</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->


   <div class="container">
     <div class="row">
      <div itemscope itemtype="https://schema.org/Article" class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 itemprop="headline" class="flow-text">Kinesiolog&iacute;a </h2>
           <div class="divider"></div>
           <h2 itemprop="description">¿Qu&eacute; es la kinesiolog&iacute;a?</h2> 

           <p itemprop="articleBody" class="p_blog">
            
            <span itemprop="name">Kinesiolog&iacute;a</span> roviene del griego “kinesis” que hacer referencia al movimiento y “logos” que es el estudio de algo,
            Es el estudio cient&iacute;fico del movimiento humano, con el fin de tratar y mejorar la calidad de vida y salud en las personas, est&aacute; ligada a &aacute;reas espec&iacute;ficas como la biomec&aacute;nica, traumatolog&iacute;a, masoterapia, fisiolog&iacute;a del ejercicios entre otras. Podr&iacute;a entrar aqu&iacute; una distinci&oacute;n aparte a mi parecer para diferenciar la fisioterapia de la kinesiolog&iacute;a. Me gusta separar el termino como tal sabiendo que en otras regiones es un s&iacute;mil como profesi&oacute;n, para m&iacute; la fisioterapia solo se encarga de entregar una terapia con elementos f&iacute;sicos ya sea termoterapia, ultrasonido electroterapia etc. En cambio kinesi&oacute;logo es m&aacute;s apropiado para el profesional encargado de realizar un an&aacute;lisis y evaluaci&oacute;n profesional del movimiento o patolog&iacute;as afines al sistema musculo esquel&eacute;tico, neural, respiratorio o metab&oacute;lico. Con ellos luego indicar un tratamiento adecuado.
             Creo que es bueno hacer hincapi&eacute; en el nombre de kinesiolog&iacute;a ya que su actuar y estudio es mucho m&aacute;s profundo y se aleja much&iacute;simo de un uso solo t&eacute;cnico de la materia, siendo un profesional que en otras regiones tiene un actuar tanto en decisiones como evaluaci&oacute;n y tratamiento, sin m&eacute;dicos como intermediario (eso se da espec&iacute;ficamente en Australia o nueva Zelanda si no me equivoco donde son considerados profesionales de primera consulta, favoreciendo a los pacientes el ahorro de las derivaciones constantes de m&eacute;dicos como intermediario que aumentan los costos de atenci&oacute;n) 
            En chile esta profesional tiene una larga historia. Est&aacute; ligada su nacimiento inicialmente como una rama de la educaci&oacute;n f&iacute;sica en 1906, para ya ir asent&aacute;ndose m&aacute;s espec&iacute;ficamente desde 1912 como terapia f&iacute;sica y maso terapia, aproximadamente desde el a&ntilde;o 1957 ya se establece como carrera universitaria como tal en chile con planes acad&eacute;micos independiente a educaci&oacute;n f&iacute;sica  siendo reconocida de manera legal como profesi&oacute;n asociada a la salud. En otras latitudes tomo gran importancia desde los brotes y epidemia de la poliomielitis y su acci&oacute;n en las lesiones traum&aacute;ticas de las post guerras (mundiales I y II). 
            
            Entonces para las dudas y en modo de resumen
           </p>
           <h2 itemprop="description">¿Qu&eacute; hace la kinesiolog&iacute;a?</h2> 
           <p itemprop="articleBody" class="p_blog">
            Es el profesional que est&aacute; capacitado para evaluar a nivel f&iacute;sico a una persona, para as&iacute; llegar a un diagn&oacute;stico “funcional” que le permita al mismo una recuperaci&oacute;n en lo posible completa y una adecuada recuperaci&oacute;n  de las capacidades que en alg&uacute;n momento pudieron estar comprometidas por alg&uacute;n accidente o patolog&iacute;a asociada. Tambi&eacute;n tiene un componente biopsicosocial, ya que el kinesi&oacute;logo est&aacute; capacitado para ayudar en la inclusi&oacute;n social y funcional de las personas con alguna discapacidad.
           <h2 itemprop="description">¿Qu&eacute; &aacute;reas de estudio tiene  la kinesiolog&iacute;a?</h2> 
           <p itemprop="articleBody" class="p_blog">
            Hoy en d&iacute;a el actuar del kinesi&oacute;logo es muy amplio puede desenvolverse desde el &aacute;rea deportiva, trabajo en urgencias c&iacute;nicas, rehabilitaci&oacute;n en procesos de quemaduras, traumatolog&iacute;a etc.
            Existiendo una lista a modo de resumen de algunas &aacute;reas en las cuales existe el trabajo kin&eacute;sico
           </p>
            <ul>
             <li>kinesiolog&iacute;a en traumatolog&iacute;a</li>
             <li>kinesiolog&iacute;a respiratoria</li>
             <li>kinesiolog&iacute;a en geriatr&iacute;a</li>
             <li>kinesiolog&iacute;a en neurolog&iacute;</li>
             <li>rehabilitaci&oacute;n cardiovascular</li>
             <li>	rehabilitaci&oacute;n metab&oacute;lica</li>
             <li>kinesiolog&iacute;a est&eacute;tica</li>
           </ul>
        
            Aun as&iacute; esto es una peque&ntilde;a lista ya que existen muchas sub especializaciones dentro de las mismas, como en &aacute;reas de traumatolog&iacute;as existen especialistas de mano o rodilla, en respiratorio existen especialistas en cuidados intensivos, existen kinesi&oacute;logas encargadas de la rehabilitaci&oacute;n del piso p&eacute;lvico o solo al &aacute;rea de embarazadas el campo es muy amplio.
           </p>
            <h2 itemprop="description">¿Qu&eacute te hacen en una sesi&oacute;n de kinesiolog&iacute;a?</h2> 
            <p itemprop="articleBody" class="p_blo">
            Lo ideal es comenzar con la evaluaci&oacute;n f&iacute;sica, independiente que ya exista un diagn&oacute;stico m&eacutedico, la evaluaci&oacute;n kin&eacutesica es completamente diferente ya que se trata de pesquisar los estados funcionales del cuerpo, para que se entiendan por ejemplo, se busca evaluar aspecto de flexibilidad y fuerza en algunos grupos musculares determinados, o evaluar rangos articulares para plantar objetivos de tratamiento en traumatolog&iacute;a, en &aacute;rea respiratorio se puede evaluar por medio de la auscultaci&oacute;n los segmentos pulmonares y donde se Allan las secreciones para poder objetivar los tratamientos.
            Una vez evaluado la idea es proseguir con los elementos terap&eacute;uticos. Aqu&iacute; a mi parecer es crucial destacar que los ejercicios son cruciales y posen mucha m&aacute;s eficacia y evidencia que cualquier alternativa en fisioterapia, estos son la base m&aacute;s fuerte para cualquier tratamiento donde hay mucha publicaci&oacute;n que los pueden avalar, obviamente cada tratamiento es s&uacute;per dependiente de cada operador (kinesi&oacute;logo) y bases cient&iacute;ficas puedan justificar su tratamiento.
            Esto no quiere decir que en algunas condiciones no se usen elementos de fisioterapia que obviamente pueden ayudar a mejorar los resultados en cuanto al proceso de rehabilitaci&oacute;n (cuando lo requieren). Claro est&aacute; que entra el mismo criterio, bases que justifiquen su aplicaci&oacute;n.
            Ahora esto es importante destacar si alguien est&aacute; en un tratamiento de rehabilitaci&oacute;n y su kinesiologo en nin&uacute;&uacute;n momento le aplica alg&uacute;n esquema de ejercicios terap&eacute;uticos, por favor ex&iacute;jalo. Ya que la aplicaci&oacute;n de elementos de fisioterapia por s&iacute; solo no dar&aacute; una soluci&oacute;n a largo plazo (esto pensado en &aacute;rea de traumatolog&iacute;a). Por lo mismo la profesi&oacute;n es “kinesiolog&iacute;a”
            Movimiento 
            </p>
           <h2 itemprop="description">¿ Quien invento la kinesiolog&iacute;a?</h2> 
           <p itemprop="articleBody" class="p_blog">
            M&aacute;s que un invento esto e sin conjunto de aplicaciones terap&eacute;uticas de los m&aacute;s variados or&iacute;genes, aqu&iacute; entran aplicaciones de masajes los cuales existen data desde los egipcios hace 5000 a&ntilde;os, t&eacute;cnicas de, Hip&oacute;crates con sus tratados asociado a la terapia física asociando al movimiento como agente natural de la salud. De esta misma &eacute;poca data la hidroterapia. 
            En las escuelas chinas o induces tambi&eacute;n existen larga data con las manipulaciones manuales o masajes
            Todo esto consagr&aacute;ndose y tomando forma ya a mediados del siglo XX sobre todo entre los periodos de guerras mundiales en el cual aumento dr&aacute;sticamente los traumatismos de guerra
            Sum&aacute;ndose dentro del mismo periodo las epidemias de poliomielitis, todo en lo cual fue necesario la creaci&oacute;n de un profesional completo e integral que pudiese actuar en todas aquellas necesidades
            Porque elegir kinesiolog&iacute;a
            Pues sencillamente porque es la &uacute;nica profesi&oacute;n capacitada para trabajar con personas con patolog&iacute;as asociadas, no es lo mismo que educaci&oacute;n f&iacute;sica que son preparados para trabajar con personas sanas, ya que un kinesi&oacute;logo posee una malla curricular enfocada en procesos de patolog&iacute;a y fisiolog&iacute;a (entre ellas neuro-fisiologia-fisiopatologia-fisiologia del ejercicio) y estudios espec&iacute;ficos en condiciones de traumatolog&iacute;a, patolog&iacute;as respiratorias, metab&oacute;licas etc.
           </p>
           <h2 itemprop="description">¿Como se aplica la kinesiolog&iacute;a?</h2>
           <p itemprop="articleBody" class="p_blog">
            
            Pues el enfoque principal de tratamiento tiene muchas veces que ver con ejercicios dirigidos a restaurar la salud. Cada ejercicio en espec&iacute;ficos que se tratan de aplicar de manera justificada y esta justificaci&oacute;n viene dada por estudios o an&aacute;lisis de investigaciones (papers revisados por cada profesional que aplique cada ejercicio) que plantearan cual es m&aacute;s &oacute;ptimo para determinadas enfermedades o patolog&iacute;as
            Adem&aacute;s de eso existe en algunas condiciones aplicaciones manuales o de fisioterapia para coadyuvar al proceso
           </p>
            <h2 itemprop="description">¿ Cuantos a&ntilde;os dura la carrera de kinesiolog&iacute;a?</h2>
            <p itemprop="articleBody" class="p_blog">
            La carrera de kinesiolog&iacute;a en chile dura aproximadamente 5 a&ntilde;os te&oacute;ricos 
            Abec&eacute;s puede extenderse uno a&ntilde;o &aacute;s por procesos de tesis de grado
            </p>
           <h2 v>Como es la carrera de kinesiolog&iacute;a</h2> 
           <p itemprop="articleBody" class="p_blog">
            Pues a experiencia personal es algo muy gratificante el ver la satisfacci&oacute;n de los pacientes en sus procesos curativos, sobre todos aquellas personas que no les daban muchas expectativas, ayudarles  a solucionar sus problemas es el mejor pago
           </p>
             <h2 itemprop="description">¿Como se hace para sacar los mocos en kinesiolog&iacute;a?</h2>
             <p itemprop="articleBody" class="p_blog">
            Para saber eso revisa la secci&oacute;n de kinesiolog&iacute;a respiratoria (aqu&iacute;)
             </p>
            <h2 itemprop="description">Kinesiolog&iacute;a como ciencia</h2>
            <p  itemprop="articleBody" class="p_blo">
            Esto es un &aacute;rea que por lo general se desarrolla en universidades, existen muchas investigaciones desde el &aacute;rea de biomec&aacute;nica (que es el estudio de las condiciones f&iacute;sicas y mec&aacute;nicas de los tejidos  con movimiento del cuerpo), fisiolog&iacute;a del ejercicio, respiratoria, neurolog&iacute;a etc. Hay much&iacute;simo para hablar. Si se quiere averiguar m&aacute;s existe una base de datos gratuita scielo.org donde pueden acceder a muchos trabajos de investigaci&oacute;n
            Como kinesi&oacute;logo mi objetivo es entregar un servicio de buena calidad. Por est&aacute;ndar trato de no colocar un horario ya que me gusta aplicar de todo para ayudar a mis pacientes, como profesional en esta &aacute;rea uno debe hacerse valor por su trabajo por lo mismo este debe ser excelente
            </p>
            <h2 itemprop="description">¿Como hacer kinesiolog&iacute;a en casa para el proceso de atenci&oacute;n en casa como profesional?</h2> 
            <p class="p_blog">
            llego todo el material necesario para poder entregar el mejor servicio
            Ya sean camillas, equipos de fisioterapia, vendajes si lo requiere o elementos anexos a los ejercicios
            </p>
            <h2>¿Como hacer kinesiolog&iacute;a respiratoria en ni&ntilde;os?</h2>
            <p itemprop="articleBody" class="p_blog">
            Para saber m&aacute;s de ese proceso revisar la secci&oacute;n de kinesiolog&iacute;a respiratoria infantil
            </p>
            <h2 itemprop="description">¿ Como hacer kinesiolog&iacute;a respiratoria en adultos?</h2>
            <p itemprop="articleBody" class="p_blog">
            Para saber m&aacute;s de ese proceso revisar la secci&oacute;n de kinesiolog&iacute;a respiratoria adulto
            
            </p>
            <h2 itemprop="description">Donde estudiar la kinesiolog&iacute;a</h2>
            <p itemprop="articleBody" class="p_blog">
            Pues lo ideal si estas interesado en estudiar esta carrera te recomiendo que sea una universidad acreditada
            Cuando ir al kinesi&oacute;logo
            Pues cuando se necesite de alg&uacute;n proceso de rehabilitaci&oacute;n, por casos de tramas o dolores o incapacidad en la funci&oacute;n respiratoria, en fin. Cualquier caso  no dude en llamar a los contacto en este sitio web para darle soluciones reales
            </p>
            <h2 itemprop="description">¿ Quien es el  kinesi&oacute;logo que lo atendera en su casa?</h2>
            <p itemprop="articleBody" class="p_blog">
            Paulo silva manita licenciado en kinesiolog&iacute;a
            
           </p>
    
    
    
      </div>
      
      
     </div>
    </div>
   
    <%- include('botones/boton.ejs'); %>
    <%- include('botones/menu-flotante.ejs'); %>      

    <%- include('footers/footer.ejs'); %>
    </body>
    
    </html>