<!DOCTYPE html>
<html lang="es-CL">
  <%- include('heads/head_trauma.ejs'); %>
<body>
  <%- include('navbar/navbar.ejs'); %>
  <%- include('botones/menu-flotante.ejs'); %>

<!--header-->
<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('breadcrumb/traumatologia.ejs'); %>
<main class="container">
    <section>
        <div class="row">
            <div class="col s12" id="H2_blog">
                <h2 id="H2_blog">Kinesiolog&iacute;a en rehabilitaci&oacute;n  traumatol&oacute;gica</h2>

            </div>

        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col">
                <p class="p_blog">
                    El Rol del <strong>kinesi&oacute;logo en Traumatolog&iacute;a y Ortopedia</strong> 
                    Definici&oacute;n:  <a class="producto" href="http://kinesishouse.cl" target="_blank" >kinesiolog&iacute;a</a> 
                   Traumatologia en kinesiologia la disciplina que se encarga de buscar la mejor&iacute;a de distintas patolog&iacute;as a trav&eacute;s del movimiento con el prop&oacute;sito de acortar el
                    per&iacute;odo de recuperaci&oacute;n y de alcanzar el m&aacute;ximo de las capacidades funcionales de cada persona. Su pr&aacute;ctica profesional se hace indispensable para el
                    an&aacute;lisis y tratamiento de problemas directamente relacionados con el <strong>sistema m&uacute;sculo esquel&eacute;tico</strong>
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/desgarro_del_manguito_rotador_0_1.webp" alt="desgarro del manguito rotador">
                <h3>El kinesi&oacute;logo</h3>
                <p class="p_blog">
                    Rol del <strong>Kinesi&oacute;logo en Traumatolog&iacute;a</strong> 
                    -Definici&oacute;n: creciendo y formando una de las sociedades  m&aacute;s reconocidas de Latinoam&eacute;rica en su especialidad. 
                    En esta especialidad el kinesi&oacute;logo trata patolog&iacute;as enfocadas en lesiones agudas y post quir&uacute;rgicos orient&aacute;ndose al tratamiento y rehabilitaci&oacute;n de pacientes con lesiones musculo-esquel&eacute;ticas.
                    Aplicando t&eacute;cnicas de fisioterapia para controlar el dolor y ejercicios terapeuticos para mejorar el funcionamiento del aparato locomotor y llevar a la normalidad las condiciones invalidantes o dolorosas.
                </p> 
                 <p class="p_blog">
                    Trato de lesiones que afectan principalmente a: 

                 </p>  
                    <p class="p_blog">
                        Huesos (fracturas, epifisiolisis, post operatorios, reemplazos prot&eacute;sicos totales),
                       Ligamentos y articulaciones (esguinces, luxaciones, artritis traum&aacute;ticas, rupturas traum&aacute;ticas),
                        M&uacute;sculos y tendones (roturas fibrilares, Hematomas, contusiones, tendinitis, tendinosis),
                        Piel (heridas, quemaduras, cicatrices)
                    </p>   
                    <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/traumatologia7.webp" alt="imagen de lesiones y fracturas">
                    

                </p>
                <div class="divider"></div> 
                <h2 class="flow-text black-text">¿Qu&eacute; es la kinesiolog&iacute;a en traumatolog&iacute;a?</h2>
                <p class="p_blog">
                    Esta es un &aacute;rea encargada de todos los aspectos del sistema m&uacute;sculo esquel&eacute;tico, esto corresponde  a <strong>tratamiento de huesos, m&uacute;sculos, articulaci&oacute;n o tendones</strong> . Su &aacute;rea de acci&oacute;n es muy amplia y variada existiendo incluso el &aacute;rea de especializaci&oacute;n dentro de esta, como equipos de mano, columna hombro o rodilla entre otras
                    Act&uacute;a en &aacute;rea como <strong>dolor muscular cr&oacute;nico  como el lumbago, tendinopatias o artrosis</strong> , pre o post operados de pr&oacute;tesis total de cadera, rodilla u hombros entre otras cosas.
                </p>
                    <p class="p_blog">
                    Los objetivos generales DENTRO DE LA TERAPIA son:
                    Disminuir el dolor y la incapacidad funcional que genera la patolog&iacute;a en cuesti&oacute;n
                    Mejorar el rendimiento o funcionalidad
                    Para eso existen una serie de elementos o herramientas a utilizar 
       
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/traumatologia6.webp" alt="rehabilitacion en traumatologia">

            </div>
        </div>
    </section>
   
    <section class="section">
        <div class="row">
            <div class="col ">
                <h2>herramientas terapeuticas en kinesiologia</h2>
                <p class="p_blog">
                    Inicialmente se conoce que usa muchos elementos basados en la <strong>fisioterapia</strong> 
                Como son los <strong>electro estimuladores </strong> tipo TENs que buscan ejercer un efecto terap&eacute;utico generando analgesia o los EMs que buscan activar o potenciar la acci&oacute;n de la musculatura.
                El TENs se basa en un concepto de analgesia basado en la <strong>“teor&iacute;a de la compuerta”</strong>  ¿q&eacute; esto? Pues se basa en los conceptos neurofisiol&oacute;gicos del dolor en el que se estima que 
                el ser humano posee varios tipos de fibras neuromoduladoras de transmisi&oacute;n de informaci&oacute;n desde el sistema nervioso perif&eacute;rico (SNP) al sistema nervioso central (SNC) las fibras que act&uacute;an son 
                las tipo C moduladoras del dolor que env&iacute;an la informaci&oacute;n neurol&oacute;gica de manera lenta a trav&eacute;s de los axones de la neurona.
                La otra fibras son las de tipo B que son llamadas tipo mec&aacute;nica, estas se estiman que viajan a una velocidad mayor que las fibras de tipo C y adem&aacute;s lo mejor de todo lo hace por una misma v&iacute;a, 
                bloqueando a nivel del SNC (medular principalmente) la sensaci&oacute;n del dolor.
                Ahora existen varios m&eacute;todos de aplicaci&oacute;n y modulaci&oacute;n el dolor por este m&eacute;todo tanto como para alivio del dolor agudo o cr&oacute;nico.
                Pero de manera sencilla por si alg&uacute;n paciente desea adquirir uno estos equipos el dolor agudo se puede modular con frecuencias de 60 Hz en este caso se modulara la acci&oacute;n de la teor&iacute;a de la compuerta.
                Ahora si se aplican frecuencias de 5 Hz se podr&aacute;n modular (te&oacute;ricamente) la secreciones de mol&eacute;culas de endorfinas que actuaran a nivel del sistema nervioso central con alivio a largo plazo y es ideal
                <strong>para patolog&iacute;as cr&oacute;nicas</strong> 
                Pasar saber m&aacute;s del dolor siga el siguiente link (dolor y teor&iacute;a)
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/traumatologia5.webp" alt="herramientas de fisioterapia">

                <div class="divider"></div> 


                <h3 class="flow-text black-text">Electro estimulaci&oacute;n muscular EMS: </h3>
                <p class="p_blog">
                    En esto lo m&aacute;s famosos y conocidos son las <strong>corrientes rusas</strong> , las cuales se hicieron famosas por los resultados de las olimpiadas de
                entre los a&ntilde;os 70 y 80, ya que los deportistas rusos ten&iacute;an el mejor rendimiento, ellos potenciaban su entrenamiento de potencia y fuerza usando corriente,
                obviamente modulada  para no generar da&ntilde;o, lo que generaba un aumento mayor de la activaci&oacute;n de fibras musculares y conexiones neuromuslares. Bueno la aplicaci&oacute;n
                terap&eacute;utica para los pacientes con esto es ideal ya que se necesita activar m&uacute;sculos que por procesos inflamatorios, dolorosos o cr&oacute;nicos no est&aacute;n muy activos
                Elementos basados en ultrasonido, ayudar&iacute;an a modular lo que es el dolor, inflamaci&oacute;n y manejo de tejido:
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/traumatologia4.webp" alt="electroestimulador">

                <div class="divider"></div> 

                <h3>El ultrasonido</h3>
                <p class="p_blog">
                tiene bastante teor&iacute;a, se indica mucho en varias arias de la fisioterapia, aunque existe la controversia de si en verdad realiza los efectos que propone o no.
                Esto es b&aacute;sicamente ondas de tipo mec&aacute;nica imperceptibles ya que son frecuencias muy bajas que estar&iacute;an modulando las condiciones metab&oacute;licas por medio de la acci&oacute;n m&aacute;nica sobre los tejidos
                Es usado normalmente en condiciones para bajar elementos inflamatorios ademas de los efectos mecanico que ayudarian a la correcta produccion de colageno tipo I disminuyendo el dolor
                Cambiar las condiciones del tejido en cuanto a las estructuras de  col&aacute;geno
                Entregar calor profundo (esto depende si la funci&oacute;n del ultrasonido en continuo y no puls&aacute;til)
                La mayor&iacute;a de las aplicaciones en fisioterapia son aplicadas con ultrasonido puls&aacute;til ya que por las investigaciones en el tema son lo que entregan mejor resultados,
                en comparaci&oacute;n con el ultrasonido continuo que posee varios efectos adversos aun asi muchos <a class="producto" href="http://www.kinesishouse.cl" target="_blank" >kinesiologos </a> actualmente estan rechazando el uso de este elemento por la baja evidencia cientifica de su aplicacion
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/Ultrasonido-terapéutico.webp" alt="ultrasonido terapeutico">

                <div class="divider"></div> 


                <h3 class="flow-text">Termoterapia superficial:</h3> 
                <p class="p_blog">
                las l&aacute;mparas de calor infrarrojo son las protagonistas, su uso esta solo determinado para tratar el dolor por medio de la estimulaci&oacute;n de las terminaciones sensitivas de temperatura, actuando de la misma manera que una teor&iacute;a de la compuerta (Gaete control), por lo que otros efectos sobre el tejido no provocar&iacute;a
                </p>
                <h3 class="flow-text">Termoterapia profunda:</h3> 
                <h4 class="flow-text">Hidroterapia:</h4> 
                <p class="p_blog">
                aqu&iacute; se usa el agente del agua como elemento terap&eacute;utico, el m&aacute;s conocido es el turbi&oacute;n que es &aacute;sicamente una pequeña tinaja con agua caliente (45° aproximadamente) que moviliza el agua como un yacusi, el objetivo es que por medio del calor se produzca alivio adem&aacute;s que el movimiento del agua masajear&iacute;a la zona permitiendo mejor maleabilidad de los tejido para actuar posteriormente con otros elementos terap&eacute;uticos
                Hay que destacar dentro de este elemento terap&eacute;utico la hidroterapia que se aplica en piscinas, ya que favorece el ejercicio en pacientes con patolog&iacute;a articular disminuyendo la carga de su propio peso (tambi&eacute;n es muy aplicado en neurolog&iacute;a) entre otras m&aacute;s aplicaciones
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/hidroterapia-turbion.webp" alt="hidroterapia">
                <div class="divider"></div> 


                <h3 class="flow-text">Vendaje terap&eacute;utico funcional:</h3>
                <p class="p_blog">

                Aqu&iacute; existe una variaci&oacute;n de t&eacute;cnicas y su uso en diversas arias de la <strong>kinesiolog&iacute;a en traumatolog&iacute;a</strong> 
                El &aacute;rea experta en esto obviamente es en pacientes quemados, que en chile el gran referente es cohaniquen (instituci&oacute;n de tratamiento de ni&ntilde;os quemados) donde existe un manejo especial del paciente sobre sus cicatrices por medio de vendaje compresivo y el&aacute;stico (link de t&eacute;cnicas de vendaje en quemados)
                Otra &aacute;rea que se aplican t&eacute;cnicas de vendaje es deportiva y traumatolog&iacute;a:
                Aqu&iacute; entra en uso algo que lleva algunos a&ntilde;os y es el vendaje funcional deportivo los kinesiotape
                Dentro del circulo existen muchas controversia de si es efectivo o no hace nada (link de t&eacute;cnica de vendaje funcional)
                Pero la verdad que la aplicaci&oacute;n se basa en medicina basada en la evidencia, en t&eacute;rminos sencillos para que se entienda es… el paciente se siente bien y seguro posterior a la aplicaci&oacute;n del vendaje.
                Las aplicaciones son variadas ya sea para esquinces, tendinopatias, contracturas musculares. Pueden seguir el siguiente link donde explico a m&aacute;s detalle su uso y aspectos te&oacute;ricos (link)
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/deportivo/vendaje-funcional.webp" alt="vendaje terapeutico">

                <div class="divider"></div> 


                <h3 class="flow-text">Manipulaci&oacute;n de los tejidos y Masoterapia:</h3>
                <p class="p_blog">

                Esto aunque se menosprecie por otros colegas tiene mucha importancia, se puede modular el dolor con medicamentos o elementos de fisioterapia, pero si no se trata la causa del dolor todo lo dem&aacute;s es en vano. Un ejemplo cl&aacute;sico con las tendinosis (link de significado y procesos de tendinosis) en la cual existe una alteraci&oacute;n de la estructura de col&aacute;geno (col&aacute;geno tipo III, el tend&oacute;n normalmente posee col&aacute;geno tipo I) que cualquier elementos ya sea medicamento o fisioterapia dif&iacute;cilmente modulara
                Las t&eacute;cnicas de terapia manual ortop&eacute;dica, osteopat&iacute;a, quiropraxia y masajes est&aacute;n orientadas a la manipulaci&oacute;n de los tejidos y articulaciones para generar los cambios que necesita la estructura sin ellas la kinesiolog&iacute;a en traumatolog&iacute;a tendr&iacute;a muy pocos efectos
                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/masoterapia.webp" alt="masoterapia">
                <div class="divider"></div> 


                <h3 class="flow-text">Ejercicios terap&eacute;uticos: </h3>
                <p class="p_blog">

                Esto para mi gusto es uno de los principales protagonistas en todos los <strong>procesos de rehabilitaci&oacute;n</strong>  y aun as&iacute; est&aacute; a mi parecer por sobre cualquier t&eacute;cnica o elemento de <strong>fisioterapia.</strong> 
                Y ¿porque raz&oacute;n?
                Pues existe una cantidad enorme  de evidencia cient&iacute;fica que respalda la acci&oacute;n de ciertos ejercicios condicionados para las patolog&iacute;as musculo esquel&eacute;ticas en particular. Por ejemplo el <strong>tratamiento los lumbagos</strong>  y ejercicios enfocados a modular la activaci&oacute;n de musculatura multifida (link de tratamiento de lumbago) o el ejercicio exc&eacute;ntrico en procesos de tendinopatias. O como el ejercicio modula los factores metab&oacute;licos en patolog&iacute;as como diabetes. Lo bueno de esto es que se educa al paciente a mantener un sistema de auto tratamiento para largo plazo sin tener la dependencia total hacia un terapeuta cosa que lo pacientes agradecen sobre todo por el aspecto econ&oacute;mico
                En que consiste el  <a href="http://www.kinesishouse.class target="_blank" >servicio de kinesiolog&iacute;a</a>
                Pues el <strong>profesional asiste al domicilio </strong> con los equipos necesarios como:
                


                </p>
                <img class="responsive-img" loading="lazy" src="/public/images/traumatologia/traumatologia1.webp" alt="ejercicios terapeuticos">

            </div>
        </div>


    </section>
    <section>
        <div class="row">
            <h2>Si quieres saber más revisa las siguientes secciones de mi blog</h2>
            <div class="divider"></div>

            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="/public/images/traumatologia/artrosis-rodila/Artrosis-AP-radiografia.webp" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> artrosis de rodilla<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">artrosis de rodilla<i class="material-icons right">close</i></span>
                        <p class="p_blog"> Que ocurre con la artrosis de rodilla, averigua como es su tratamiento y fases de evolucion como es el enfoque en kinesiologia y como puedes mejorar esta condicion tan dolorosa e invalidante</p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor/artrosis-rodilla" target="_blank" >Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="/public/images/traumatologia/traumatologia1.webp" alt="fractura de tobillo en kinesiologia">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4">fractura de  tobillo <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">fractura de tobillo <i class="material-icons right">close</i></span>
                        <p class="p_blog" >fracturas de tobillo, mecanismo de accion en cada fase de recuperación y mucho más, aqui clic y descubre como poder solucionarcon kinesiologia </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-tobillo" target="_blank" >Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" loading="lazy" src="/public/images/traumatologia/artroscopia-cadera/artroscopia-cadera.webp" alt="">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> artroscopia de cadera <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">artroscopia de cadera<i class="material-icons right">close</i></span>
                        <p class="p_blog"> averiagua como es el tratamiento quirurgico de la artroscopia de cadera, su tratamiento kinesiologico y los tiempos de recueperacion </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="http://www.kinesishouse.cl/kinesiologo-traumatologia/artroscopia-cadera">Ver mas</a>

                    </div>
                        
                </div> 

            </article>

        </div>
    </section>
    

</main>
<%- include('botones/boton.ejs'); %>
<%- include('footers/footer.ejs'); %>
</body>
</html>