
@media only screen and (min-width: 375px) and (max-width: 891px){
    .menu-btn {
        background-color: #eeeeee;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .16);
        cursor: pointer;
        height: 56px;
        left: 24px;
        position: fixed;
        bottom: 24px;
        width: 56px;
        z-index: 997;
       
        
       
      }
      .menu-btn > a {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px auto;
      }
      .menu-btn > a > i {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
      }
      .ft-main {
        justify-content: space-evenly;
      }
     /*fin footer*/

  }
