* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 66.5%;
    scroll-behavior: smooth;
    user-select: none;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background: #eeeeee50;
    color: #1a1a1a;
    line-height: 1.6;
  }
  main.container {
    margin-top: 30px;
  }
 
  h1 {
    margin-bottom: 20px;
    
  }
  
  
  p {
    font-size: 1.6rem;
    margin-bottom: 450px;
  }
  h2 {
    font-size: 2rem;
  }
  
  li {
    list-style-type: none;
  }
  
   a {
    text-decoration: none;
    font-size: 2.4rem;
    color: #1a1a1a;
    font-weight: 500;
  }
    .heading-primary {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    }
  .p_blog {
    font-size: 1.6rem;
    margin-bottom: 50px;
  }
  .ul_blog > li{
    margin-bottom: 50px;
  }


.nav-wrapper > a > img {
    width: 55px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;


}
.header-main-pic {
    width: 100%;
    height: 400px;
    background-image:  linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),url('/public/images/Header/Health.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#brand-logos > img{
  width: 150px;
}

.brand-container {
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.brand-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.brand-container:hover img {
  transform: scale(1.1);
}
        
/* intro-area css start */

.intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}
.intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
}
.intro-area p {
    font-size: 18px;
}
/* intro-area css end */
.f-row {
    display: flex;
    flex-wrap: wrap;
  }
.f-col {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.input,
.btn {
border: none;
background: #eee;
padding: 1rem;
border-radius: 5rem;
margin: 2rem 0;
font: inherit;
font-size: 1.4rem;
width: 25rem;
font-weight: 500;
}
.input:focus {
outline: none;
background: #ccc;
}
.btn {
margin: 0;
padding: 1rem;
background: #05bc55;
width: 12rem;
transition: all .2s;
}
.btn:hover {
box-shadow: 0 0 1.5rem #05bc55;
}
.btn:active {
box-shadow: none;
}
.pack {
width: 16rem;
margin-left: 1rem;
}
.line {
width: 2px;
height: 20rem;
background: #eee;
}

/** PRICING **/
#pricing {
    background: #eeeeee75;
    text-align: center;
    padding: 8rem 0;
  }
#pricing h2 {
    padding: 2rem;
  }
#level {
  font-weight: 800;
}
.producto {
  font-size: 14px;
  cursor: hand;
  color:blue;
}
strong {
  color: darkslategray;
}

  .product {
    max-width: 28rem;
    width: 100%;
    padding: 4rem;
    background: #fff;
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }
  .product li {
    padding: 1rem 0;
    font-size: 1.6rem;
  }
  .product li:not(:last-child){
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
  }
  .price {
    font-size: 5rem;
    font-weight: 600;

  }
  .card-container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .active-product {
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    transform: scale(1.1);
    color: #ffff;
    }
    .btn-card {
        border-radius: 1rem;
        padding: .8rem;
    }
/* footer*/
footer {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer ul {
    list-style: none;
    padding-left: 0;

  }
  footer a {
    text-decoration: none;
    color: #eee;
    font-size: 1rem;
  }
  a:hover {
    text-decoration: none;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 2rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
 
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  #H2_blog {
    font-size: 4.4rem;

  }
  #link_card {
    font-size: 1.5rem;
  }

  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  .ft-main {
    justify-content: space-evenly;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

  

  @media only screen and (min-width: 891px) {
    .menu-btn > a > i {
        display:none;
    }
    nav ul a {
        font-size: 2rem;
    }
    .intro-area p {
        margin-bottom: 100px;
    }
   
    
  } 


