<!DOCTYPE html>
<html lang="es-CL" itemscope itemtype="http://schema.org/Article">

<%- include('../heads/artroscopia_cadera.ejs'); %>

<body>
<%- include('../navbar/navbar.ejs'); %>

<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('../breadcrumb/artroscopia_cadera.ejs'); %>
<main class="container">
  <section>
   <div class="row">
    <div class="col s12" id="H2_blog">
     <h2 id="H2_blog">
      Kinesiolog&iacute;a en rehabilitaci&oacute;n  ARTROSCOP&Iacute;A DE CADERA (AC):
     </h2>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="row">
    <div class="col">
     <h2>
      Artroscopia de la cadera
     </h2>
     <p class="p_blog">
      Es la operacion que se realiza aplicando cortes muy chicos alrededor de la cadera y mirando el interior con el uso de una c&aacute;mara peque&ntilde;a. Tambi&eacute;n se pueden introducir otros elementos quirurgicos para examinar o tratar la articulaci&oacute;n de la cadera.
                 Descripci&oacute;n
                 Durante la operacion, el cirujano utiliza una c&aacute;mara diminuta “artroscopio” para ver dentro de la cadera.
               
Un artroscopio est&aacute; fabricado de un cilindro diminuto, una lente y una fuente luminica. Se hace una insicion quir&uacute;rgica peque&ntilde;a para introducirlo en la cadera.
El medico observar&aacute; el interior de la articulaci&oacute;n para buscar da&ntilde;o o lesiones.
Tambi&eacute;n se pueden introducir otras herramientas quirurgicas a trav&eacute;s de uno o dos cortes peque&ntilde;os adicionales. Esto le facilitara  al cirujano la tecnica, de ser necesario.
El medico puede reseccionar tejido extra de hueso que est&eacute;n sueltos en la articulaci&oacute;n de la cadera, o reparar el cart&iacute;lago u otros tejidos que est&eacute;n da&ntilde;ados.

     
                 En la mayor&iacute;a de las ocasiones, se aplicara anestesia raqu&iacute;dea o epidural o anestesia general, para que usted no sienta ninguna molestia. Podr&iacute;a adem&aacute;s  estar dormido o recibir un medicamento para ayudarlo a relajarse.
     </p>
     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
     <h3>
      Por qué se realiza el procedimiento
     </h3>
     <p class="p_blog">
      Las razones habituales para la artroscopia de la cadera:
                 
Extraer peque&ntilde;os recesos de hueso o cart&iacute;lago que pueden estar mal posicionados al interior de la articulaci&oacute;n de la cadera y causando dolor.
Reparar un labrum lesionado (un desgarro en el cart&iacute;lago que se fija lateral del acet&aacute;bulo del hueso il&iacute;aco).
S&iacute;ndrome de pinzamiento de la cadera (tambi&eacute;n llamado pinzamiento femoroacetabular, o FAI). Esta operacion se hace cuando ning&uacute;n otro tratamiento ha servido para aliviar la molestia.
Dolor de la cadera que no cesa y su traumat&oacute;logo sospecha un problema que se puede reparar con una artroscopia de cadera. La mayor&iacute;a de las ocasiones, el cirujano primero aplicara un anest&eacute;sico en la cadera para ver si el dolor desaparece.

             Si usted no presenta estos problemas, la artroscopia de cadera no servir&aacute; para tratar su artritis o artrosis  de cadera.
             complicaciones
     </p>
     <div class="divider">
     </div>
     <h3>
      las complicaciones  de cualquier anestesia y cirugía son:
     </h3>
     <p class="p_blog">
      Reacciones al&eacute;rgicas a los anestesicos
 Problemas broncopulmonares
Problemas de coagulacion
Infecci&oacute;n
     </p>
     <img alt="imagen de lesiones y fracturas" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
     <h3>
      Otras complicaciones de esta cirugía incluyen:
     </h3>
     <p class="p_blog">
      Sangrado en la articulaci&oacute;n de la cadera
Da&ntilde;o al cart&iacute;lago o ligamentos en la cadera
Co&aacute;gulo de sangre 
Lesi&oacute;n a un vascular o nerual
Infecci&oacute;n en la articulaci&oacute;n 
Rigidez de la cadera por mal manejo en fisioterapia
Adormecimiento y hormigueo en la inginal

               Antes del procedimiento
                 
          Durante las 2 semanas antes de la cirug&iacute;a:

Le pueden indicar que deje de tomar medicamentos que alteren la coagulaci&oacute;n de la sangre. Estos incluyen &aacute;cido acetilsalic&iacute;lico (aspirina), ibuprofeno, naproxeno anticoagulantes como warfarina y otros medicamentos.
Preg&uacute;ntele a su medico qu&eacute; farmacos debe tomar aun el d&iacute;a de la cirug&iacute;a.
Com&eacute;ntele a su cirujano si ha estado tomando mucho alcohol, m&aacute;s de 1 o 2 tragos por d&iacute;a.
Si fuma, es ideal que deje de hacerlo. El tabaco puede retardar la cicatrizaci&oacute;n de heridas y reparaci&oacute;n de huesos.
A menudo le pedir&aacute;n  que no coma ni beba nada durante 6 a 12 horas antes del procedimiento.

          
         
          En el d&iacute;a de la cirug&iacute;a:
            Tome los medicamentos que le indicaron con poca agua.
         Expectativas (pron&oacute;stico)            
          Despu&eacute;s de la cirug&iacute;a, ser&aacute; necesario que use muletas durante 2 a 6 semanas.
           
Durante la primera semana, usted no debe cargar  peso sobre el lado que le operaron.
Despu&eacute;s de la primera semana, le permitir&aacute;n lentamente cargando peso cada vez m&aacute;s sobre la cadera que le operaron.

         
          El cirujano le dir&aacute; cu&aacute;ndo puede retornar sus actividades normales. La mayor&iacute;a de las personas puede regresar a la actividad normal al cabo de 1 a 2 semanas si pueden sentarse la mayor parte del tiempo.
          A usted lo remitir&aacute;n a kinesiolog&iacute;a para que empiece un programa de rehabilitaci&oacute;n.
     </p>
     <img alt="rehabilitacion en traumatologia" class="responsive-img" loading="lazy" src=""/>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="row">
    <h2>
     ¿C&Oacute;MO BAJAR LOS RIESGOS QUIR&Uacute;RGICOS?
    </h2>
    <div class="col">
     <p class="p_blog">
      La AC  ha ido obteniendo un lugar primordial en la ortopedia mundial. Los nuevos hallazgos en el diagn&oacute;stico facilitan realizar cirug&iacute;as menos invasivas con una mejor  y m&aacute;s precoz recuperaci&oacute;n.
      La principal consideraci&oacute;n que se debe tener en el diagn&oacute;stico de la artroscop&iacute;a de cadera, es  qu&eacute; se est&aacute; interviniendo al paciente. Generalmente la respuesta contin&uacute;a generada por el permanente dolor. Sin embargo, en ocasiones se ingresa a una cirug&iacute;a por presentar malformaciones &oacute;seas en la cadera, que no producen s&iacute;ntomas. Esta condici&oacute;n debe ser muy bien examinada por el especialista, para no realizar una intervenci&oacute;n que perfectamente puede evitarse.
      Algunos pacientes asintom&aacute;ticos, luego de pasar por a una cirug&iacute;a, pueden presentar alg&uacute;n dolor residual, provocado por la intervenci&oacute;n de los tejidos y su proceso de cicatrizaci&oacute;n en la zona de la cadera. Entonces, el dolor post operatorio puede ser tomado como una complicaci&oacute;n de la t&eacute;cnica. Las causas de &eacute;stas son m&uacute;ltiples y debemos ordenarlas para poder entender mejor las dolencias.
      La mejor manera  de clasificar un dolor post-operatorio es  en dolor intra articular y extra articular:
      Dentro de los dolores intra articulares hay una lista de molestias que van desde:
                 
      corte mal aplicado o incompleto de la lesi&oacute;n al cuello femoral o cam.
      extirpacion incompleta de la patologia Pincer o corte muy amplio de la Lesi&oacute;n Pincer o sobre cobertura acetabular.
      Mala intervenci&oacute;n de la Lesion Labral, re-rotura, disposici&oacute;n intra articular de anclas de sutura del labrum.
      adhesion de la articulaci&oacute;n del cuello femoral o tejidos blandos cercanos, como el tend&oacute;n del psoasiliaco
      Necrosis avascular de la cabeza femoral
      Inestabilidad de cadera por demaciada eliminaci&oacute;n del tejido de estabilidad capsular
     </p>
     <div class="divider">
     </div>
     <h2>
      CAUSAS ARTICULARES EXTERNAS QUE PROVOCAN DOLOR:
     </h2>
     <p class="p_blog">
      La tendinopat&iacute;a externa: entesitis gl&uacute;tea, psoas-iliaco, isquiotibial.
      Sinovitis inflamatoria de la capsula articular
      Adhesi&oacute;n de la cicatriz a planos superficales y profundos
      lesi&oacute;n nervio pudendo con anestesia en zona genital por excesiva tension Extravasaci&oacute;n (salida) del fluido artrosc&oacute;pico a territorio abdominal
     </p>
     <div class="divider">
     </div>
     <h2>
      NUEVA APLICACION QUIR&Uacute;RGICA
     </h2>
     <p class="p_blog">
      La artroscopia de cadera considera en s&iacute; mismo una t&eacute;cnica m&iacute;nima mente invasiva en la cual el paciente solo presentara 3 incisiones en las cuales 1 ser&aacute; la de una peque&ntilde;a c&aacute;mara que permitir&aacute; al experto ver la intervenci&oacute;n y unas dos con las cuales manipulara los instrumentos el &eacute;xito depender&aacute;n del tipo de paciente (edad sexo y condiciones de estructura lesionada), su lesi&oacute;n (referente a mecanismo de lesi&oacute;n y zona), de su proceso de cicatrizaci&oacute;n y rehabilitaci&oacute;n (obviamente realizada por el kinesi&oacute;logo).
                 Esta t&eacute;cnica tiene la facultad de ser m&iacute;nimamente invasiva con mejores resultados en los procesos de cicatrizaci&oacute;n, adem&aacute;s de m&iacute;nimas complicaci&oacute;n a nivel interarticular con respecto a la extravasaci&oacute;n del l&iacute;quido sinovial.
     </p>
     <div class="divider">
     </div>
     <h2>
      ¿C&Oacute;MO SE REALIZA LA INTERVENCION ARTROSCOPICA?
     </h2>
     <p class="p_blog">
      En la artroscopia de cadera luego de la anestesia el paciente estar&aacute; sobre la mesa ortop&eacute;dica de operaci&oacute;n en la cual ser&aacute; sometido a una tracci&oacute;n sobre la cadera, el cual permitir&aacute; un espacio intraarticular para la colocaci&oacute;n de los instrumentos, para lograr esto se debe aplicar una ventana en la capsula articular. &Eacute;ste tejido se quitara con un bistur&iacute; y shaver artrosc&oacute;pico, este  resecar&aacute; la mayor&iacute;a de este. Luego  el paciente es mantenido en tracci&oacute;n por espacio de 2 horas, lo que provocara anestesia postoperatoria en la zona genital. Junto con ello, el flujo del l&iacute;quido hacia la cadera debe ser alto para poder observar a trav&eacute;s de la c&aacute;mara digital (artrosc&oacute;pico).
      El corte capsular debe m&iacute;nimo para no crear inestabilidad futura  en la cadera. Esta c&aacute;psula tiene el ligamento ileofemoral anterior, principal estabilizador de la cadera, por ello debe ser conservado, evitando el da&ntilde;o de este  durante la cirug&iacute;a.
      CONSIDERACIONES DE LA ARTROSCOPIA
      Es una aplicaci&oacute;n que se va desde afuera hacia adentro con el objetivo de disminuir los efectos de inestabilidad de cadera posterior que si ocurr&iacute;an con otro tipo de intervenciones. Este proceso no es realizado con tracci&oacute;n, por lo cual no existe riesgo por extravaciacion de sinovial de la artroscop&iacute;a. Con la intervenci&oacute;n acetabular, se visualiza el labrum articular y se procede a estirar levemente la cadera por espacio de 15 a 20 minutos, aqu&iacute; el medico realiza la eliminaci&oacute;n  del pincer acetabular y la reinserci&oacute;n labral,.
      Las ventajas de esta t&eacute;cnica quir&uacute;rgica son muy importantes pues permite una sutura f&aacute;cil de la zona articular en caso de pacientes hiperlaxos, no genera injuria del nervio pudendo, no hay una mayor extravasaci&oacute;n de l&iacute;quidos, y disminuye un importante tiempo quir&uacute;rgico.
      La resecci&oacute;n de las alteraciones femorales o cam se llevan a cabo sin inconvenientes a trav&eacute;s de la capsulotom&iacute;a. Al finalizar de la cirug&iacute;a se realiza una sutura capsular para permitir un cierre anat&oacute;mico de la c&aacute;psula. Una vez realizada esta t&eacute;cnica, podemos observar que los pacientes tienen menor dolor y mayor sensaci&oacute;n de seguridad. Sin embargo, es dif&iacute;cil evaluarla  ya que  que son sensaciones muy subjetivas y solo son evaluables en pacientes que han tenido cirug&iacute;as en ambas caderas con distintas t&eacute;cnicas pero resulta muy importante la diferencia que notan los pacientes, lo que impulsa a una mayor difusi&oacute;n de esta t&eacute;cnica.
      Proceso de rehabilitacion
                 
      Durante la primera semana, usted no debe cargar  peso sobre el lado que le operaron, pero si se puede aplicar las primeras fases de kinesioterapia.
      Objetivos: disminuir el dolor e inflamaci&oacute;n con elementos como crioterapia, ultrasonido o electroestimulacion sensitiva
      Movilizaciones pasivo asistidas y activo asistidas para mejorar o mantener rangos articulares
      Educaci&oacute;n de cuidados y marcha con bastones
      Despu&eacute;s de la primera semana, le permitir&aacute;n lentamente cargando peso cada vez m&aacute;s sobre la cadera que le operaron, se comienza con cargas progresivas y ejercicios kin&eacute;sicos con cadena cin&eacute;tica cerrada (bicicleta, el&iacute;ptica, squad, etc.), bandas el&aacute;sticas, fortalecimiento de eeii todo controlado por el kinesiologo
      Ya en fases m&aacute;s avanzadas se comenzara con procesos m&aacute;s dinamico e reintergro deportivo o laboral

                      
                 
                 
                 El cirujano le dir&aacute; cu&aacute;ndo puede retornar sus actividades normales. La mayor&iacute;a de las personas puede regresar a la actividad normal al cabo de 1 a 2 semanas si pueden sentarse la mayor parte del tiempo.
     </p>
     <div class="divider">
     </div>
     <img alt="ejercicios terapeuticos" class="responsive-img" loading="lazy" src=""/>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="container">
    <h2 class="center-align">
     Categor&iacute;as de Productos
    </h2>
    <div class="row">
     <div class="col s12 m6">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Electroestimulación
        </span>
       </div>
       <div class="card-content">
        <p>
         Descubre nuestra amplia selecci&oacute;n de productos de electroestimulaci&oacute;n para terapia.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
     <div class="col s12 m6">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Ultrasonido
        </span>
       </div>
       <div class="card-content">
        <p>
         Encuentra los mejores productos de ultrasonido para terapia.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
     <div class="col s12 m6 offset-m3">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Ejercicios terapéuticos
        </span>
       </div>
       <div class="card-content">
        <p>
         Encuentra los mejores productos de ejercicios terap&eacute;uticos.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
     <div class="col s12 m6">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Acupuntura
        </span>
       </div>
       <div class="card-content">
        <p>
         Encuentra los mejores productos de acupuntura para terapia.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
     <div class="col s12 m6">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Masajes
        </span>
       </div>
       <div class="card-content">
        <p>
         Encuentra los mejores productos de ejercicios terap&eacute;uticos.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
     <div class="col s12 m6 offset-m3">
      <div class="card">
       <div class="card-image">
        <img src="https://via.placeholder.com/350x250"/>
        <span class="card-title">
         Ejercicios terapéuticos
        </span>
       </div>
       <div class="card-content">
        <p>
         Encuentra los mejores productos de ejercicios terap&eacute;uticos.
        </p>
       </div>
       <div class="card-action">
        <a class="producto" href="#">
         Ver productos
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
 </main> 
    <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>