<!DOCTYPE html>
<%- include('../heads/artrosis-rotuliana.ejs'); %>
<body>
  <%- include('../navbar/navbar.ejs'); %>
  <%- include('../botones/menu-flotante.ejs'); %>

<!--header-->
<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<%- include('../breadcrumb/artrosis-rotuliana.ejs'); %>
<main class="container">
  <section class="section">
   <div class="row">
    <div class="col">
     <p class="p_blog">
      La artrosis rotuliana es la p&eacute;rdida de cart&iacute;lago del sector de la patela (r&oacute;tula) la que al da&ntilde;arse, no es capaz de soportar presi&oacute;n.
               Cada vez es m&aacute;s habitual escuchar sobre las dolencias de artrosis que afectan a las personas, mayoritariamente adulta. Esta patolog&iacute;a de da&ntilde;o articular, es la m&aacute;s com&uacute;n de las enfermedades articulares y afecta zonas como la regi&oacute;n de la espalda baja, rodillas o caderas.
               ¿QU&Eacute; ES LA ARTROSIS ROTULIANA?
               La artrosis rotuliana es el da&ntilde;o de cart&iacute;lago en la zona paletar (r&oacute;tula) que al lesionarse, no es capaz de soportar una peso  f&iacute;sico m&iacute;nima.
               ¿POR QU&Eacute; SE GENERA LA ARTROSIS ROTULIANA?
               La artrosis rotuliana, m&aacute;s que una patolog&iacute;a espec&iacute;fica, es un s&iacute;ndrome de muchos or&iacute;genes, todas referidas a una lesi&oacute;n en la articulaci&oacute;n de rodilla, y que es com&uacute;n entre deportistas j&oacute;venes, mujeres y adultos j&oacute;venes.
               Cada vez es m&aacute;s habitual o&iacute;r sobre la incidencia de artrosis que afectan a la poblaci&oacute;n, sobre todo al segmento adulto mayor. Esta patolog&iacute;a degenerativa articular, es la habitual de las enfermedades articulares y afecta zonas como la regi&oacute;n lumbar, rodilla y caderas, entre otras partes.
               Nos centraremos a exponer  la artrosis patelofemoral, que corresponde a la p&eacute;rdida de cart&iacute;lago en la zona de la patela (r&oacute;tula) la que al da&ntilde;arse no es capaz de soportar una carga  f&iacute;sica m&iacute;nima, como lo es caminar, por ejemplo.
               Cabe consignar que la r&oacute;tula tiene una funci&oacute;n esencial en la biomec&aacute;nica de la rodilla. &Eacute;sta aumenta el efecto de torque de fuerza del cu&aacute;driceps lo que aumenta en dos o tres veces su efectividad. Sin la patela como ocurre tras la patelectom&iacute;a, la fuerza del cu&aacute;driceps disminuye, las fuerzas compresivas femoro-tibiales aumentan y acrecientan la aparici&oacute;n de cambios degenerativos femorotibiales sobre los cart&iacute;lagos y hueso subcondral.
               TRATAMIENTO de  kinesiolog&iacute;a
               
               El tratamiento kin&eacute;sico se iniciara con un enfoque en la disminuci&oacute;n del dolor, mejora de la flexibilidad y fuerza de la extremidad inferior, adem&aacute;s de manipulaciones manuales como masajes o movilizaciones artrokinematicas que ayudar&iacute;an en la ganancia de flexibilidad y movilidad, si los elementos de kinesioterapia no logran efectividad se proceder&aacute; a la intervenci&oacute;n quir&uacute;rgica
                El cirujano solo buscara reparar o reemplazar la estructura da&ntilde;ada en este caso la patela
               Este tipo de lesi&oacute;n es multifactorial ya que la estructura es propensa a recibir una carga elevada de trabajo y peso siendo afectados principalmente deportista en actividad y edad como adulto joven
               
               La artrosis patelofemoral de alta incidencia y prevalencia es muy incapacitante. Numerosos tratamientos han sido propuestos para el tratamiento quir&uacute;rgico de esta patolog&iacute;a cuando fracasa el tratamiento kin&eacute;sico de rehabilitaci&oacute;n. Se divide en tratamientos quir&uacute;rgicos menores (liberaci&oacute;n retin&aacute;culo lateral- eliminaci&oacute;n de  osteofito lateral y resecci&oacute;n de la faceta lateral) y mayores (osteotom&iacute;a de la TAT-cultivo de condrocitos- remplazos articulares). 
               ARTROSIS PATELOFEMORAL
               
               La artrosis patelofemoral es una patologia caracterizada por dolor, impotencia funcional de la rodilla y alteraci&oacute;n o p&eacute;rdida del cart&iacute;lago articular, de una o todas las carillas articulares de la r&oacute;tula y de la tr&oacute;clea femoral. La gran prevalencia de las lesiones es en la faceta lateral.
               Se suma tambi&eacute;n condromalacia rotuliana como la alteraci&oacute;n de las propiedades estructurales (proteoglicanos-col&aacute;geno-agua) y f&iacute;sicas, con modificaci&oacute;n  de las fuerzas de roce y transmisi&oacute;n de presiones del cart&iacute;lago articular de la patela
               Fisiopatolog&iacute;a de la artrosis patelofemoral
               Los estabilizadores est&aacute;ticos m&aacute;s importantes de la articulaci&oacute;n femoro-patelar son los ligamentos femorales-patelo y patelotibiales. Pero este equilibrio tambi&eacute;n depende del alineamiento de la EEII, varo-valgo (angulo tibio femoral de la EEII), las variaciones  rotacionales de versi&oacute;n femoral, la relaci&oacute;n de la rodilla con la posici&oacute;n de la pelvis y su desarrollo muscular.
               Lo dif&iacute;cil  del asunto radica en la organizaci&oacute;n &uacute;nica de estos estabilizadores est&aacute;ticos ligamentarios y &oacute;seos, y factores activos neuromusculares que ayudan a la capacidad funcional y al buen funcionamiento de la articulaci&oacute;n patelofemoral. Existe una gran prevalencia de las injurias en la faceta lateral lo que sugiere una relaci&oacute;n con los s&iacute;ndromes de mal alienaci&oacute;n biomec&aacute;nica.
               Condiciones  como rotula alta, displasia de tr&oacute;clea, un gran &aacute;ngulo Q y sus complicaciones ligamentarias, atrofia del vasto interno y la contractura del retin&aacute;culo lateral condicionaran el desarrollo de fuerzas anormales en la articulaci&oacute;n, generando en trastornos degenerativos posteriores.
               Tras condiciones que generan el desarrollo de la artrosis son micro traumas a repetici&oacute;n (mayoritariamente en deportes), macro traumas, aumento peso y actividad y trastornos gen&eacute;ticos del cart&iacute;lago.
               Hay seis estructuras anat&oacute;micas  responsables del dolor patelofemoral: piel, nervios, retin&aacute;culo, sinovial, m&uacute;sculo y hueso subcondral.
               Muchas patologias sist&eacute;micas pueden afectarlos, pero en kinesiolog&iacute;a   las causas m&aacute;s frecuentes de dolor anterior de rodilla son trauma, sobreuso y mala alineaci&oacute;n rotuliana.
               Evaluaci&oacute;n Cl&iacute;nica y Estudios Complementarios
               Se encontraran a la evaluaci&oacute;n
               El dolor patelofemoral se intensifica en actividades como subir y bajar escaleras, levantarse de una posici&oacute;n sedente, subir cerros o posici&oacute;n de rodillas.
               La atrofia muscular de m&aacute;s 2 cm de per&iacute;metro comparada contra lateralmente, sinovitis y crepitaciones retropatelares son los signos m&aacute;s claros de alteraciones del cart&iacute;lago patelofemoral.
               El aumento del dolor y los crepito en diferentes &aacute;ngulos de flexi&oacute;n ayudan a la localizaci&oacute;n de la lesi&oacute;n. En las alteraciones distales se aumenta el dolor en los primeros grados de flexi&oacute;n y en las proximales se hace evidente en m&aacute;xima flexi&oacute;n.
               Los estudios preoperatorios incluyen Rx simples frente y perfil en 30° y axial a 45°, radiograf&iacute;a de todo la EEII  para analizar la alineaci&oacute;n en el plano frontal y sagital y tomograf&iacute;a computada en diferentes grados de flexi&oacute;n para la valoraci&oacute;n de displasia de la tr&oacute;clea femoral y localizaci&oacute;n relativa de la r&oacute;tula con respecto al f&eacute;mur (subluxaci&oacute;n). Con la informaci&oacute;n obtenida de estos estudios se puede establecer la etiolog&iacute;a de la mala alineaci&oacute;n.
               La RMN con secuencia del cart&iacute;lago es de utilidad para valorar el estado del mismo.
               TRATAMIENTO de rehabilitaci&oacute;n kin&eacute;sica (kinesiolog&iacute;a)
               La rehabilitaci&oacute;n  de kinesiolog&iacute;a es el tratamiento inicial de elecci&oacute;n y en general, el definitivo. Un reducido n&uacute;mero de pacientes requieren tratamiento quir&uacute;rgico ante el fracaso del mismo por un periodo de 3-6 meses.
               Este incluye fortalecimiento muscular del vasto interno para favorecer el correcto alineamiento de la patela, flexibilizaci&oacute;n con t&eacute;cnicas de masajes del retinaculo lateral. Fisioterapia a esto me refiero a electo estimulaci&oacute;n ultrasonido, hielo, vendaje terap&eacute;utico funcional tipo tape, modificaci&oacute;n de actividades, medicaci&oacute;n antinflamatoria,  suplementaci&oacute;n, etc.
               Con eso se espera reducir el dolor, flexibilizar y fortalecer la estructura. Adem&aacute;s es muy recomendable en entrenamiento distal de musculatura, entre ellos se incluye gl&uacute;teo medio y gastronemios. Ya que diversos estudios establecen al musculo gl&uacute;teo medio como un estabilizador din&aacute;mico de la rodilla
               Las alternativas para el manejo quir&uacute;rgico de la artrosis patelo femoral aislada son:

               
masajes terapeuticos
kinesiologia derechamente
medicinas complementarias, (reiki, acupuntura, control de la dieta entre otros
     </p>
     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
    </div>
   </div>
  </section>
 </main>
<%- include('../botones/boton.ejs'); %>
<%- include('../footers/footer.ejs'); %>
</body>


    
   
 
    
 </html>