<html lang="es-CL">

<%- include('../heads/bursitis-trocanter-mayor.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
   <!-- breadcumbs-->
   <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/bursitis-trocanter-mayor" class="breadcrumb">bursistis trocanter mayor</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 

<main class="container">
  <div class="row">
   <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
    <h2 class="flow-text">
     Kinesiolog&iacute;a  y  BURSITIS DEL TROC&Aacute;NTER MAYOR
    </h2>
    <article>
     <h2>
      ¿QU&Eacute; ES LA BURSISTIS DE TROCANTER MAYOR?
     </h2>
     <p class="p_blog">
      La Bursitis trocanteriana es una afecci&oacute;n a la cadera y es muy com&uacute;n en mujeres y tambi&eacute;n en sujetos que posen alguna constituci&oacute;n anat&oacute;mica que la provoca.
     
     La Bursitis troc&aacute;nter mayor es la inflamaci&oacute;n de la Bursa que cubre la zona anat&oacute;mica lateral al troc&aacute;nter mayor. 
     Se ubica en la regi&oacute;n lateral del muslo, espec&iacute;ficamente entre el gl&uacute;teo y la ingle, este se encarga de evitar el roce excesivo entre los tendones y las estructuras Oseas.
     El dolor es muy grande y la molestia se entiende habitualmente en una sintomatolog&iacute;a que es persistente o intermitente, pudiendo presentarse en actividades funcionales de la vida diaria y a veces en reposo.
     Es una patolog&iacute;a cuya irritaci&oacute;n es f&aacute;cilmente activable al esfuerzo o roce, por ejemplo con el uso de ropa muy apretada, estando sedente en el  auto o con estructuras que provoquen compresi&oacute;n local entre la dermis,
     la fascia lata (m&uacute;sculo que cubre al troc&aacute;nter mayor) y las estructuras que est&aacute;n sobre la zona &oacute;sea
     </p>
     <h2>
      ¿POR QU&Eacute; SE PRODUCE?
     </h2>
     <p class="p_blog">
      por lo general es una lesi&oacute;n que se provoca por el efecto de sobre uso, en sencillas palabras el roce repetitivo entre tendones que no soporta la capacidad natural de recuperaci&oacute;n de los tejidos termina por provocar este tipo de lesi&oacute;n inflamatoria en la Bursa trocanteria. Por lo general son los tendones de la fascia lata, el tend&oacute;n del gl&uacute;teo medio  que son estructuras que se insertan en la zona del troc&aacute;nter mayor. Por lo general la lesi&oacute;n es frecuente en deportistas, en particular en los futbolistas y rugbistas, quienes por la intensidad de juego tienden a lesionarse
     Puede ser de origen traum&aacute;tico por fuertes golpes en la zona o de raz&oacute;n idiop&aacute;tica.
     Este tipo de bursitis es m&aacute;s com&uacute;n en mujeres, tambi&eacute;n en sujetos que tienen alguna constituci&oacute;n anat&oacute;mica que la provoca, como tener la banda iliotibial con alg&uacute;n contacto anat&oacute;mico an&oacute;malo, que hace que se produzca la mayor fricci&oacute;n, siendo est&aacute; causa algo m&aacute;s segundaria
     </p>
     <h2>
      SIGNOS Y S&Iacute;NTOMAS
     </h2>
     <p class="p_blog">
      Los principales s&iacute;ntomas de esta lesi&oacute;n son dolor lateral del muslo referido a la zona del troc&aacute;nter mayor, irritaci&oacute;n por alguna prenda de vestir, un poco de marcha claudicante, dificultad para subir o bajar escaleras, dolor al estar sentado, dolor al cruzar las piernas y dolor al  agacharse, etc.
     Adem&aacute;s esto es f&aacute;cil detectarlo con imagenologia de tejidos blandos (ecograf&iacute;a)
     </p>
     <h2>
      DIAGN&Oacute;STICO
     </h2>
     <p class="p_blog">
      El diagn&oacute;stico de esto es por segunda instancia, toda vez que se eval&uacute;a otras patolog&iacute;as que tienen mayor importancia o que generan  mayor da&ntilde;o en la zona y reci&eacute;n ah&iacute; se diagnostica la bursitis trocanteriana, cuando se ha descartado otra lesi&oacute;n.
     Realizar una ecograf&iacute;a de tejidos blandos que permitir&aacute; detectar un aumento de volumen de, de edemas o de alguna se&ntilde;al que confirme la lesi&oacute;n. Adem&aacute;s se puede realizar un examen m&aacute;s sofisticado como una tomograf&iacute;a o una resonancia nuclear magn&eacute;tica, que servir&aacute;n para descartar patolog&iacute;as m&aacute;s graves.
     </p>
     <h2>
      TRATAMIENTO o terapia
     </h2>
     <p class="p_blog">
      Es una lesi&oacute;n de tratamiento lento y largo ya que la Bursa es una estructura inflamada que est&aacute; cerrada si se puede decir en cierta manera, lo que provocara muchas veces que los elementos farmacol&oacute;gicos indicados por el m&eacute;dico no sean de mucho efecto, esto genera a la larga que el paciente sienta que los esfuerzos no son efectivos y tienda a probar otras cosas es posible adem&aacute;s que con el tiempo la lesi&oacute;n pase.

     Como en muchos casos la causa detonante no se conoce, se empieza por la parte b&aacute;sica del tratamiento, que es la aplicaci&oacute;n de farmacolog&iacute;a antiinflamatoria, analg&eacute;sico, crioterapia, evitar el sobre esfuerzo que gatille la lesi&oacute;n, tanto en los m&uacute;sculos abductores y gl&uacute;teos. Evitar condiciones  que produzcan lesi&oacute;n o dolor en la regi&oacute;n de la cadera.
     Dentro del tratamiento convencional muchos pacientes se recuperan pero en menor porcentaje siendo una buena opci&oacute;n la infiltraci&oacute;n
     La aplicaci&oacute;n terap&eacute;utica implementada por el profesional de la kinesiolog&iacute;a consistir&aacute; en 
     Electro estimulaci&oacute;n sensitiva, ultrasonido y crioterapia, como mecanismo para disminuir el dolor y los procesos inflamatorios, adem&aacute;s de ejercicios de masajes en algunas condiciones locales o distales
     Ejercicios de reeducaci&oacute;n de las condiciones que general la lesi&oacute;n
     Otros elementos muy buenos es la aplicaci&oacute;n de acupuntura para disminuir el dolor y efectos inflamatorios
     Por &uacute;ltimo, en casos escasos se llega a la cirug&iacute;a, aunque los m&eacute;dicos no  aseguran que tendr&aacute; &eacute;xito la cirug&iacute;a.
     </p>
     <h2>
      RECUPERACI&Oacute;N
     </h2>
     <p class="p_blog">
      Por lo general el periodo de tratamiento para este tipo de patolog&iacute;as contempla entre 3 a 4 meses en la forma convencional, ya ahora si es por medios de medidas quir&uacute;rgicas estas pueden tomar como entre 6b a meses a 1 a&ntilde;o Con en cuanto  a los resultados, esta lesi&oacute;n es de tipo recurrente por lo que puede mejorar y volver constantemente, ya que depender&aacute; de los factores biomec&aacute;nicos que provocaron el exceso de roce sobre la estructura generando el aumento del roce y con ellos la bursitis
     </p>
     <h2>
      PREVENCI&Oacute;N
     </h2>
     <p class="p_blog">
      Lo recomendable inicialmente es tener una buena rutina de flexibilizaci&oacute;n de la musculatura en general para evitar que un exceso de roce por falta de flexibilidad genere la lesi&oacute;n
     Es importante adem&aacute;s tener un buen fortalecimiento de la musculatura encargada de estabilizar la estructura como lo es gl&uacute;teo medio y su componente  de estabilizador din&aacute;mico, y en general toda la musculatura del CORE.
     En ocasiones es ideal adem&aacute;s poder contar con alguna sesiones con masajista para liberar de manera m&aacute;s espec&iacute;fica y profesional las estructuras musculo tendinosa
     Se suma adem&aacute;s una adecuada t&eacute;cnica de entrenamiento en caso de deporte, esto incluye vestimenta, superficies de entrenamiento y dosis de entrenamiento.

     Si en cualquier caso presentan este tipo de lesiones y las medidas profil&aacute;cticas tradicionales no son efectiva tambi&eacute;n es bueno recurrir a elementos no tan comunes, como lo es la medicina tradicional china que en los &uacute;ltimos a&ntilde;os ha presentado resultados importantes en diversas patolog&iacute;as, tanto as&iacute; que la misma OMS ya la acepta como un elemento terap&eacute;utico
     </p>
     <img alt="imagen bursitis trocante mayor - las condes" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
    </article>
   </div>
  </div>
 </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>