<html lang="es-CL">

<%- include('../heads/fractura-cadera.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-cadera" class="breadcrumb">fractura cadera</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 
<main class="container">
  <div class="row">
   <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
    <article>
     <h2 class="flow-text">
      Kinesiolog&iacute;a  en FRACTURA DE CADERA
     </h2>
     <h3>
      LA FRACTURA DE CADERA
     </h3>
     <p class="p_blog">
      La fractura de cadera es una lesi&oacute;n com&uacute;n en adultos mayores esta por lo com&uacute;n ocurre en el cuello del f&eacute;mur aunque dependiendo del tipo de lesi&oacute;n puede esta  ser completa o incompleta de ello depender&aacute; el tipo de intervenci&oacute;n quir&uacute;rgica que tendr&aacute; a futuro
     </p>
     <h3>
      FRACTURA DE CADERA: DEFINICIÓN
     </h3>
     <p class="p_blog">
      Esta  lesi&oacute;n que por lo general ocurre en la zona del cuello del f&eacute;mur, por lo general las pacientes que sufren esta lesi&oacute;n son mujeres en la mayor&iacute;a de edad post menopausia, donde por las condiciones hormonales, se produce mayor aumento en las condiciones de osteopenia (osteoporosis), l evento siempre ocurre con una ca&iacute;da, donde la fractura puede ser total o parcial ya que de eso depender&aacute;  a futuro la intervenci&oacute;n quir&uacute;rgica si esta ser&aacute; reemplazo prot&eacute;sico total o parcial.
     </p>
     <h3>
      ¿QUÉ LA PRODUCE?
     </h3>
     <p class="p_blog">
      Una de las causa principales de esta lesi&oacute;n es el proceso de osteoporosis u osteopenia, las mujeres por lo general se ven m&aacute;s afectadas por las condiciones hormonales y las descalcificaciones que pudieron verse afectada en los periodos gestacionales y de amamantar. Adem&aacute;s se ven inmersos otros factores como perdidas de equilibrio o alteraciones en los procesos, este evento por lo general se deber a ca&iacute;das dentro o fuera del hogar
         En pacientes m&aacute;s j&oacute;venes ocurre por lo general por eventos traum&aacute;ticos de  alto impacto  como motociclismo, lesiones en autom&oacute;vil o ca&iacute;das de altura.
     </p>
     <h3>
      SÍNTOMATOLOGIA DE LA FRACTURA DE CADERA
     </h3>
     <ul>
      <li>
       el dolor e impotencia funcional
      </li>
      <li>
       dolor referido tanto a la zona de la cadera como de la rodilla.
      </li>
      <li>
       Acortamiento de la extremidad afectada con rotación externa del pie
      </li>
     </ul>
     <h3>
      DIAGNÓSTICO
     </h3>
     <p class="p_blog">
      El diagn&oacute;stico definitivo es el radiogr&aacute;fico que por sencillo que parezca es suficiente para confirmar la fractura.
     </p>
     <h3>
      ¿CÓMO INTERVENIR EN LA FRACTURA DE CADERA?
     </h3>
     <p class="p_blog">
      La cirug&iacute;a buscara si es el caso reemplazar por completo la estructura da&ntilde;ada sino solo ser&aacute; intervenida de manera parcial, con el objetivo de restablecer el mecanismo funcional de la cadera que es soporte y movilidad.
         Pr&oacute;tesis total o parcial: de esta depender&aacute; si la fractura es completa o se ve comprometida la irrigaci&oacute;n de la cabeza femoral, aunque es una intervenci&oacute;n m&aacute;s grande, el proceso de recuperaci&oacute;n  es m&aacute;s r&aacute;pido, ya que al d&iacute;a siguiente de la intervenci&oacute;n los pacientes comienzan su proceso de rehabilitaci&oacute;n con la caminata
         Osteos&iacute;ntesis: en esta una de las m&aacute;s usada es el clavo gama que es una estructura que atraviesa el troc&aacute;nter mayor insert&aacute;ndose en la cabeza del f&eacute;mur, con anclajes en la di&aacute;fisis del f&eacute;mur
         Aqu&iacute; el inicio del proceso de rehabilitaci&oacute;n tiende a demorarse un poco m&aacute;s solo por el hecho que el entrenamiento de la marcha se deber posponer unas 4 semanas, aun as&iacute; no es una intervenci&oacute;n tan grande como la anterior y el paciente de mayor edad la tolera mejor.
         Hay casos en los los pacientes no son candidatos para cirug&iacute;a, ya sea por la edad o por factores asociados a toras patolog&iacute;as o porque no resistir&aacute;n el proceso e la anestesia.
         Una vez terminada el proceso de la cirug&iacute;a el paciente estar&aacute; en &oacute;ptimas condiciones para ingresar al programa de rehabilitaci&oacute;n kin&eacute;sica, en la cual los principales objetivos ser&aacute; lograr la marcha (caminata) u obviamente la actividad funcional completa de las personas intervenidas, en lo posible sin ayudas t&eacute;cnicas (bast&oacute;n). La recuperaci&oacute;n ser&aacute; por lo ideal entre un periodo de 3 a  5 meses dependiendo de la edad y condiciones f&iacute;sicas previas
     </p>
     <h3>
      ¿CÓMO EVITAR LA FRACTURA DE CADERA?
     </h3>
     <p class="p_blog">
      Inicialmente es evitar los factores de riesgo m&aacute;s habitual, en adulto mayor por lo general es por perdida de equilibrio habitualmente en el hogar o desplaz&aacute;ndose en otras zonas no habituales, en esto influye muchos factores como la presbicia, hipertensi&oacute;n o alteraci&oacute;n en la propiocepcion, para ellos es recomendable cuidar de estos factores como el uso adecuado de los anteojos, control con el otorrino y actividad f&iacute;sica habitual.
         Es importante la dieta, y evitar los procesos naturales de osteopenia con una dieta rica en calcio para evitar las perdidas (el musculo necesita de calcio para su contracci&oacute;n, a falta de este lo tomara del metabolismo de los hueso)
     </p>
    </article>
   </div>
   <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
   <div class="divider">
   </div>
  </div>
 </main>
   
    <%- include('../botones/boton.ejs'); %>  
    <%- include('../botones/menu-flotante.ejs'); %>     
    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>