<html lang="es-CL">

<%- include('../heads/condromalacia-rotuliana.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
  <!-- breadcumbs-->
  <nav > 
    <div class="nav-wrapper container">
        <div class="col s12">
          <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/condromalacia-rotuliana" class="breadcrumb">condromalacia</a>

        </div>
      </div>
</nav>

<!--fin breadcumbs-->

 
<main class="container">
  <div class="row">
   <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
    <article>
     <h2 class="flow-text">
      Kinesiolog&iacute;a  y  CONDROMALACIA PATELAR 
     </h2>
     <p class="p_blog">
      Esta patolog&iacute;a es una condici&oacute;n en la cual el cart&iacute;lago que se encuentra bajo la patela esta reblandecido, a la evaluaci&oacute;n tiende a crujir (crepitar) y a veces en doloroso, la posible evoluci&oacute;n a futuro es que tienda a generar artrosis en aquella zona.


      La condromalacia en la patela se debe al da&ntilde;o por efecto de aumento de roce  del cart&iacute;lago o tejido blando que est&aacute; ubicado en la zona que entra en contacto con los c&oacute;ndilos de la rodilla. Se provoca mayoritariamente entre quienes realizan deportes como f&uacute;tbol, basquetbol, ciclismo, tenis y runming. Aunque igual puede provocarlo otras condiciones como mala t&eacute;cnica de entrenamiento alteraciones anat&oacute;micas que afectan la biomec&aacute;nica de la estructura, aumento de peso entre otras.
      La funci&oacute;n del cart&iacute;lago articular en soportar peso como un amortiguador y reducir el efecto de roce este se compone mayoritariamente de agua 90%, adem&aacute;s de otros elementos, su condici&oacute;n es especial, por lo mismo no posee capacidad de auto reparaci&oacute;n como otras estructuras
     </p>
     <h2>
      LESI&Oacute;N DEL CONDROCITO
     </h2>
     <p class="p_blog">
      Cuando el roce y las presiones en la estructura de la patela tienden a sobrepasar la capacidad de absorber impacto del cart&iacute;lago infrapatelar, este comienza a reblandecerse, tiende a ponerse rugoso y a presentar crepitaciones, siendo en ocasiones doloras. Incluye lesionando la estructura por completo y afectando a la zona &oacute;sea
    La funci&oacute;n principal de la patela es funcionar como un fulcro, esto quiere decir aumenta la fuerza y palanca que puede realizar la rodilla gracias a este elemento siendo m&aacute;s eficiente el esfuerzo, por lo mismo debe manejar muchas condiciones de precio y roce. Su ubicaci&oacute;n anat&oacute;mica est&aacute; en un surco que se encuentra entre los c&oacute;ndilos femorales a distal
    Existen condiciones, en que el movimiento de la r&oacute;tula no es el adecuado, generando condiciones como mal alineaci&oacute;n patelar, provocando roces importantes que da&ntilde;an al cart&iacute;lago, haci&eacute;ndolo m&aacute;s delgado e irregular, incluso con surcos y desgarros.
    Esta alteracion deduce en que la rodilla provoca sonidos y chasquidos realizar ciertos movimientos, existe un test cl&iacute;nico sencillos, llamado en que se t&oacute;mala patela con el pulgar e &iacute;ndice y se arrastra hacia abajo, luego se le pide al paciente que realice una contracci&oacute;n del cu&aacute;driceps al efectuar el movimiento se oir&aacute; un crepito. Otras condiciones que pueden generar eso es  subir o bajar escaleras, caminar o agacharse en otras condiciones puede generar dolor y limitaci&oacute;n a la flexi&oacute;n de la rodilla.
    Esta condici&oacute;n anormal es llamada condromalacia rotuliana y puede afectar a las personas en diversos grados de intensidad.
    Los grupos de riesgos mayoritariamente se centran en deportistas, sobre todo de alto rendimiento, personas con sobre peso y con carga de trabajo en la extremidad de manera excesiva. Condiciones anormal a las rodillas, as&iacute; como adultos mayores, debido a que sus articulaciones posen un desgaste natural y mayor y  con mayor facilidad tienden  a presentar problemas de artrosis.
     </p>
     <h3>
      SÍNTOMATOLOGIA
     </h3>
     <p class="p_blog">
      Los da&ntilde;os y cesaciones pueden variar dependiente del tipo y evoluci&oacute;n del da&ntilde;o en el cart&iacute;lago articular
Dolor zona  anterior de la rodilla, este puede ser muy intenso y aumenta despu&eacute;s de estar sentado durante largos periodos (signo de la butaca de cine), al subir escaleras o al estar de cuclillas.
dolor en la articulaci&oacute;n y percepci&oacute;n de aumento de la cizalla cuando se extiende la pierna.
En ocasiones se percibe una crepitaci&oacute;n en la zona, a&uacute;n sin apoyarse en el piso. Las condiciones que provoca esta alteraci&oacute;n tiende ser alternantes, por lo que los pacientes rechazan la idea de realizar un tratamiento de  kinesiolog&iacute;a que pueda mejorar la condici&oacute;n, dejando todo as&iacute; esto puede evolucionar  a futuro derechamente a  una artrosis, la cual el da&ntilde;o es mayor y sin vuelta .
Uso de im&aacute;genologia

     Inicialmente se piden radiograf&iacute;as, aun as&iacute; esto no dar&aacute; exactitud en el diagn&oacute;stico, es preferible la toma de alguna resonancia para apreciar de mejor manera el tejido blando da&ntilde;ado, aun as&iacute; en condiciones con los test cl&iacute;nicos de pruebas es suficiente para comenzar con el tratamiento de rehabilitaci&oacute;n.
     </p>
     <h2>
      DIAGN&Oacute;STICO
     </h2>
     <p class="p_b">
      El diagnostico se llevara a cabo inicialmente por la historia cl&iacute;nica del paciente pasando por algunos test cl&iacute;nicos que pueden confirmar el mecanismo que gatilla la molestia, test funcionales que coadyudaran a confirmar y sobre todo un diagnostico 100% seguro lo indicara la resonancia magn&eacute;tica
  Es com&uacute;n hallar pacientes deportista con sobre entrenamiento o sobre esfuerzo, personas con aumento de peso, o con lesiones traum&aacute;ticas antiguas, esto al provocar dolor desincentiva a las personas a continuar con esfuerzos sobre la estructura, con lo que comienza un proceso de p&eacute;rdida de atrofia muscular  y desbalance muscular, alterando la biomec&aacute;nica de la articulaci&oacute;n de la patela con los c&oacute;ndilos  Esto lleva a aparici&oacute;n de dolor en reposo, por ejemplo al estar sedente. Aparecen crepitos y resaltos en la rodilla. Esto provoca mayor temor a la actividad deportiva en las personas provocando una lesi&oacute;n c&iacute;clica en la que el paciente no provocara esfuerzo alguno en esta zona; una de las bases de la rehabilitaci&oacute;n kin&eacute;sica en esta condici&oacute;n es apoyarse con el fortalecimiento  del cu&aacute;driceps ya que este al estar activo y en &oacute;ptimas condiciones en cuanto a t&eacute;rminos de eficacia y fuerza actuar&iacute;a en cierta medida como un amortiguador.
  Adem&aacute;s se deben descartar alteraciones biomec&aacute;nicas de otro tipo, como  problemas a nivel de la cadera o tobillo-pie que est&eacute;n alterando y favoreciendo la condici&oacute;n de la condromalacia...
  M&eacute;todos complementarios de evaluaci&oacute;n kin&eacute;sica incluir&aacute;n estudio de marcha, fuerza y flexibilidad que mejoraran el elemento de una hip&oacute;tesis diagnostica.
     </p>
     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
     <h2>
      TRATAMIENTO
     </h2>
     <p class="p_blog">
      Las medidas terap&eacute;uticas que se aplicaran en esta condici&oacute;n son 
    Electro estimulaci&oacute;n; inicialmente sensitiva para reducir los efectos del dolor, luego se puede aplicar con enfoque de estimular la musculatura para reducir los efectos de la atrofia y comenzar de esa manera a ser m&aacute;s efectiva la posterior fase de fortalecimiento del cu&aacute;driceps
    Ultrasonido. Se aplicara con objetivo de recudir el dolor principalmente y efectos inflamatorios
    Termoterapia: esta puede aplicarse de manera alterna en frio o calor, b&aacute;sicamente para modular la condici&oacute;n de gate control y modulaci&oacute;n del dolor por los receptores de temperatura
    Vendaje tape: en general este ser&aacute; un coadyudante, los pacientes refieren buena respuesta a la aplicaci&oacute;n de vendaje deportivos como el tipo tape el&aacute;stico
    Masajes: el objetivo es netamente mejorar las condiciones de flexibilidad de los tejidos colindante principalmente cu&aacute;driceps, tend&oacute;n rotuliano
    Flexibilidad: principalmente de todos los componentes de la extremidad inferior esto incluye inicialmente cu&aacute;driceps y isquiotibiales, gastronemios en general, banda iliotibial, y psoas iliaco
    Fortalecimiento: aqu&iacute; a mi parecer entra el eje principal de tratamiento de kinesiolog&iacute;a  al corto plazo se encara al cu&aacute;driceps, isquiotibiales gastronemios y gl&uacute;teo medio, tanto en condiciones isom&eacute;tricas inicialmente para progresar a din&aacute;micas

    Cuando estas medidas no son suficientes el medico ya optar&iacute;a con aplicaciones quir&uacute;rgicas que van desde la infiltraci&oacute;n tradicional o plaquetaria o incluso a la cirug&iacute;a
     </p>
     <h2>
      ¿QU&Eacute; PUEDE GENERAR CONDROMALACIA?
     </h2>
     <p class="p_blog">
      Ya sabemos que la condici&oacute;n es generada por una alteraci&oacute;n en las condiciones del cart&iacute;lago infra rotuliano est&aacute; m&aacute;s blando y propenso a ruptura con poca capacidad de absorber impactos, pero adem&aacute;s es provocada por las siguientes condiciones:
    •	Traumatismo directo, como por ejemplo ca&iacute;da sobre la rodilla, impacto accidental contra una estructura o a causa de accidentes en veh&iacute;culo.
    •	Desgaste por sobreuso, principalmente al realizar acciones deportivas que sobre exijan a la articulaci&oacute;n; por lo mismo es importante la dosificaci&oacute;n y el cuidado de los factores de riesgos.
    •	Tener una forma de caminar que genere lesiones en la articulacion. Esto se debe principalmente a  alteraciones biomec&aacute;nicas de  la extremidad que puede ser originadas desde el pie (ej.: pie plano o pie bot), desde la cadera (como aumento del angulo de varo o valgo en la zona coxo-femoral), como el uso de calzado con tacones altos; por ello se considera que el grupo femenino est&aacute;n m&aacute;s propensas a la lesi&oacute;n que los hombres.
    •	 los sujetos que a priori han sufrido una luxaci&oacute;n o fractura en la rodilla tienen m&aacute;s probabilidades de presentar esta patolog&iacute;a.
     </p>
     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
     <h2>
      REHABILITACI&Oacute;N  EN KIN&Eacute;SIOLOGIA
     </h2>
     <p class="p_blog">
      La primera herramienta teerapeutica ser&aacute; reducir o disminuir los factores de riesgo que provocan la lesi&oacute;n, esto es actividades deportivas, subir o bajar escaleras, control del peso, favorecer el reposo inicialmente.
     </p>
     <h2>
      PRIMERA ETAPA
     </h2>
     <p class="p_blog">
      Aplicaci&oacute;n tradicional de elementos de  fisioterapia 
    Crioterapia, electro estimulaci&oacute;n, ultrasonido entre los elementos b&aacute;sicos, adem&aacute;s de ejercicios que favorezcan la flexibilizaci&oacute;n y fortalecimiento isom&eacute;tricos de la musculatura. Si el dolor es muy invalidante se favorecer&aacute; el entrenamiento muscular de zonas distales como gl&uacute;teo medio y gastronemios.
     </p>
     <h2>
      SEGUNDA ETAPA
     </h2>
     <p class="p_blog">
      Se continuara con los ejercicios isom&eacute;tricos sobre todo en zona de cu&aacute;driceps evitando &aacute;ngulos de flexi&oacute;n de rodilla que aumenten el grado de precio de la r&oacute;tula con el f&eacute;mur (por lo general evitar &aacute;ngulos mayores a 90° de flexi&oacute;n de rodilla), se puede y es ideal los ejercicios en cadena cin&eacute;tica cerrada, ya que se puede trabajar m&aacute;s funcionalmente la extremidad y muchos m&uacute;sculos a la vez.
      Un ejercicios ideal es apoyar la espalda a la pared y bajar levente la flexi&oacute;n de rodilla, ideal 60°, en esa posici&oacute;n con la espalda apoyada en la pared uno asemeja una postura como si estuviese en una silla invisible, esto trabajara la musculatura conc&eacute;ntricamente en cu&aacute;driceps, isquiotibiales y gl&uacute;tea principalmente
      Seguir con los ejercicios de flexibilidad, principalmente cu&aacute;driceps, isquiotibiales, gatronemios, banda iliotibial, flexor de cadera. Aunque parezca parad&oacute;jico si se debe fortalecer el cu&aacute;driceps pero adem&aacute;s al alongarlo reducimos los efecto de excesiva presi&oacute;n que puede ejercer el tend&oacute;n rotuliano contra la r&oacute;tula, es mucho m&aacute;s ideal una musculatura flexible y fuerte que solo fuerte, esto reduce al largo plazo la posibilidad de futuras lesiones de todo tipo.
      Es ideal adem&aacute;s reentrenar el mecanismo din&aacute;mico de la rodilla, principalmente mejorar la condici&oacute;n de apoyo unipodal durante el ciclo de la marcha, en esa fase puede ocurrir un efecto en que la pierna rote hacia adentro por debilidad de los estabilizadores de la cadera. Por lo mismo es important&iacute;simo el fortalecimiento del musculo gl&uacute;teo medio tanto en aspecto de fuerza como en su funci&oacute;n din&aacute;mica en la marcha o carrera.
     </p>
     <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
     <div class="divider">
     </div>
     <h2>
      REINTEGRO A LA ACTIVIDAD DEPORTIVA
     </h2>
     <p class="p_blog">
      El retorno lo ideal es realizarlo progresivamente aunque siempre depender&aacute; del tipo o gravedad de la lesi&oacute;n y si se asocia a otros factores como la edad, peso y experiencias previa en actividades deportivas.
      La rehabilitaci&oacute;n con el kinesi&oacute;logo  mejorara en gran medida los tiempos de retorno a la actividad f&iacute;sica, es ideal lograr evaluaciones peri&oacute;dicas de la condici&oacute;n con el profesional para no caer en recidivas.
      Aunque existen pautas para el retorno a la actividad f&iacute;sica siempre lo m&aacute;s adecuado es respetar los tiempos fisiol&oacute;gicos de recuperaci&oacute;n del cuerpo, el paciente puede si o si realizar actividad f&iacute;sica sobre todo si est&aacute; ligado al deporte, de esta forma no perder&aacute; progresos en su entrenamiento, las actividades m&aacute;s recomendadas son bicicleta est&aacute;tica ojalas sin carga, el&iacute;ptica, nataci&oacute;n.
      Analizar los factores de riesgos extr&iacute;nsecos como superficie de entrenamiento, calzado o alteraciones en la biomec&aacute;nica esto es falta de fuerza flexibilidad etc.

      Tambi&eacute;n se pueden aplicar vendaje funcional como el tape kin&eacute;sico  el cual presenta muy buena respuesta por parte de los pacientes en t&eacute;rminos de sentirse m&aacute;s seguros y reducci&oacute;n de la sintomatolog&iacute;a, adem&aacute;s con este elemento se puede educar al paciente en su implementaci&oacute;n para mantenerlo como una estrategia en casos de recidivas.
      Aunque existen en el mercado productos como la glucosamisa o las recetas de col&aacute;geno suplementario indicadas por algunos m&eacute;dicos, la verdad es que no existe evidencia en que el cart&iacute;lago se regenere hablando ya en t&eacute;rminos de histolog&iacute;a este tejido no tiene capacidad de regeneraci&oacute;n, por lo mismo la mejor estrategia a largo plazo ser&aacute; el fortalecimiento y flexibilizaci&oacute;n para evitar que siga progresando a una artrosis derechamente.
      En algunos casos es recomendable cambiar el deporte que pudiese generar el da&ntilde;o, aunque parezca contradictorio, el deporte genera mucha patolog&iacute;a musculo esquel&eacute;tica, no pasa lo mismo con la actividad f&iacute;sica que sutilmente parecieran lo mismo pero no lo son.
      Ya en caso que los elementos conservadores de terapia  no den resultados se podr&iacute;a optar por la cirug&iacute;a, aunque es preferible evitar esta opci&oacute;n por los bajos resultados de &eacute;xito (recordar que el cart&iacute;lago no se regenera).
     </p>
     <h2>
      RECOMENDACIONES
     </h2>
     <p class="p_blog">
      Evitar la flexi&oacute;n excesiva y repetitiva de la extremidad
Evitar ejercicios tipo estep (subir y bajar una plataforma)
Reducir factores de riesgo; peso, t&eacute;cnica deportiva, deporte en s&iacute; mismo etc.
     </p>
    </article>
   </div>
   <img alt="imagen de kinesiologos" class="responsive-img" loading="lazy" src=""/>
   <div class="divider">
   </div>
  </div>
 </main>
   
    <%- include('../botones/boton.ejs'); %>  
    <%- include('../botones/menu-flotante.ejs'); %>     
    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>