<!DOCTYPE html>
<html lang="es-CL" itemscope itemtype="http://schema.org/Article">

<%- include('../heads/dolor-lumbar.ejs'); %>

<body>
<%- include('../navbar/navbar.ejs'); %>

<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1> <%= tiTuloh1%> </h1>
            <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
 <!-- breadcumbs-->
 <nav > 
  <div class="nav-wrapper container">
      <div class="col s12">
        <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
        <a href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor" class="breadcrumb">traumatologia</a>
        <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/dolor-lumbar" class="breadcrumb">dolor lumbar</a>

      </div>
    </div>
</nav>

<!--fin breadcumbs-->
<main class="container">
  <section>
   <div class="row">
    <div class="col s12" id="H2_blog">
     <h2 id="H2_blog">
       Lumbago agudo y cronico, tratamiento y características
     </h2>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="row">
    <div class="col">
     <h2>
       dolor lumbar y kinesiologia
     </h2>
     <p class="p_blog">
        
El dolor lumbar, también conocido como dolor de espalda baja, es una condición muy común que afecta tanto a personas activas como a personas sedentarias, sin embargo, se observa con mayor frecuencia en la segunda categoría.
La definición del dolor lumbar es amplia, pero en términos generales, se refiere a cualquier tipo de dolor o molestia que se siente en la parte inferior de la espalda, incluyendo la zona lumbar y sacroiliaca.
Según los informes médicos, el dolor lumbar representa aproximadamente el 20% de las consultas en medicina general, y se estima que las enfermedades relacionadas con la columna vertebral son responsables de casi un tercio de los costos de ausentismo laboral en todo el mundo.
Se sabe que al menos el 80% de la población experimentará dolor lumbar en algún momento de su vida, y de estos casos, alrededor del 60% pueden tener una recurrencia dentro de los siguientes dos años. Por lo tanto, es crucial abordar adecuadamente el tratamiento y la rehabilitación y <strong>kinesiologia</strong> del dolor lumbar, con el objetivo de disminuir la tasa de recurrencia y mejorar la calidad de vida de los pacientes.
Es importante destacar que existen diferentes patologías relacionadas con el dolor lumbar, y que pueden variar dependiendo de la edad y las condiciones físicas de cada individuo. Por ejemplo, en las primeras etapas de la vida, se pueden encontrar anomalías congénitas o deformidades de la columna vertebral, mientras que en etapas posteriores, pueden surgir problemas debido al desgaste natural y la inestabilidad de la columna vertebral. Además, hay una mayor incidencia de hernias de disco, infecciones y estenosis en la columna vertebral a medida que se envejece.
     
     </p>
     <section class="section">
      <div class="container">
       <h2 class="center-align">
        otro tipos de dolores lumbares
       </h2>
       <div class="row">
        <div class="col s12 m6">
         <div class="card">
          <div class="card-image">
           <img alt="kinesiologia en cervical" src="/public/images/traumatologia/cervical.webp"/>
           <span class="card-title">
            cervical
           </span>
          </div>
          <div class="card-content">
           <p> patologia cervical sus causas y tipo de tratamiento como abordarlos y otras cosas que te pueden interezar  </p>
          </div>
          <div class="card-action">
           <a class="producto" href="#">
            Ver productos
           </a>
          </div>
         </div>
        </div>
        <div class="col s12 m6">
         <div class="card">
          <div class="card-image">
           <img src="/public/images/traumatologia/estiramiento-lumbar.webp"/>
           <span class="card-title">
            ejercicios terapeuticos
           </span>
          </div>
          <div class="card-content">
           <p>
            Patologia y ejercicios terapeuticos manejo del dolor y efectividad
           </p>
          </div>
          <div class="card-action">
           <a class="producto" href="#">
            Ver productos
           </a>
          </div>
         </div>
        </div>
        <div class="col s12 m6 offset-m3">
         <div class="card">
          <div class="card-image">
           <img src="/public/images/traumatologia/vertebras-torácicas.webp"/>
           <span class="card-title">
            patologia en la columna dorsal
           </span>
          </div>
          <div class="card-content">
           <p> patologia en columna dorsal ciaticos , colapso de las vertebras por fracturapor estress
           </p>
          </div>
          <div class="card-action">
           <a class="producto" href="#">
            Ver productos
           </a>
          </div>
         </div>
        </div>         
        
       </div>
      </div>
     </section>


     <img alt="kinesiologo lumbago" class="responsive-img" loading="lazy" src="/public/images/traumatologia/estiramiento-lumbar.webp"/>
     <div class="divider">
     </div>
     <h3> lumbar</h3>
     <p class="p_blog">
       en las condiciones de la columna lumbar y el papel de la rehabilitacion de esta el kinesiologo juega un rol importantisimo ya que a diferencia de la accion medica que solo diagnostica la zona del problema el kinesiologo en terminos de rehabilitacion debe realizar su propio diagnostico kinesico para poder determinar cual es la estructura que realmente esta disparando la sintomatologia, ya que el tratamiento no sera igual si el dolor es por sindrome facetario, desgarro del disco vertebral, contractura muscular, o sindrome del piriforme entre tantas otras patologias.
       cada lesion tendra objetivos terapeuticos diferentes y estos en si mismo dependeran del daño y la escala del dolor que tenga el paciente al momento de la intervencion terapeutica, en todas ellas si o si debe atenderse un esquema de ejercicios terapeuticos los cuales seran la base fundamental del proceso de rehabilitación y en la cual las patologias lumbares son super dependientes
        
     </p>
     <h3>patologias de las vertebras lumbares</h3>
     <p class="p_blog">
        La columna vertebral cumple una función vital en nuestro cuerpo, ya que protege la médula espinal y proporciona estructura a la jaula torácica, que alberga órganos importantes. La disposición de la médula y las raíces nerviosas se puede observar en un esquema anatómico de la vértebra.
        El dolor lumbar es una afección común en la población y puede tener diferentes causas dependiendo del estilo de vida de cada individuo. En personas que realizan deporte regularmente, las causas más comunes son el lumbago, fracturas por estrés o lisis de pars articular y contracturas de musculatura paravertebral. Mientras tanto, en personas sedentarias, los trastornos propios del desgaste (artrosis), desbalances musculares, discopatías sintomáticas y otras patologías también pueden ser causa de dolor lumbar. Es importante destacar que una persona sedentaria puede desarrollar patologías que son más frecuentes en personas que realizan deporte regularmente y viceversa.
        
     </p>
     <div class="divider">
     </div>
     <h3>
         programa terapeutico en lumbago
     </h3>
     <p class="p_blog">
         el tratamiento del lumbago por lo general tiende a seguir ciertas reglas que son super efectivas y las cuales son basadas en estudios clinicos controlados, un objetivo principal es obviamente disminuir el dolor, en este apartado se pueden usar diferentes elementos, como electroestimulación transcutanea, ultrasonido terapeutico, compresas calientes para disminuir la tension muscular, masajes localizados en la zona. entre otros
         dentro de mi gama terapeutica personalmente me gusta trabajar en conjunto con tecnicas de acupuntura china las cuales son un plus super efectivo para controlar la sintomatologia y poder comenzar con los ejercicios terapeuticos enfocados al lumbago
     </p>
     <img alt="imagen de lesiones y fracturas" class="responsive-img" loading="lazy" src="/public/images/traumatologia/electro-tens.webp"/>
     <div class="divider">
     </div>
     <h3> kinesiterapia y ejercicios terapeuticos  </h3>
     <p class="p_blog">
         dentro de los ejercicios terapeuticos existe una gama que es muy efectiva para el dolor lumbar
         dentro de menos dolorosos para comenzar a movilizar la columna estan los de movilizacion pelvica, los cuales sencillamente se pide realizar movimineto de retroversion pelvica, o rotaciones de la misma 

         luego se puede movilizar con ciertos ejercicios similares a pilates o yoga los cuales buscan movilizar la columna con ejercicios de puente los cuales puedne ser estaticos y dinamicos
         <ol>
             <li>  ejercicios de puente con elevacion de una piernas</li>
             <li>  
                ejercicios de puente como perro y gato como en yoga</li>
             <li>  ejercicios de puente tipo superman</li>
         </ol>

     
       

         los objetivos de estos ejercicios es estabilizar la columna activación de la musculatura multifida, tranverso del abdomen y oblicuos los cuales son escenciales para disminuir el dolor 

         para terminar se lleva a cabo flexibilizacion de musculatura como isquiotibiales y piriforme los cuales tienen una relacion directa en su acortamiento muscular y la incidencia y prevalencia en el dolor lumbar
     </p>
     <img alt="rehabilitacion en traumatologia" class="responsive-img" loading="lazy" src="/public/images/traumatologia/dolor-lumbago.webp"/>
    </div>
   </div>
  </section>
  
 </main> 
    <%- include('../botones/boton.ejs'); %> 
    <%- include('../botones/menu-flotante.ejs'); %> 

    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>