<html lang="es-CL">

<%- include('../heads/fractura-tobillo.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-tobillo" class="breadcrumb">fractura tobillo</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 
  <main class="container">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
       <h2 class="flow-text">
        Kinesiolog&iacute;a  en  LUXOFRACTURA DE TOBILLO
       </h2>
       <p class="p_blog">
        Este tipo de lesi&oacute;n puede tener diversos tipo de mecanismo que la provoquen, por lo general el m&aacute;s habitual es producto de la rotaci&oacute;n de l en la que se puede fracturar o tibia o peron&eacute; o ambas juntas la lesi&oacute;n o rasgos de la fractura puede ser desde oblicua, transversal o conminuta.
       </p>
       <h3>
        DEFINICI&Oacute;N LUXOFRACTURA DE TOBILLO
       </h3>
       <p class="p_blog">
        Este tipo de lesi&oacute;n incluso el da&ntilde;o &oacute;seo adem&aacute;s del da&ntilde;o que puede ocurrir producto de una luxaci&oacute;n en la zona que ira desde la ruptura a de la capsula articular hasta ligamentos estabilizadores de la zona.
       </p>
       <h3>
        ¿POR QU&Eacute; SE PRODUCE LA LUXOFRACTURA DE TOBILLO?
       </h3>
       <p class="p_blog">
        Generalmente es por un aumento de la energ&iacute;a en el mecanismo de lesi&oacute;n de inversi&oacute;n excesiva con carga de peso y rotaci&oacute;n, aunque tambi&eacute;n existen casos en que el mecanismo de lesi&oacute;n implica impacto al caer de altura o que sobre la estructura impacten elementos que afectos su continuidad.
       </p>
       <h3>
        DEPORTE EN QUE M&Aacute;S SE PRODUCE
       </h3>
       <p class="p_blog">
        En la mayor&iacute;a de los deportes colectivos se produce este tipo de lesiones ya que en el enfoque competitivo los deportistas est&aacute;n muy enfocado en los resultaos terminando por afectar a compa&ntilde;eros o contendientes con este tipo de lesi&oacute;n
          Entre ellos podemos nombrar al rugby, futbol, basquetbol etc...
       </p>
       <h3>
        S&Iacute;NTOMAS MAS CARACTERISTICOS
       </h3>
       <p class="p_blog">
        el dolor agudo inmediato despu&eacute;s de la lesi&oacute;n.
 un aumento de volumen
 deformidad del tobillo
 en casos puede haber evidencia de exposici&oacute;n del segmento &oacute;seo
 imposibilidad de carga de peso.
 impotencia funcional para realizar la caminata
       </p>
       <h3>
        DIAGN&Oacute;STICO
       </h3>
       <p class="p_blog">
        El diagnostico b&aacute;sico se realiza con imagenologia en especial tomas de rayos en antero posterior, lateral y oblicuo, aunque tambi&eacute;n es &uacute;til el uso de tomograf&iacute;a para tener una  visi&oacute;n mayor en 3 D
       </p>
       <h3>
        TRATAMIENTO
       </h3>
       <p class="p_blog">
        El tratamiento inicial para este tipo de lesi&oacute;n es la estabilizaci&oacute;n
          Inicialmente puede ser con elemento como botas o yesos, adem&aacute;s dependiendo del da&ntilde;o es probable que se requiera cirug&iacute;a en la que se implementaran elementos de osteos&iacute;ntesis
          Los objetivos de rehabilitaci&oacute;n kin&eacute;sica ir&aacute;n enfocados inicialmente a disminuir los edemas y dolor asociados a la intervenci&oacute;n y fractura
          Posterior mente se puede progresar luego de la 4 semana a una carga leve de peso para ir de la misma manera progresando con ejercicios enfocados en primero restablecer la funcionalidad de la extremindad afectada
          Como disminuci&oacute;n de rango articular
          Ganancia de fuerza y reintegro deportivo
       </p>
       <h3>
        RECUPERACI&Oacute;N
       </h3>
       <p class="p_blo">
        El objetivo principal ser&aacute; disminuir el dolor e inflamaci&oacute;n, con ellos se espera la ganancia funcional de los rangos articulares de movilidad, para luego progresar a la carga de peso progresivo, es este tipo de proceso todo debe ser paso a paso para no sobre cargar la estructura da&ntilde;ada y favorecer la adecuada recuperaci&oacute;n y consolidaci&oacute;n de la fractura.
          El proceso de recuperaci&oacute;n completa de la lesi&oacute;n incluir&aacute; ejercicios mucho m&aacute;s funcionales en la cual se buscara la ganancia de fuerza resistencia y mejora en las condiciones de propiocepcion y equilibrio.
       </p>
       <h3>
        TIEMPOS DE RECUPERACI&Oacute;N
       </h3>
       <p class="p_blog">
        .
          Respetando la fisiolog&iacute;a normal de reparaci&oacute;n de la estructura &oacute;sea estos ser&aacute;n:
          
 dependiendo de la estructura &oacute;sea lesionada est&aacute;n demoran entre 8 a 12 semanas.
 Las estructuras ligamentar&iacute;a.
 Se comenzara en la rehabilitaci&oacute;n kin&eacute;sica a la tercera semana para poder mejorar las condiciones de edema y dolor mejorar los rangos articulares y disminuir cualquier efecto asociado a atrofia muscular.
 Ya desde la cuarta semana se comenzara a realizar ejercicios en cadena cin&eacute;tica cerrada para mejorar la funcionalidad de la extremidad afectada esto puede ser bicicleta running, o el&iacute;ptica
   Ya una vez completado el periodo de osificaci&oacute;n se buscara ejercicios de mayor imparto para mejorar la funcionalidad global.
   Ya desde la semana 10 se puede mejorar la funcionalidad en ejercicios de mayor impacto como caminata r&aacute;pida trote ligero subir y bajar escaleras etc.
       </p>
      </article>
     </div>
    </div>
   </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>