<html lang="es-CL">

<%- include('../heads/fractura-rotula.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/fractura-rotula" class="breadcrumb">fractura rotula</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

  <main class="container">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
       <h2 class="flow-text">
        Kinesiolog&iacute;a  en FRACTURA DE R&Oacute;TULA
       </h2>
       <p class="p_blog">
        Esta como tipo de lesi&oacute;n de fractura tomara alrededor de 6 a 12 semanas, esto depender&aacute; del da&ntilde;o y si existen elementos de osteos&iacute;ntesis
       </p>
       <h3>
        DEFINICI&Oacute;N
       </h3>
       <p class="p_blog">
        La fractura de la r&oacute;tula es observada frecuentemente en los servicios de urgencia el tipo de lesi&oacute;n va a depender en cuantos fragmentos se fractura esta estructura pueden variar desde un fragmento hasta una lesi&oacute;n conminuta
            Generalmente el mayor n&uacute;mero de este tipo de lesiones se asocia a lesiones en el veh&iacute;culo, pues no son las &uacute;nicas ya que tambi&eacute;n se presenta en determinados deportes.
       </p>
       <h3>
        ¿QU&Eacute; MECANISMO DE LESION LA PROVOCAN?
       </h3>
       <p class="p_blo">
        La forma de fractura en esta estructura es por un golpe directo, por una tracci&oacute;n excesiva en el tend&oacute;n o por una combinaci&oacute;n de ambos factores.
            En las condiciones m&aacute;s habituales se observa en accidentes automovil&iacute;sticos, de motocicleta, o deportes de mayor contacto como el rugby o futbol.
            Seg&uacute;n el tipo de lesi&oacute;n
            
   Transversas, esta es La m&aacute;s frecuente 
 Verticales, el trazo de la lesi&oacute;n en como su nombre lo dice vertical
  Marginales, es como decir que solo fragmentos de los extremos terminan por lesionarse
 Osteocondrales, lesi&oacute;n al cart&iacute;lago que existe bajo la patela 
 Conminutas esto se refiere a lesi&oacute;n de varios fragmentos que son inestables
       </p>
       <h3>
        DIAGN&Oacute;STICO
       </h3>
       <p class="p_blog">
        A simple viste existe aumento de volumen e impotencia funcional de la extremidad afectada
            Aumento de volumen dolor e impotencia funcional ser&aacute;n unos de los primeros signos cl&iacute;nicos en evidenciar la lesi&oacute;n adem&aacute;s a la palpaci&oacute;n se puede percibir la inestabilidad de la estructura
            Por regla general lo primero es la toma de radiograf&iacute;a para evidencia la lesi&oacute;n, mas excautivo es la toma de tomograf&iacute;a que puede dar una visi&oacute;n de mejor calidad o la resonancia magn&eacute;tica, esto ya para determinar el tipo de intervenci&oacute;n quir&uacute;rgica.
            .
            Durante el examen f&iacute;sico se debe evaluar dirigidamente la capacidad de extensi&oacute;n activa de la pierna (al menos contra gravedad), ya que, de no poder efectuar ese movimiento, tendr&aacute; una indicaci&oacute;n de cirug&iacute;a.
            Una vez sospechada la presencia de fractura de r&oacute;tula, se procede a corroborar el diagn&oacute;stico mediante radiograf&iacute;as simples en posici&oacute;n antero-posterior, lateral y axial. Estas &uacute;ltimas ayudan a definir la presencia de fracturas osteocondrales.
       </p>
       <h3>
        TRATAMIENTO GLOBAL
       </h3>
       <p class="p_">
        El tratamiento deber&aacute; seguir los lineamientos por lo general del tipo quir&uacute;rgico y conservador de manera conjunto, en el esquema quir&uacute;rgico se buscara anclar con elementos de osteos&iacute;ntesis los fragmentos desplazados para poder lograr estabilizar la fractura
            Se esperara por un periodo de 4 semanas inicialmente para poder trabajar con la kinesiolog&iacute;a y comenzar con el est&aacute;ndar de tratamiento de fractura en que se buscara
            Disminuir inflamaci&oacute;n, dolor y mejorar movilidad articular
            Para a futuro mejorar los rangos de fuerza y funcionalidad global del paciente
            El periodo global de recuperaci&oacute;n rondara entre las 8 semanas.
       </p>
       <h3>
        ¿COMPLICACIONES?
       </h3>
       <p class="p_blog">
        Complicaciones como la seudo artrosis (no consolidaci&oacute;n de la fractura) pueden ocurrir pero no son muy frecuentes, limitaci&oacute;n en los rangos articulares se pueden evitar con el correcto tratamiento de rehabilitaci&oacute;n, otras pueden ser infecciones que son comunes y posibles riesgos en cualquier intervenci&oacute;n quir&uacute;rgica.
       </p>
       <h3>
        REINTEGRO FUNCIONAL
       </h3>
       <p class="p_blog">
        Los objetivos de rehabilitaci&oacute;n ser&aacute;n enfocados progresivamente en disminuir el dolor y edema
            Se buscara mejorar las condiciones de rangos articulares flexibilidad y fuerza, incluyendo elementos de propiocepcion para recuperar el equilibrio
       </p>
      </article>
     </div>
    </div>
   </main>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>