<html lang="es-CL">

<%- include('../heads/osteocondritis-rodilla.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/osteocondritis-rodilla" class="breadcrumb">osteocondritis rodilla</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

 

  <main class="container">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
             <h2 class="flow-text">
             Kinesiolog&iacute;a  en  OSTEOCONDRITIS DISECANTE DE RODILLA
             </h2>
             <p class="p_blog">
             Esta es uan patolog&iacute;a  del desarrollo y maduraci&oacute;n de la rodilla que afecta al hueso incluyendo a los procesos de osificaci&oacute;n esto ocurre entre las edades de 10 a 20 a&ntilde;os e incluyendo hasta cart&iacute;lago.
             </p>
             <h3>
             ¿FACTORES QUE LA PROVOCAN?
             </h3>
             <p class="p_blog">
                   Traumatismo Gen&eacute;tica la edad enfermedades metab&oacute;licas trastornos circulatorios.
             </p>
             <h3>
             S&Iacute;NTOMAS
             </h3>
             <p class="p_blog">
             Derrame articular en la rodilla de manera difusa, dolor que puede ser en la zona interna o externa que aumenta con la actividad como subir o bajar escaleras o incluso el doblar la extremidad, crepitos articulares o alteraci&oacute;n de la flexo-extensi&oacute;n por bloqueo articular.
             </p>
             .
             <h3>
             DIAGN&Oacute;STICO
             </h3>
             <p class="p_blog">
             El diagnostico especifico se lleva a cabo con la toma de im&aacute;genes de radiograf&iacute;a y resonancia magn&eacute;tica para determinar el tipo de da&ntilde;o articular.
             </p>
             <h3>
             TRATAMIENTO
             </h3>
             <p class="p_blog">
             Las primeras fases del tratamiento ser&aacute;n de evitar la carga de peso ya que es una patolog&iacute;a que afecta tanto la zona &oacute;sea como cartilaginosa, con el objetivo de disminuir la sintomatolog&iacute;a  y el dolor (incluyendo inflamaci&oacute;n y derrame articular).
               Hay que determinar por medio de la resonancia si es necesario la intervenci&oacute;n quir&uacute;rgica ya que los fragmentos que est&aacute;n limitando y alterando la funcionalidad deben ser removidos, si el tratamiento no es efectivo se tratara quir&uacute;rgicamente aplicando intervenci&oacute;n artrosc&oacute;pica
             </p>
             <h3>
             RECUPERACI&Oacute;N
             </h3>
             <p class="p_blog">
             El tratamiento es variable y tiene una duraci&oacute;n aproximadamente de 4 meses, idealmente sin cargar peso sobre la extremidad afectada, se buscara por medio de la kinesiolog&iacute;a disminuir dolor, evitar la atrofia muscular, y reducir los edemas en la zona afectada.
               Esta patolog&iacute;a es variable en cuanto a los resultados, al ser el cart&iacute;lago el afectado por lo general siempre tender&aacute;n a tener secuelas al largo plazo, ya que el cart&iacute;lago no posee la capacidad de regeneraci&oacute;n como otros tejidos
       </p>
      </article>
     </div>
    </div>
   </main>
   
    <%- include('../botones/boton.ejs'); %>     
    <%- include('../botones/menu-flotante.ejs'); %>      
 

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>