<html lang="es-CL">

<%- include('../heads/pinzamiento-cadera.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>   
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia/pinzamiento-cadera" class="breadcrumb">pinzamiento cadera</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->
 

  <main class="container">
    <div class="row">
     <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
      <article>
       <h2 class="flow-text">
        Kinesiolog&iacute;a  en PELLIZCAMIENTO DE CADERA
       </h2>
       <p class="p_blog">
        Se ha establecido como el causante principal de artrosis de caderas en deportistas, como lo
              son running futbol artes marciales etc...
       </p>
       <h3>
        DEFINICI&Oacute;N
       </h3>
       <p class="p_blog">
        Esta patolog&iacute;a  se genera por una mescla de alteraciones en el acet&aacute;bulo o cabeza del f&eacute;mur e 
              incluso ambas combinadas, generando  un aumento de la superficie de contacto entre ambas superficies 
              &oacute;seas que provocaran un desgaste de la estructura en el mediano plazo. En la edad juvenil esta patolog&iacute;a 
              no da s&iacute;ntomas pero con el tiempo y por la sobre actividad de la estructura terminara provocando la sintomatolog&iacute;a de un momento a otro.
              Dentro del estudio imagenologico existen o radiograf&iacute;a o tomograf&iacute;a estas mostraran alteraciones como el tipo pinzer o el tipo bump,
              la primera es una calcificaci&oacute;n del acet&aacute;bulo y su capsula articular que termina por pinzar la cadera cuando esta est&aacute; en rango articulares 
              m&aacute;ximos, el bump es un resalte como un solevantamiento que ocurre en el f&eacute;mur ya sea en la cabeza femoral o el cuello femoral.
       </p>
       <h3>
        TRATAMIENTO
       </h3>
       <p class="p_blog">
        El tratamiento de kinesiolog&iacute;a que se puede aplicar en estos casos inicialmente puede ser conservador aplicando los elementos 
              tradicionales de fisioterapia y ejercicios de fortalecimiento o flexibilizaci&oacute;n si los requiriese
              Otra alternativa son ejercicios del tipo mckensy que buscaran por medios de movilizaciones repetitivas adaptar las estructuras
              capsulo ligamentosas que al corto plazo disminuir&aacute;n la sintomatolog&iacute;a
              Ahora si esto no suerte el efecto que se espera, se optara por la cirug&iacute;a que buscara manejar las estructuras afectadas.
       </p>
       <h3>
        LA CIRUJIA
       </h3>
       <p class="p_blog">
        Una buena soluci&oacute;n para esta patolog&iacute;a es la aplicaci&oacute;n de una intervenci&oacute;n artrosc&oacute;pica que ira a corregir la alteraci&oacute;n anat&oacute;mica,
              siendo m&iacute;nimamente invasiva el paciente puede tener buenos resultados retornando con rapidez a su actividad f&iacute;sica
 
              .
 
              Retornando a la actividad entre 6 a 8 semanas
       </p>
      </article>
     </div>
    </div>
   </main>
    <%- include('../botones/boton.ejs'); %>     
    <%- include('../botones/menu-flotante.ejs'); %>      
 

    <%- include('../footers/footer.ejs'); %>
    </body>
    
    </html>