<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">kinesiologia en tratamiento del paciente asmatico</h2>
            <p class="p_blog">
                El asma es un padecimiento cr&oacute;nico que se manifiesta con frecuencia y, en ocasiones, puede ser letal. La incidencia de esta afecci&oacute;n ha aumentado en todo el mundo, en especial entre los infantes, lo que supone una carga relevante tanto en lo que se refiere a la merma en la calidad de vida como en t&eacute;rminos de los gastos m&eacute;dicos.
   
                A ra&iacute;z de este incremento, se han creado m&uacute;ltiples directrices para establecer procedimientos estandarizados para el diagn&oacute;stico y el tratamiento del asma, como la Iniciativa Mundial para el Asma (GINA). A pesar de este consenso, los datos epidemiol&oacute;gicos m&aacute;s recientes sugieren que en muchos pa&iacute;ses no se proporciona un tratamiento adecuado a los pacientes con asma, lo que complica el control de esta dolencia.
               
            </p>    
            <p class="p_blog">
                El estudio AIRLA, llevado a cabo en Am&eacute;rica Latina, ha descubierto que los niveles de control del asma no se ajustan a los objetivos establecidos por las directrices internacionales. Con la intenci&oacute;n de abordar esta situaci&oacute;n, es imperativo mejorar el conocimiento y la postura de los pacientes asm&aacute;ticos frente a esta patolog&iacute;a. Con este prop&oacute;sito, se ha ideado un sondeo que se efectuar&aacute; como parte de las actividades planificadas por el Departamento de Asma ALAT para el D&iacute;a Mundial del Asma en 2019.
            </p>

                <h2>  Se estima que el 80% de las personas con asma tienen alergias</h2>
            <p class="p_blog">
              siendo los al&eacute;rgenos la sustancia que desencadena una respuesta excesiva del sistema inmunol&oacute;gico. Espec&iacute;ficamente, una de cada cuatro personas a nivel mundial sufre de alergias respiratorias, lo que se considera un problema de salud p&uacute;blica. Santiago, por ejemplo, es una de las ciudades con mayor concentraci&oacute;n de polen durante la primavera, lo que, combinado con altos niveles de contaminaci&oacute;n, afecta negativamente la salud, especialmente en ni&ntilde;os y adultos gen&eacute;ticamente predispuestos a las alergias (at&oacute;picos).
               
                </p>

                <h2>¿como afecta el asma a la poblacion en general?</h2> 
                <p class="p_blog">
                    La Organizaci&oacute;n Mundial de la Salud (OMS) ha calificado la rinitis al&eacute;rgica como la cuarta patolog&iacute;a cr&oacute;nica m&aacute;s com&uacute;n a nivel global. Esta enfermedad es f&aacute;cilmente reconocible debido a sus s&iacute;ntomas, los cuales afectan principalmente a la nariz, los ojos y la faringe, las alergias estacionales, en particular aquellas producidas por el polen, son responsables del 35-40% del total de los cuadros al&eacute;rgicos y asmaticos.

                    Una alergia es una respuesta exagerada del sistema inmunol&oacute;gico a una sustancia extra&ntilde;a conocida como al&eacute;rgeno. En un primer contacto, el organismo se sensibiliza a esta sustancia sin presentar s&iacute;ntomas, pero en un segundo contacto, el individuo que est&aacute; sensibilizado desencadenar&aacute; una reacci&oacute;n al&eacute;rgica.
   
                     Las alergias respiratorias generalmente no se manifiestan en reci&eacute;n nacidos, ya que el ni&ntilde;o a&uacute;n no est&aacute; sensibilizado al al&eacute;rgeno. Es por eso que suelen aparecer despu&eacute;s de los 6 meses de vida. Una vez que se expresa la alergia, se produce inflamaci&oacute;n en las mucosas de la nariz, los ojos, la garganta y los bronquios, lo que puede manifestarse como rinitis y/o asma.
               
               </p>
                <h2></h2> 
                <p class="p_blog">
                    La rinitis es la alergia m&aacute;s com&uacute;n en la poblaci&oacute;n, con m&aacute;s de 600 millones de personas en todo el mundo que la padecen. Esta enfermedad se caracteriza por una inflamaci&oacute;n de la mucosa nasal que produce congesti&oacute;n nasal, picaz&oacute;n en ojos, nariz y garganta, y estornudos frecuentes. El 60% de los ni&ntilde;os diagnosticados con rinitis desarrollar&aacute; asma durante su infancia o adultez. Aunque no se considera una enfermedad grave, puede afectar significativamente la calidad de vida al alterar el sue&ntilde;o, provocar cansancio diurno, desconcentraci&oacute;n y, en &uacute;ltima instancia, problemas de rendimiento f&iacute;sico, escolar o laboral en el caso de los adultos.
                    La kinesiologia indica que los desencadenantes de los signos al&eacute;rgicos, se deben a una disposici&oacute;n gen&eacute;tica, en donde tambi&eacute;n influyen aspectos ambientales. Por consiguiente, los hijos de progenitores al&eacute;rgicos tienen una probabilidad superior de presentar alergias.
                    Los primordiales al&eacute;rgenos que afectan la respiraci&oacute;n, son los &aacute;caros que se encuentran en el polvo de hogares, polen, pelos de animales y hongos. De ellos, los &aacute;caros representan el 50% de las reacciones al&eacute;rgicas, lo que provoca que los s&iacute;ntomas puedan surgir durante todo el a&ntilde;o, aunque son m&aacute;s comunes en las estaciones m&aacute;s c&aacute;lidas. A pesar de que los &aacute;caros son imperceptibles a simple vista, se encuentran presentes en el polvo de la casa, especialmente en la ropa de cama y los peluches. Tambi&eacute;n hay una gran prevalencia de alergia a los pelos de mascotas, principalmente de gatos y en menor medida de perros, y la orina de roedores como hamsters.
               


            </p>
            <h2>RECOMENDACIONES GENERALES PARA PREVENIR ALERGIAS RESPIRATORIAS:</h2>
            <p class="p_blog">
                La terapia consiste en evitar el al&eacute;rgeno que desencadena la reacci&oacute;n y tomar medicamentos para controlar los s&iacute;ntomas. En general, se prescriben antihistam&iacute;nicos y corticoides por el m&eacute;dico encargado del tratamiento. En situaciones particulares, se utiliza la inmunoterapia como el tratamiento etiol&oacute;gico, si se logra identificar el al&eacute;rgeno.
   
   
   
             
   
                Sacuda regularmente muebles con pa&ntilde;os h&uacute;medos para evitar suspender polvo.
                Evite peluches sobre cunas y camas. De haberlos, l&aacute;velos con frecuencia.
                Utilice frecuentemente una aspiradora, preferentemente con filtro HEPA, para evitar suspender los &aacute;caros durante el aspirado.
                Limite la presencia de mascotas dentro de la vivienda. Si no es posible, evite que est&eacute;n sobre camas y sillones. Idealmente, b&aacute;&ntilde;elas cada 15 d&iacute;as y cep&iacute;llelas diariamente.
                Prefiera pisos lisos sin alfombras.
                Utilice purificadores de aire para disminuir los &aacute;caros ambientales y la caspa de los animales.
                Durante los meses primaverales, evite realizar actividad f&iacute;sica en parques con pl&aacute;tano oriental, una de las especies m&aacute;s comunes y responsable de la mayor concentraci&oacute;n de polen en la ciudad.
                En caso de trayectos en veh&iacute;culo, mantenga las ventanas cerradas.
            </p>
            <h2> EN EL CASO DE PERSONAS ASM&Aacute;TICAS, ADEM&Aacute;S DE LO ANTERIOR, SE RECOMIENDA</h2>
               
               <p class="p_blog"> 
                Mantener su tratamiento farmacol&oacute;gico y control a lo largo del a&ntilde;o, aunque no existan s&iacute;ntomas. La suspensi&oacute;n de los medicamentos debe realizarse bajo supervisi&oacute;n, ya que el abandono del tratamiento puede ocasionar crisis asm&aacute;tica severa, especialmente durante la primavera.
                Mantener controles con un broncopulmonar o en salas IRA. Seg&uacute;n la gu&iacute;a cl&iacute;nica de asma bronquial moderada y grave para menores de 15 a&ntilde;os, todo ni&ntilde;o asm&aacute;tico debe controlarse cada 3 meses con un kinesi&oacute;logo respiratorio. El kinesi&oacute;logo realiza un examen pulmonar que incluye evaluaci&oacute;n de la funci&oacute;n pulmonar con flujometr&iacute;a o espirometr&iacute;a, que eval&uacute;a el grado de obstrucci&oacute;n bronquial previo y posterior al uso del broncodilatador. Asimismo, aplica encuestas de calidad de vida y eval&uacute;a el control de la enfermedad en base a la presencia de s&iacute;ntomas diurnos, nocturnos y durante el ejercicio f&iacute;sico, la necesidad de inhaladores de rescate, consultas al servicio de urgencia y uso de antibi&oacute;ticos, junto con la evaluaci&oacute;n constante de los factores de riesgo. La educaci&oacute;n del paciente y familia constituye un pilar fundamental de la intervenci&oacute;n kinesiol&oacute;gica.
                Informe a cuidadores, familiares y profesores sobre la condici&oacute;n de asm&aacute;tico del ni&ntilde;o. Verifique que el paciente se realice las inhalaciones previas a la pr&aacute;ctica de ejercicio, o en actividades recreativas al aire libre. Luego de la actividad, el ni&ntilde;o debe lavarse la cara para eliminar el polen impregnado en el rostro e ingerir suficiente agua para mantener la v&iacute;a a&eacute;rea hidratada y prevenir la obstrucci&oacute;n bronquial. El asma no es una contraindicaci&oacute;n para realizar ejercicio, salvo que se encuentre en crisis.
                Es importante tener en cuenta que existen laboratorios especializados en enfermedades respiratorias que realizan diversos ex&aacute;menes para evaluar la funci&oacute;n pulmonar en ni&ntilde;os a partir de los 3 a&ntilde;os. Estos ex&aacute;menes incluyen la espirometr&iacute;a, el test de provocaci&oacute;n con ejercicios, la medici&oacute;n de la inflamaci&oacute;n de la v&iacute;a a&eacute;rea y la evaluaci&oacute;n de la calidad del sue&ntilde;o del ni&ntilde;o.
   
                Si su hijo utiliza un inhalador, es fundamental que lo utilice siempre con un espaciador o una aeroc&aacute;mara valvulada, para asegurarse de que el medicamento llegue correctamente a los bronquios. Antes de aplicar el inhalador, ag&iacute;telo bien. Luego, inhale lenta y profundamente, y mantenga la respiraci&oacute;n por 10 segundos. Si necesita una segunda dosis, espere al menos 30 segundos antes de volver a repetir el procedimiento.
            </p>
                
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/respiratorio1.webp" alt="kinesiologo en asma las condes">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>
