<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/epoc" class="breadcrumb">EPOC</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n respiratoria patolog&iacute;a EPOC</h2>
            <p class="p_blog">
                La Enfermedad Pulmonar Obstructiva Cr&oacute;nica (EPOC) es una afecci&oacute;n respiratoria cr&oacute;nica que afecta a los pulmones, causando una disminuci&oacute;n progresiva en la capacidad respiratoria del paciente. Los principales factores de riesgo para desarrollar EPOC son el tabaquismo y la exposici&oacute;n a contaminantes ambientales.
                
                La EPOC es una enfermedad progresiva, lo que significa que se desarrolla lentamente a lo largo del tiempo y empeora con el tiempo. Los s&iacute;ntomas incluyen tos, producci&oacute;n de esputo y dificultad para respirar. Estos s&iacute;ntomas pueden empeorar durante los per&iacute;odos de exacerbaci&oacute;n, en los cuales los pacientes pueden requerir hospitalizaci&oacute;n.
                
                El tratamiento de la EPOC tiene como objetivo aliviar los s&iacute;ntomas y prevenir la progresi&oacute;n de la enfermedad. Los tratamientos comunes incluyen broncodilatadores, corticosteroides inhalados y terapia con ox&iacute;geno. Adem&aacute;s, los pacientes con EPOC deben dejar de fumar y evitar la exposici&oacute;n a contaminantes ambientales.
                
                El kinesi&oacute;logo respiratorio es un profesional de la salud que se especializa en el abordaje de las enfermedades respiratorias. El kinesi&oacute;logo trabaja con una serie de herramientas que ayudar&aacute;n al paciente a mejorar las condiciones que provoca esta patolog&iacute;a.
                </p>

                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/epoc.webp" alt="enfermedad pulmonar obstructiva cronica">

                
                
                <h2>El kinesi&oacute;logo es un profesional de la salud en EPOC</h2>
                <p class="p_blog">
                que se especializa en la evaluaci&oacute;n, tratamiento y prevenci&oacute;n de trastornos del movimiento y la funci&oacute;n del cuerpo. En el caso de la patolog&iacute;a EPOC (Enfermedad Pulmonar Obstructiva Cr&oacute;nica), el kinesi&oacute;logo tiene un papel muy importante en el manejo de esta condici&oacute;n.
                
                El kinesi&oacute;logo puede ayudar a los pacientes con EPOC a mejorar su capacidad pulmonar y reducir los s&iacute;ntomas de la enfermedad mediante diferentes t&eacute;cnicas.
                
                Entre las t&eacute;cnicas utilizadas por los kinesi&oacute;logos en el tratamiento de la EPOC, se encuentran:
                
                Ejercicios respiratorios: El kinesi&oacute;logo puede ense&ntilde;ar al paciente t&eacute;cnicas de respiraci&oacute;n profunda y tos efectiva para ayudar a despejar las v&iacute;as respiratorias y mejorar la capacidad pulmonar.
                
                Ejercicios f&iacute;sicos: El kinesi&oacute;logo puede dise&ntilde;ar un programa de ejercicios f&iacute;sicos espec&iacute;fico para cada paciente con EPOC, con el objetivo de mejorar la resistencia física y la capacidad pulmonar.
                                
                Masaje y drenaje linf&aacute;tico: Estas t&eacute;cnicas pueden ayudar a reducir la inflamaci&oacute;n y mejorar la circulaci&oacute;n sangu&iacute;nea y linf&aacute;tica en el &aacute;rea tor&aacute;cica, lo que puede mejorar la respiraci&oacute;n.
                
                Educaci&oacute;n sobre la enfermedad: El kinesi&oacute;logo puede proporcionar informaci&oacute;n y recomendaciones sobre la EPOC, incluyendo la prevenci&oacute;n de exacerbaciones y la importancia de seguir un tratamiento adecuado.
                
                En resumen, el kinesi&oacute;logo tiene un rol fundamental en el manejo de la patolog&iacute;a EPOC, ya que puede ayudar a los pacientes a mejorar su capacidad pulmonar y reducir los s&iacute;ntomas de la enfermedad mediante diferentes t&eacute;cnicas de ejercicio, respiraci&oacute;n y masaje, adem&aacute;s de proporcionar informaci&oacute;n y recomendaciones sobre la enfermedad.
                
                
                </p>
                
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/epoc2.webp" alt="hkinesiologo en EPOC">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>