<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          
            <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n respiratoria patolog&iacute;a fibrosis Quistica</h2>
            <p class="p_blog">
                Introducci&oacute;n:
                La fibrosis qu&iacute;stica infantil es una enfermedad cr&oacute;nica hereditaria que afecta principalmente a los pulmones y el sistema digestivo. A menudo se diagnostica en la infancia y puede tener graves consecuencias si no se trata adecuadamente. En este art&iacute;culo, hablaremos sobre qu&eacute; es la fibrosis qu&iacute;stica infantil y c&oacute;mo los kinesi&oacute;logos pueden ayudar a los ni&ntilde;os afectados por esta enfermedad.
            </p>    

                <h2>¿Qu&eacute; es la fibrosis qu&iacute;stica infantil?</h2>
            <p class="p_blog">
                La fibrosis qu&iacute;stica infantil es una enfermedad gen&eacute;tica que afecta a las gl&aacute;ndulas productoras de moco y sudor en el cuerpo. En los ni&ntilde;os con fibrosis qu&iacute;stica, el moco es m&aacute;s espeso y pegajoso de lo normal, lo que puede causar obstrucciones en los pulmones y el sistema digestivo. Esto puede llevar a infecciones respiratorias recurrentes, dificultad para respirar y problemas para digerir los alimentos.
                </p>

                <h2>¿C&oacute;mo se diagnostica la fibrosis qu&iacute;stica infantil?</h2> 
                <p class="p_blog">
                La fibrosis qu&iacute;stica infantil se diagnostica a trav&eacute;s de pruebas gen&eacute;ticas y de sudor. La prueba gen&eacute;tica se utiliza para detectar mutaciones en el gen responsable de la fibrosis qu&iacute;stica. La prueba de sudor se realiza para medir la cantidad de sal en el sudor del ni&ntilde;o. Los ni&ntilde;os con fibrosis qu&iacute;stica tienen niveles m&iacute;&iacute;s altos de sal en el sudor debido a la disfunci&oacute;n de las g&aacute;ndulas sudor&iacute;paras.
                </p>

                <h2>¿C&oacute;mo se trata la fibrosis qu&iacute;stica infantil?</h2> 
               <p class="p_blog">
                No hay cura para la fibrosis qu&iacute;stica infantil, pero los tratamientos pueden ayudar a controlar los s&iacute;ntomas y mejorar la calidad de vida del ni&ntilde;o. El tratamiento incluye terapia respiratoria, terapia nutricional, medicamentos para diluir el moco y prevenir infecciones, y trasplante de &oacute;rganos en casos graves.
               </p>
                <h2>¿C&oacute;mo puede ayudar un kinesi&oacute;logo en el tratamiento de la fibrosis qu&iacute;stica infantil?</h2> 
                <p class="p_blog">
                Los kinesi&oacute;logos pueden desempe&ntilde;ar un papel importante en el tratamiento de la fibrosis qu&iacute;stica infantil. La terapia respiratoria es una parte esencial del tratamiento de la fibrosis qu&iacute;stica y los kinesi&oacute;logos pueden ayudar a los ni&ntilde;os con fibrosis qu&iacute;stica a mejorar su funci&oacute;n pulmonar y prevenir infecciones respiratorias. Los kinesi&oacute;logos utilizan t&eacute;cnicas de fisioterapia respiratoria como la percusi&oacute;n y la vibraci&oacute;n para ayudar a movilizar el moco en los pulmones y mejorar la funci&oacute;n pulmonar.

                Adem&iacute;&iacute;s, los kinesi&oacute;logos pueden trabajar con los ni&ntilde;os con fibrosis qu&iacute;stica en la terapia de ejercicios para mejorar su capacidad f&iacute;sica y respiratoria. Los ejercicios pueden ayudar a fortalecer los m&oacute;sculos respiratorios y mejorar la capacidad de los ni&ntilde;os para respirar profundamente y toser el moco de sus pulmones.
                En conclusi&oacute;n, la fibrosis qu&iacute;stica infantil es una enfermedad cr&oacute;nica y progresiva que requiere un enfoque multidisciplinario para su manejo. Aunque no hay cura para esta patolog&iacute;a, los tratamientos actuales pueden mejorar significativamente la calidad de vida de los pacientes y prolongar su supervivencia.


            </p>
                
                <img class="responsive-img" loading="lazy" src="/public/images/respiratorio/fibrosis-quistica.webp" alt="kinesiologo en fibrosis quistica">


                
                
        </article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>