<!DOCTYPE html>
<html lang="es-CL">

<%- include('../heads/head.ejs'); %>

<body>
  <%- include('../navbar/navbar.ejs'); %>
  <header>

    <section class="header-main-pic z-depth-2">
        <div class="intro-area">
            <div class="container">
              <h1> <%= tiTuloh1%> </h1>
              <p class="p_blog">rehabilitaci&oacute;n en la comodidad de tu hogar</p>
            </div>
          </div>
    </section>
  
    
  </header>  
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio" class="breadcrumb">Respiratorio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-respiratorio/fibrosis-quistica" class="breadcrumb">fibrosis quistica</a>

          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <article class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
          <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n de accidente cerebrovascular (ACV) </h2>
          <p class="p_blog">
                      El accidente cerebrovascular (ACV), tambi&eacute;n conocido como ictus o derrame cerebral, es una emergencia m&eacute;dica que puede provocar graves consecuencias. Un ACV ocurre cuando se produce una interrupci&oacute;n en el flujo sangu&iacute;neo al cerebro, ya sea por un co&aacute;gulo sangu&iacute;neo que bloquea una arteria o por la ruptura de una arteria que provoca una hemorragia. 
                      </p>
          <h2>¿que se debe hacer en caso de emergencia en un ACV?</h2>
          <p class="p_blog">
                          En caso de una emergencia de AVC (Accidente vascular cerebral), es importante actuar r&aacute;pidamente para maximizar las posibilidades de recuperaci&oacute;n del paciente. Aqu&iacute; hay algunos pasos que se deben seguir en caso de una emergencia de AVC:
          
                          Reconoce los s&iacute;ntomas: Los s&iacute;ntomas comunes de un AVC incluyen debilidad en un lado del cuerpo, p&eacute;rdida de la visi&oacute;n en un ojo, dificultad para hablar, mareo y dolor de cabeza intenso. Si sospechas que alguien est&aacute; teniendo un AVC, llama a una ambulancia inmediatamente.
          
                          Llama a una ambulancia: Llama a una ambulancia tan pronto como sea posible. No intentes transportar al paciente por tu cuenta, ya que esto podr&iacute;a empeorar su condici&oacute;n.
          
                          Permanece calmado: Es importante mantener la calma y tranquilizar al paciente mientras esperas la llegada de la ambulancia.
          
                          Proporciona informaci&oacute;n: Cuando la ambulancia llegue, proporciona tanta informaci&oacute;n como sea posible sobre los s&iacute;ntomas y la condici&oacute;n del paciente. Esto ayudar&aacute; a los param&eacute;dicos a tomar las medidas adecuadas y a proporcionar el tratamiento necesario.
          
                          No ofrezcas comida ni bebida: Si el paciente est&aacute; consciente, no ofrezcas comida ni bebida ya que podr&iacute;a ser peligroso si necesita cirug&iacute;a.
          
                          Acompa&ntilde;a al paciente: Si es posible, acompa&ntilde;a al paciente al hospital y proporciona informaci&oacute;n adicional a los profesionales de la salud si es necesario.
          
                          En resumen, en caso de una emergencia de AVC es importante reconocer los s&iacute;ntomas, llamar a una ambulancia, permanecer tranquilo, proporcionar informaci&oacute;n y no ofrecer comida ni bebida. Es fundamental actuar r&aacute;pidamente para maximizar las posibilidades de recuperaci&oacute;n del paciente.
                      </p>
          <h2>¿Cuantos tipos de ACV existen?</h2>
          <p class="p_blog">           
          
                      Existen dos tipos principales de ACV: el isqu&eacute;mico y el hemorr&aacute;gico. El isqu&eacute;mico es el tipo m&aacute;s com&uacute;n y se produce cuando un co&aacute;gulo sangu&iacute;neo bloquea una arteria que irriga el cerebro, mientras que el hemorr&aacute;gico ocurre cuando una arteria se rompe y provoca una hemorragia en el cerebro.
          
                      La zona afectada por el ACV depender&aacute; de la ubicaci&oacute;n de la arteria afectada. Los lugares m&aacute;s comunes donde se produce un ACV son el hemisferio izquierdo del cerebro y la arteria cerebral media. Esto puede provocar una hemiplejia, que es una par&aacute;lisis en una mitad del cuerpo, ya sea el brazo, la pierna o ambos.
                      </p>
          <h2>¿Que tipo de da&ntilde;o puede causar el ACV?</h2>
          <p class="p_blog">
          
                      El da&ntilde;o causado por el ACV puede variar seg&uacute;n la gravedad de la lesi&oacute;n. En algunos casos, los s&iacute;ntomas pueden ser leves y desaparecer r&aacute;pidamente, mientras que en otros casos, el da&ntilde;o puede ser permanente y causar discapacidades graves.
          
                      Una afasia es un trastorno del lenguaje que puede ocurrir despu&eacute;s de un ACV. Dos tipos de afasia comunes son la afasia de Broca y la afasia de Wernicke. La afasia de Broca se caracteriza por la dificultad para producir palabras, mientras que la afasia de Wernicke se caracteriza por la dificultad para comprender el lenguaje hablado o escrito.
                      </p>
          <h2>¿Como es el proceos de la rehabilitaci&oacute;n</h2>
          <p class="p_blog">
          
                      En el proceso de recuperaci&oacute;n, la hipotonia general inicial puede ser com&uacute;n, donde el paciente puede presentar debilidad muscular y falta de tono muscular. Posteriormente, puede ocurrir hipertonia, que es una condici&oacute;n donde los m&uacute;sculos pueden presentar espasticidad, rigidez y dificultad para moverse.
          
                      El kinesi&oacute;logo juega un papel fundamental en el proceso de rehabilitaci&oacute;n inicial y final de un paciente con ACV. El kinesi&oacute;logo ayudar&aacute; al paciente a recuperar la fuerza muscular y la movilidad perdida, a trav&eacute;s de ejercicios espec&iacute;ficos y t&eacute;cnicas de rehabilitaci&oacute;n. La rehabilitaci&oacute;n despu&eacute;s de un ACV se centra en ayudar al paciente a recuperar sus habilidades f&iacute;sicas, cognitivas y emocionales, y es un esfuerzo conjunto que implica a un equipo de profesionales de la salud, incluidos kinesi&oacute;logos, terapeutas ocupacionales, fonoaudi&oacute;logos y psic&oacute;logos.      
          
                      Proceso de neurorehabiltiaci&oacute;n en ACV
          
          
                      Es importante destacar que el proceso de rehabilitaci&oacute;n despu&eacute;s de un ACV puede ser largo y la recuperaci&oacute;n depender&aacute; del da&ntilde;o causado por el accidente. La rehabilitaci&oacute;n puede ser beneficiosa para mejorar la calidad de vida del paciente y para ayudarlo a recuperar su independencia y movilidad. El kinesi&oacute;logo es uno de los profesionales de la salud que desempe&ntilde;a un papel importante en el proceso de rehabilitaci&oacute;n de un paciente con ACV. El objetivo principal del kinesi&oacute;logo es ayudar al paciente a recuperar el control y la fuerza muscular, as&iacute; como a mejorar su equilibrio y coordinaci&oacute;n. El kinesi&oacute;logo trabajar&aacute; con el paciente para dise&ntilde;ar un programa de ejercicios personalizado que aborde sus necesidades espec&iacute;ficas y lo ayude a alcanzar sus metas de rehabilitaci&oacute;n.
          
                      En el proceso de rehabilitaci&oacute;n inicial, el kinesi&oacute;logo evaluar&aacute; la fuerza muscular, la amplitud de movimiento, el equilibrio y la coordinaci&oacute;n del paciente. Tambi&eacute;n evaluar&aacute; la capacidad del paciente para realizar actividades diarias y funcionales, como vestirse, caminar y hablar. Con esta informaci&oacute;n, el kinesi&oacute;logo dise&ntilde;ar&aacute; un programa de ejercicios que se ajuste a las necesidades y habilidades del paciente.
                      
          neurorehabilitaci&oacute;n
          
          
                      En neurorehabilitaci&oacute;n, algunos de los ejercicios m&aacute;s utilizados por los kinesi&oacute;logos incluyen:
          
                      Ejercicios de fortalecimiento: Estos ejercicios se utilizan para mejorar la fuerza muscular en las extremidades afectadas por el ACV.
          
                      Ejercicios de amplitud de movimiento: Estos ejercicios se utilizan para mejorar la flexibilidad y el rango de movimiento en las extremidades afectadas por el ACV.
          
                      Ejercicios de equilibrio y coordinaci&oacute;n: Estos ejercicios se utilizan para mejorar la capacidad del paciente para mantener el equilibrio y coordinar los movimientos de las extremidades.
          
                      Ejercicios de movilidad: Estos ejercicios se utilizan para mejorar la capacidad del paciente para moverse y caminar.
          
                      Ejercicios de fonoaudiolog&iacute;a: En algunos casos, el kinesi&oacute;logo puede trabajar en conjunto con un fonoaudi&oacute;logo para mejorar la capacidad del paciente para hablar y comunicarse.
          
                      Es importante destacar que el proceso de rehabilitaci&oacute;n puede ser largo y puede requerir la repetici&oacute;n de ejercicios y la pr&aacute;ctica constante. El kinesi&oacute;logo trabajar&aacute; en estrecha colaboraci&oacute;n con el paciente para garantizar que el programa de ejercicios sea efectivo y est&eacute; adaptado a sus necesidades espec&iacute;ficas. Adem&aacute;s, es importante que el paciente y su familia sean conscientes de que la recuperaci&oacute;n puede ser lenta y que se necesita paciencia y perseverancia para lograr resultados significativos.
                      
          
          
                      En resumen, el ACV es una emergencia m&eacute;dica grave que puede causar discapacidades y trastornos del lenguaje. El tipo y la gravedad del da&ntilde;o depender&aacute;n de la ubicaci&oacute;n de la lesi&oacute;n y del tipo de ACV. La rehabilitaci&oacute;n a trav&eacute;s de un kinesi&oacute;logo puede ayudar al paciente a recuperar su movilidad y calidad de vida. La rehabilitaci&oacute;n es esencial para mejorar la recuperaci&oacute;n y minimizar las secuelas del ACV.
                      
          
          </p></article>

    </div>
    </div>
   
    <%- include('../botones/boton.ejs'); %>      
    <%- include('../botones/menu-flotante.ejs'); %>      


    <%- include('../footers/footer.ejs'); %>
  </body>
    
 </html>