<div class="container section">
    <div class="row">
        <div class="col s12">
                <div class="slider">
                        <ul class="slides">
                          <li>
                            <img sizes="350x400" src="images/Header/Health.webp" alt="imagen de kinesiologotrabajando"> <!-- random image -->
                            <div class="caption center-align">
                              <h3>kinesiologia a domicilio</h3>
                              <h5 class="light grey-text text-lighten-3">rehabilitacion en region metropolitana de Santiago</h5>
                            </div>
                          </li>
                         <!-- <li>
                            <img src="" alt=""> --> <!-- random image 
                            <div class="caption left-align">
                              <h3>Left Aligned Caption</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>-->
                          <!-- <li>
                           <img src="" alt=""> -- random image -->
                            <!-- <div class="caption right-align">
                              <h3>Right Aligned Caption</h3>
                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                          </li>-->
                          <li>
                            <img sizes="350x400" src="images/Header/PersonalTraining_jpg.webp" alt="imagen de kinesiologia deportiva"> <!-- random image -->
                            <div class="caption center-align">
                              <h3 >entrenamineto y rehabilitacion </h3>
                              <h5 class="light grey-text text-lighten-3">funcional</h5>
                            </div>
                          </li>
                        </ul>
                      </div>
                      
        </div>
    </div>
</div>

          