<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
 
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor" class="breadcrumb">Adulto Mayor</a>
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->


    <div class="container">
     <div class="row">
      <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a en geriatr&iacute;a (adulto mayor)</h2>
           <p>
            

Esta es una <strong>kinesiolog&iacute;a</strong>  que busca enfocar un tratamiento de manera integral al adulto mayor ya que el <a href="http://www.kinesishouse.cl" target="_blank" >kinesi&oacute;logo</a>  es el &uacute;nico profesional preparado que puede indicar y aplicar ejercicios a pacientes con
 patolog&iacute;as musculo, esquel&eacute;ticas, respiratorias, neurol&oacute;gicas o metab&oacute;licas.

Los pacientes <strong>geri&aacute;tricos</strong>  presentan muchas alteraciones funcionales, por lo mismo aqu&iacute; el tratamiento debe enfocarse en las necesidades integrales y multidisciplinarias. <strong>El kinesi&oacute;logo</strong>  debe saber 
adaptar las sesiones seg&uacute;n las necesidades del paciente, por lo mismo las evaluaciones deben ser constantes por lo mismo el tratamiento debe ser interdisciplinario
 <strong>La terapia</strong> puede ser enfocada a hogares de ancianos, grupos de adultos mayores, 
<strong>atenci&oacute;n a domicilio</strong>  todo donde sea m&aacute;s c&oacute;modo para el paciente
Este tipo de enfoque de tratamiento es ideal para pacientes que presenten poca movilidad o <strong>condici&oacute;n de postrados</strong> 
Adem&aacute;s que se pueden enfocar tratamientos espec&iacute;ficos como programas de ejercicios  o entrenamiento personalizado para mejorar factores metab&oacute;licos como resistencia a la insulina, diabetes,
 enfermedades cardiovasculares etc. Con objetivos de mejorar factores de riesgos que son recurrentes en personas mayores o adultos j&oacute;venes como HTA (hipertensi&oacute;n arterial).
La OMS recomienda como m&iacute;nimo realizar 3 veces a la semana ejercicios con un m&iacute;nimo de 30 min.
La implementaci&oacute;n de ejercicios en adultos mayores es enfocada tambi&eacute;n para reducir los riesgos de ca&iacute;da, mejorar la coordinaci&oacute;n, junto con la secreci&Oacute;n de endorfinas end&oacute;genas que pueden ayudar a mejorar el bienestar general
El tratamiento que aplica la <strong>kinesiolog&iacute;a del adulto mayor</strong>  se basa en:
<ul>
    <li>Movilizaci&oacute;n articular.</li>
    <li>Ejercicios de activaci&oacute;n.</li>
    <li>Ejercicios respiratorios</li>
    <li>Educaci&oacute;n cuidadores y familiares</li>
    <li>Terapias espec&iacute;ficas seg&uacute;n sea el caso</li>
</ul>

<h2>Patolog&iacute;as frecuentes en geriatr&iacute;a y su enfoque de tratamiento en kinesiolog&iacute;a</h2>

<h3>Artrosis: </h3>es una lesi&iacute;n que consiste en la destrucci&oacute;n del cart&iacute;lago articular, por da&ntilde;o traum&aacute;tico acumulativo (el dolor por lo general se asocia al da&ntilde;o al hueso subcondral donde se encuentran las terminales nerviosas sensitivas). En el interior de las articulaciones existe, generalmente, un fluido llamado l&iacute;quido sinovial que es producido por la membrana sinovial. Los extremos &oacute;seos que se unen para formar la articulaci&oacute;n est&aacute;n recubiertos por el cart&iacute;lago articular.
Cuando este cart&iacute;lago articular se lesiona, se produce dolor, rigidez e incapacidad funcional. Normalmente la artrosis se localiza en la columna cervical y lumbar, algunas articulaciones del hombro y de los dedos de las manos, la cadera, la rodilla y la articulaci&oacute;n del comienzo del dedo gordo del pie.
 La artrosis por lo general cursa con rigidez articular y dolor producto de la deformaci&oacute;n articular es m&aacute;s recurrente en adultos mayores, a diferencia de la artritis reumatoide que es una enfermedad autoinmune inflamatoria y que puede ocurrir en cualquier edad. Existen factores de riesgos que pueden predisponer a la aparici&oacute;n de esta enfermedad como la obesidad y el sedentarismo
<h3>Patolog&iacute;as respiratorias:</h3> las m&aacute;s recurrentes son EPOC, fibrosis pulmonar, neumon&iacute;as, bronquitis
<h3>Accidentes cerebro vascular:</h3> generalmente debido a factores de riesgo como HTA, DMII, dislipidemias, arterioesclerosis, patolog&iacute;as cardiacas
<h3>Patolog&iacute;as cardiovasculares:</h3> todas en la que se incluya alguna alteraci&oacute;n de la funci&oacute;n cardiaca, como arritmias, infartos agudos al miocardio, cardiomegalia. Todos ellos condicionan una alteraci&oacute;n en la funcionalidad global del paciente provocando alteraciones de disnea al esfuerzo
<h3>Patolog&iacute;as metab&oacute;licas: </h3>obesidad, diabetes mellitus, condiciones generales que fomentes la falta de actividad f&iacute;sica 
<h3>Parkinson:</h3> patolog&iacute;a neurol&oacute;gica degenerativa La enfermedad de Parkinson es una enfermedad progresiva del sistema nervioso esto quiere decir que con el paso del tiempo sus s&iacute;ntomas ir&aacute;n aumentando y empeorando esta afecta el movimiento, incluyendo marcha y equilibrio, los cuales son hitos importantes en los procesos de independencia. Los s&iacute;ntomas comienzan gradualmente. A veces, comienza con un temblor apenas perceptible en una sola mano. Los temblores son habituales, aunque la enfermedad tambi&eacute;n suele causar rigidez o disminuci&oacute;n del movimiento. Por lo general los pacientes se benefician del enfoque de tratamiento en disminuir los riesgos de ca&iacute;das, rigidez musculares, tendinosa o articulares, adquieren mayor estrategia para las actividades de la vida diaria. En las &uacute;ltimas fases de esta patolog&iacute;a el paciente cursara con un proceso de inmovilidad total, en esta fase requerida la m&aacute;xima ayuda por el proceso de postraci&oacute;n que producir&aacute;
<h3>Alsaimer:</h3> patolog&iacute;a neurol&oacute;gica degenerativa donde la persona puede la memoria progresivamente, afectando el lenguaje, el juicio y todas las condiciones y funciones de la vida diaria en caso de que progrese m&aacute;s la enfermedad

Como ayudar en casa a mi familiar
Para mayor independencia de los usuarios de la <a href="http://www.kinesishouse.cl" target="_blank" rel="noopener noreferrer"> kinesiolog&iacute;a a domicilio</a> se incluir&aacute; aqu&iacute;  mismo un programa m&iacute;nimo para que puedan seguir en casa que contara con
algunas recomendaciones de ejercicios con m&iacute;nimos de riesgos para los pacientes pero que ayudara a la mantenci&oacute;n de ciertos patrones básicos para poder lograr reducir los efectos del reposo prolongado o el sedentarismo


<h2>Ejercicios para extremidad superior </h2>
<ul>
    <li>Movilizar en c&iacute;rculo los hombros hacia adelante y atr&aacute;s repetir 10 veces : la idea con esto es activar de manera parcial la musculatura rotadora de hombro para estimular articulaciones tendones y m&uacute;sculos</li>
    <li>Subir y bajar los hombros :activar la musculatura de trapecios</li>
    <li>Rotaciones de cabeza: b&aacute;sicamente consiste en girar suavemente la cabeza y cuello en sentido horario y anti – horario para trabajar la musculatura de cuello y mejorar su flexibilidad, ideal ejecutar el ejercicio sentado para no generar problemas de mareos o sintomatolog&iacute;a en el sistema vestibular que pudiese generar alguna ca&iacute;da</li>
    <li>Con los brazos en flexi&oacute;n anterior y codos extendidos abrir  y cerrar dedos en m&aacute;xima velocidad para poder estimular la musculatura de antebrazo. Este ejercicio ideal ejecutarlo entre 1 minuto a 30 segundos</li>
    <li>Rotaci&oacute;n de cadera y tronco: la finalidad es estimular el movimiento de la musculatura de cadera para lograr mayor flexibilidad y elasticidad del componente musculo tendineo</li>
    <li>Ejercicios con mancuernas de flexi&oacute;n de codo 20 repeticiones por lado (si no posee mancuernas con botellas pl&aacute;sticas de 500cc agregando arena puede lograr una mancuerna artesanal) </li>
</ul>

Se compone su ejecuci&oacute;n de 10 rotaciones en sentido horario y anti horario

<h2>Ejercicios para extremidad inferior</h2>
<ul>
    <li>Sentadillas: ideal esta ejecuci&oacute;n realizarla de pocas series (ideal entre 10 a 15) y repetir 3 veces, el objetivo es fortalecer la musculatura de cu&aacute;driceps para reducir con ello los riesgos de ca&iacute;das y mejorar la condiciones cardiovasculares (ideal controlar factores como presi&oacute;n arterial y frecuencia cardiaca)</li>
    <li>Elevaci&oacute;n con punta de pies: ideal lograr un m&aacute;ximo de 15 a 20 repeticiones</li>
    <li>Flexi&oacute;n de cadera apoyado en una silla, ideal lograr 20 a 30 repeticiones por lados, el objetivo es fortalecer la musculatura de cadera y aumentar la resistencia al esfuerzo</li>
    <li>Abducci&oacute;n de cadera en posici&oacute;n de pie afirmado de una silla: la musculatura abductora de cadera es un principal actor en el equilibrio dinmico de la extremidad inferior, por lo mismo es ideal fortalecerlo constantemente</li>
    <li>Ejercicios de puente para mejorar la activaci&oacute;n de musculatura gl&uacute;tea, abdominal y lumbar</li>
</ul>

Ideal mantener la posici&oacute;n isom&eacute;trica durante 30 segundos a 1 minuto

<h2>Estiramientos m&uacute;sculos tendineos</h2>
Estiramientos b&aacute;sicos de extremidad inferior con ayuda externa (pasivo asistido)
Este ejercicio se puede realizar con la ayuda de alg&uacute;n familiar en que se buscara generar una flexi&oacute;n de la cadera con la rodilla extendida para estimular el estiramiento de la musculatura de la corva

Ahora si se cuenta con mayor independencia se puede usar una sabanilla para lograr la extensi&oacute;n de la zona
Ideal mantener la posici&oacute;n por lo menos 20 segundos, repetir 3 veces cada zona
<h2>Estiramiento de mu&ntilde;ecas</h2>

Con el brazo (codo) extendido se colocara la mano en pronaci&oacute;n (como en la imagen) flectando la mu&ntilde;eca y manteniendo la posici&oacute;n por un periodo de 20 segundos, repetir por 3 veces 
Para estirar los flexores de mu&ntilde;eca el movimiento es contrario, mano en supinaci&oacute;n se lleva mu&ntilde;eca y dedos hacia la extensi&oacute;n, mantener la posi&oacute; por 20 segundos y repetir 3 veces

<h2>Estiramiento de trapecio b&aacute;sico</h2>
Esto va enfocado a la musculatura de cuello lateral
Se posiciona la cabeza de manera lateral con el objetivo de acercar la oreja al hombro
Se tensa la posici&oacute;n con la ayuda de la mano del mismo lado que se quiera estirar 
Mantener la posici&oacute;n por 20 segundos y repetir 3 veces

&iacute;sto todo es en estricta medida algo muy b&aacute;sico para realizar en casa , siempre es ideal contar con la ayuda del kinesi&oacute;logo el cual puede estar pendiente de las patolog&iacute;as asociada
que puede presentar el paciente para as&iacute; poder evitar lesiones o alteraciones que gatillen alguna respuesta no deseada
Esto es un instructivo a modo de ayuda para los pacientes ya que la organizaci&oacute;n mundial de la salud (OMS) recomienda como m&iacute;nimo un total de ejercicios de 3 veces por semana con un horario m&iacute;nimo de 30 minutos

Hola a todos soy <a href="http://www.kinesishouse.cl" target="_blank">kinesi&oacute;logo</a>  titulado el a&ntilde;o 2014, he realizado muchos cursos y post t&iacute;tulos. Este sitio webs est&aacute; enfocado en las personas que buscan soluciones a sus procesos de 
<strong>rehabilitaci&oacute;n</strong>  de manera f&aacute;cil, se publicaran algunos post donde se explicaran patologas y sus enfoques de tratamiento adem&aacute;s de algunas recomendaciones que puedan implementan en casa


           </p>
           
    
    
      </div>
      
      <div class="container left-align">

        <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
        </div>
    
       </div>
     </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>