<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
<div class="section container"></div>

    <div class="section container">
        
     <div class="row center-align">
    
            
    
        <div id="primary" class="content-area primary">
    
            
                        <main id="main" class="site-main">
    
                    
                        
                        
    
    <article 
        class="post-10305 page type-page status-publish ast-article-single" itemtype="https://schema.org/CreativeWork" itemscope="itemscope" id="post-10305">
    
        
        <header class="entry-header ast-no-thumbnail ast-no-meta">
    
            
            <h1 class="entry-title" itemprop="headline">Aviso legal y condiciones de uso</h1>	
        </header><!-- .entry-header -->
    
        <div class="entry-content clear" itemprop="text">
    
            
            <p>Si has llegado a este apartado de mi página web es porque sin duda te interesa saber más sobre la relación que podemos tener en este espacio. Es decir, conocer los datos de mi actividad, la finalidad de la web,  que información de la web utilizo y que hago con tus datos, cuales son los derechos y obligaciones que tenemos ambos y explicarte cuales son mis procedimientos para proteger tus datos personales y mi compromiso de confidencialidad.</p>
    <h2>Datos del Responsable.</h2>
    <ul>
    <li><b>Identidad del Responsable:</b> Paulo Silva Munita</li>
    <li><b>Nombre comercial:</b> Kinesis House</li>
    <li><b>NIF/CIF:</b> 16084370-5</li>
    <li><b>Dirección:</b> santiago de chile, peñalolen</li>
    <li><b>Correo electrónico:</b> kinesishouse@gmail.com</li>
    <li><b>Actividad:</b> Comercio y servicios electrónicos</li>
    </ul>
    <p>En este espacio, el usuario, podrá encontrar toda la información relativa a los términos y condiciones legales que definen las relaciones entre los usuarios y yo como responsable de esta web.
         Como usuario, es importante que conozcas estos términos antes de continuar tu navegación.</p>
    <p>kinesishouse(Paulo Silva Munita) como responsable de esta web, asumo el compromiso de procesar la información de mis usuarios y clientes con plenas garantías y cumplir con los requisitos nacionales y europeos que regulan la recopilación y uso de los datos personales de mis usuarios.</p>
    <p>Esta web, por tanto, cumple rigurosamente con La Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), y con el Real Decreto 1720/2007, de 21 de diciembre, 
       conocido como el Reglamento de desarrollo de la LOPD. Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD), así como con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE ó LSSI).</p>
 
    <h2>Condiciones generales de uso.</h2>
    <p>Las presentes Condiciones Generales regulan el uso (incluyendo el mero acceso) de las páginas de web, integrantes del sitio web de kinesishouseincluidos los contenidos y servicios puestos a disposición en ellas. Toda persona que acceda a la web, http://www.kinesishouse.cl (“usuario”) acepta someterse a las Condiciones Generales vigentes en cada momento del portal http://www.kinesishouse.cl</p>
    <h2>Datos personales que recabo y cómo lo hago.</h2>
    <p>Tienes toda la información en la <a href="http://www.kinesishouse.cl/politica-de-privacidad/" target="_blank" rel="noopener">Política de Privacidad</a>.</p>
    <h2>Compromisos y obligaciones de los usuarios.</h2>
    <p>El usuario queda informado, y acepta, que el acceso a la presente web no supone, en modo alguno,
       el inicio de una relación comercial con kinesishouse De esta forma, el usuario se compromete a utilizar el sitio web, sus servicios y contenidos sin contravenir la legislación vigente, la buena fe y el orden público.</p>
    <p>Queda prohibido el uso de la web, con fines ilícitos o lesivos, o que, de cualquier forma, puedan causar perjuicio o impedir el normal funcionamiento del sitio web. Respecto de los contenidos de esta web, se prohíbe:</p>
  
    <ul>
    <li>Su reproducción, distribución o modificación, total o parcial, a menos que se cuente con mi autorización como legítimo titular;</li>
    <li>Cualquier vulneración de los derechos del prestador o de mi como legítimo titular;</li>
    <li>Su utilización para fines comerciales o publicitarios.</li>
    </ul>
   
    <p>En la utilización de la web, http://www.kinesishouse.cl el usuario se compromete a no llevar a cabo <b>ninguna conducta</b> que pudiera dañar la imagen, los intereses y los derechos de kinesishouseo de terceros o que pudiera dañar, inutilizar o sobrecargar el portal http://www.kinesishouse.cl o que impidiera, de cualquier forma, la normal utilización de la web.</p>
    <p>No obstante, el usuario debe ser consciente de que las medidas de seguridad de los sistemas informáticos en Internet no son enteramente fiables y que, por tanto http://www.kinesishouse.cl  no puede garantizar la inexistencia de malware u otros elementos que puedan producir alteraciones en los sistemas informáticos (software y hardware) del usuario o en sus documentos electrónicos y ficheros contenidos en los mismos aunque pongo todos los medios necesarios y las medidas de seguridad oportunas para evitar la presencia de estos elementos dañinos.</p>
    <h2>Anuncios patrocinados, enlaces de afiliados y publicidad.</h2>
    <p>Esta web ofrece a los usuarios contenidos patrocinados, anuncios y/o enlaces de afiliados.</p>
    <p>Entre los enlaces facilitados, existe la posibilidad de informar y de referenciar productos y/o servicios y/o infoproductos. En estos últimos casos, esa solicitud será remitida a terceros, como son:</p>
    <ul>
    <li>Active Campaign, <a href="https://www.activecampaign.com/">https://www.activecampaign.com/</a></li>
    <li>Webempresa, <a href="https://www.webempresa.com/">https://www.webempresa.com/</a></li>
    </ul>
    <p>La información que aparezcan en estos enlaces de afiliados o los anuncios insertados, son facilitados por los propios anunciantes, por lo que paulo silva munita no se hace responsable de posibles inexactitudes o errores que pudieran contener los anuncios, ni garantiza en modo alguno la experiencia, integridad o responsabilidad de los anunciantes o la calidad de sus productos.</p>
    <p>Los anuncios permanecerán publicados en el portal hasta que sean eliminados o suspendidos por parte del anunciante o de kinesishouse que lógicamente no será responsable de que, una vez dados de baja en sus bases de datos, los anuncios continúen siendo indexados en buscadores ajenos a este portal.</p>
    <p>Cualquier relación contractual o extracontractual que el usuario formalice con los anunciantes, afiliados o terceras personas contactadas a través de este portal se entienden realizados única y exclusivamente entre el usuario y el anunciante y/o tercera persona. El usuario sabe y acepta que http://www.kinesishouse.cl únicamente actúa como cauce o medio publicitario y que por tanto no tiene ningún tipo de responsabilidad sobre los daños o perjuicios de cualquier naturaleza ocasionados con motivo de sus negociaciones, conversaciones y/o relaciones contractuales o extracontractuales con los anunciantes o terceras personas físicas o jurídicas contactadas a través de este portal.</p>
    <h2>Medidas de seguridad.</h2>
    <p>Los datos personales comunicados por el usuario a kinesishouse pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a Paulo Silva Munita, asumiendo ésta todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente en protección de datos.La comunicación entre los usuarios y http://www.kinesishouseis.cl utiliza un canal seguro, y los datos transmitidos son cifrados gracias a protocolos a https, por tanto, garantizo las mejores condiciones de seguridad para que la confidencialidad de los usuarios esté garantizada.</p>
    <h2>Plataforma de resolución de conflictos.</h2>
    <p>Pongo también a disposición de los usuarios la plataforma de resolución de litigios que facilita la Comisión Europea y que se encuentra disponible en el siguiente enlace: <a href="http://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener">http://ec.europa.eu/consumers/odr/</a></p>
    <h2>Derechos de propiedad intelectual e industrial.</h2>
    <p>En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de kinesishouse El usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de kinesishouses</p>
    <p>El usuario conoce y acepta que la totalidad del sitio web, conteniendo sin carácter exhaustivo el texto, software, contenidos (incluyendo estructura, selección, ordenación y presentación de los mismos) podcast, fotografías, material audiovisual y gráficos, está protegida por marcas, derechos de autor y otros derechos legítimos, de acuerdo con los tratados internacionales en los que España es parte y otros derechos de propiedad y leyes de España.</p>
    <p>En el caso de que un usuario o un tercero consideren que se ha producido una violación de sus legítimos derechos de propiedad intelectual por la introducción de un determinado contenido en la web, deberá notificar dicha circunstancia a kinesishouse indicando:</p>
    <ul>
    <li>Datos personales del interesado titular de los derechos presuntamente infringidos, o indicar la representación con la que actúa en caso de que la reclamación la presente un tercero distinto del interesado.</li>
    <li>Señalar los contenidos protegidos por los derechos de propiedad intelectual y su ubicación en la web, la acreditación de los derechos de propiedad intelectual señalados y declaración expresa en la que el interesado se responsabiliza de la veracidad de las informaciones facilitadas en la notificación.</li>
    </ul>
    <h2>Enlaces externos.</h2>
    <p>Las páginas de la web http://www.kinesishouseis.cl proporciona enlaces a otros sitios web propios y contenidos que son propiedad de terceros tales como:</p>
    <ul>
    <li>Herramientas</li>
    <li>Recursos</li>
    <li>Contenido de otros blogs</li>
    <li>Enlaces de afiliados</li>
    </ul>
    <h2>Exclusión de garantías y responsable.</h2>
    <p><b>Paulo Silva Munita (kinesishouse) no otorga ninguna garantía ni se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran traer causa de:</b></p>
    <ul>
    <li>La falta de disponibilidad, mantenimiento y efectivo funcionamiento de la web, o de sus servicios y contenidos;</li>
    <li>La existencia de malware, programas maliciosos o lesivos en los contenidos;</li>
    <li>El uso ilícito, negligente, fraudulento o contrario a este Aviso Legal;</li>
    <li>La falta de licitud, calidad, fiabilidad, utilidad y disponibilidad de los servicios prestados por terceros y puestos a disposición de los usuarios en el sitio web.</li>
    <li>El prestador no se hace responsable bajo ningún concepto de los daños que pudieran dimanar del uso ilegal o indebido de la presente página web.</li>
    </ul>
    <h2>Ley aplicable y jurisdicción.</h2>
    <p>Con carácter general las relaciones entre kinesishouse con los usuarios de sus servicios telemáticos, presentes en esta web se encuentran sometidas a la legislación y jurisdicción españolas y a los tribunales de VALLADOLID.</p>
    <h2>Contacto.</h2>
    <p>En caso de que cualquier usuario tuviese alguna duda acerca de estas Condiciones legales o cualquier comentario sobre el portal http://www.kinesishouse.cl por favor diríjase kinesishouse@gmail.com</p>
    <p>El aviso legal ha sido actualizado por última vez el 13-08-2018.</p>
    
            
            
        </div><!-- .entry-content .clear -->
    
        
        
    </article><!-- #post-## -->
    
    
                        
                        
                    
                </main><!-- #main -->
                
            
        </div><!-- #primary -->
    
    
                
                </div> <!-- ast-container -->
    
            </div><!-- #content -->
         
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>