<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/navbar.ejs'); %>



 <!-- menu flotante left-->
 <div class="menu-btn">
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hide-on-large-and-down">menu</i></a>
    
</div>

<!--header-->
<header>

  <section class="header-main-pic z-depth-2">
      <div class="intro-area">
          <div class="container">
            <h1>Kinesiologo a domicilio</h1>
            <p>rehabilitacion en la comodidad de tu hogar</p>
          </div>
        </div>
  </section>

  
</header>   
<!-- contenido y servicios -->
  <!-- section main-->
  <main class="container">
    <section >
      <div class="row">

        <h2 class="heading-primary center" id="servicio">Servicio de Kinesiologia</h2>
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">flash_on</i></span>
              <h3 class="center">Kinesiologo Respiratorio</h3>
              <p>terapia respiratoria a domicilio, EPOC, neumonia, aspiracion de secreciones</p>
            </div>
            <div class="card-action">
              <a href="#">Ver Mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">accessible</i></span>
              <h3>kinesiologia al adulto mayor</h3>
              <p>
                tratamieto integral en personas mayores, conbinamos terapia de respiratorio,
                 traumatologia y neruologia para mejorar todos los factores necessarios en ancianos
              </p>
            </div>
            <div class="card-action">
              <a href="#">ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">hearing</i></span>
              <h3>terapia de Acupuntura</h3>
              <p>tratamiento del dolor cronico y agudo, fibromialgia, dolores de cabeza en combinacion con kinesiologia</p>
            </div>
            <div class="card-action">
              <a href="#">ver Mas</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">local_hotel</i></span>
               <h3>Kinesiologo Neurologia</h3>
              <p>Rehabilitacionen patologias neurologias como parkinson, ACV, guillian barre</p>
            </div>
            <div class="card-action">
              <a href="#"> ver Mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">thumb_up</i></span>
              <h3>Kinesiologo traumatologia</h3>
              <p> tratamiento combinado a patologias como lumbagos problemas a tendones, dolor cronico, fracturass y post operados</p>
            </div>
            <div class="card-action">
              <a href="#">ver Mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card blue-grey darken-1 z-depth-3">
            <div class="card-content white-text">
              <span class="card-title center"><i class="material-icons large">airline_seat_flat                
                </i></span>
              <h3>Masaje terapeuticos</h3>
              <p>Servicios de masaje terapeutico, 45 min de duracion, se aplican diveras formas y tecnicas de masaje.</p>
            </div>
            <div class="card-action">
              <a href="#">ver Mas</a>
            </div>
          </div>
        </div>
      </div>
      
      
    
    </section>
    <div class="divider"></div>
    <section>
        <div class="row">
          <h2 class="heading-primary center">Articulos de Kinesiologia</h2>

            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/public/images/Respiratoria.webp" alt="kinesiologo respiratorio a domicilio">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a respiratoria a domicilio | ni&ntilde;os y adulto mayor <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a respiratoria a domicilio | ni&ntilde;os y adulto mayor <i class="material-icons right">close</i></span>
                        <p> la mejor atenci&oacute;n de la Regi&oacute;n Metropolitana
                          <h3>¿Que es la kinesiolog&iacute;a respiratoria domicilio?</h3>  Esto es una <strong>terapia con ejercicios </strong> 
                          respiratorios realizados por el <strong>kinesiologo</strong> . Se aplican un conjunto de t&eacute;cnicas manuales 
                          sobre el t&oacute;rax, adem&aacute;s de <strong>aspiraci&oacute;n de secreciones</strong>  con el fin de favorecer la Ventilaci&oacute;n 
                          correcta y el mejoramiento de la Funci&oacute;n Pulmonar. Con esto se logra el tratamiento tanto cr&oacute;nico 
                          como agudo del sistema respiratorio como asma bronquitis, neumon&iacute;a, EPOC(fisiolog&iacute;a del EPOC)
        <ul>
          <li>t&eacute;cnicas de <strong>kinesioterapia</strong>  como drenaje bronquial, clapping, presiones sobre el t&oacute;rax</li>
          <li><strong>aspiraci&oacute;n endotraqueal de secreciones</strong>  con bomba(turbina) de succi&oacute;n</li>
          <li>nebulizaci&oacute;n</li>
          <li>saturometr&iacute;a de pulso (pulso normal 98 a 96%) y evaluaciones continuas</li>
          <li>profesional con experiencia en servicios de Unidad de cuidado cr&iacute;tico y Coronario</li>
        </ul>
        la aplicaci&oacute;n terapeutica es diferente en pacientes bebes, ni&ntilde;os y adultos , teniendo variaciones dpendiendo de la cooperaci&oacute;n del paciente</p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/public/images/Neurologia.webp" alt="kinesiologo neurologia a domicilio">

                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a en  Neurol&oacute;gia a domicilio <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">post title <i class="material-icons right">close</i></span>
                        <p>¿A qui&eacute;n va dirigido? aplicaciones de terapia que se incluyen en el servicio,<strong>pacientes con todo tipo de alteraciones neurol&oacute;gicas</strong> se enfoca a 
                          , entre las m&aacute;s comunes est&aacute;n: accidentes cerebro vasculares
                        </p>
                         <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/public/images/Traumatologia.webp" alt="kinesiologo traumatologia a domicilio">

                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia <i class="material-icons right">close</i></span>
                        <p> ¿En qu&eacute; consiste el tratamiento? <strong>El tratamiento kin&eacute;sico</strong>  se llevara a cabo en la comodidad de su
                          hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta  </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>              
        </div>
        <div class="row">
          <article class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/public/images/Adulto-Mayor.webp" alt="kinesiologo adulto mayor a domicilio">

                </div>
                <div class="card-content">
                    <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo <i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo <i class="material-icons right">close</i></span>
                    <p> 
                      Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada 
                      d&iacute;a aumenta el n&uacute;mero de adultos mayores con diversas complicaciones y dolencias
      
                    </p>
                    <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                </div>
                    
            </div> 

        </article>
        <article class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/public/images/Deporte.webp" alt="kinesiologo respiratorio a domicilio">

                </div>
                <div class="card-content">
                    <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a Deportiva a domicilio <i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a Deportiva a domicilio |atenci&oacute;n especial eventos deportivos <i class="material-icons right">close</i></span>
                    <p> 
                      ¿en qu&eacute; se diferencia a la kinesiolog&iacute;a en traumatolog&iacute;a? 
                      la diferencia est&aacute; en que el trabajo de rehabilitaci&oacute;n se enfoca directamente en la 
                      funci&oacute;n deportiva que genera la lesi&oacute;n con el fin de mejorar t&eacute;cnica deportiva y reducir
      
                    </p>
                    <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                </div>
                    
            </div> 

        </article>
        <article class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="/public/images/Acupuntura.webp" alt="Acupuntura a domicilio">

                </div>
                <div class="card-content">
                    <span class="card-title grey-texts activator text-darken-4"> Acupuntura a domicilio en santiago de chile <i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text activator text-darken-4">Acupuntura a domicilio en santiago de chile <i class="material-icons right">close</i></span>
                    <p>
                      De qu&eacute; trata esta t&eacute;cnica milenaria (acupuntura) prestada como servicio?</h3><strong>La acupuntura</strong>  es una t&eacute;cnica de medicina tradicional
                      china que consta de la <strong>aplicaci&oacute;n de finas agujas</strong> en puntos espec&iacute;ficos del cuerpo para tratar diversas patolog&iacute;as, 
                      algunas personas dice que esto es de manera refleja actuando sobre el sistema nervioso simp&aacute;tico y para-simp&aacute;tico, 
                      pero la verdad es algo mucho m&aacute;s complejo de explicar, pero en t&eacute;rminos m&aacute;s sencillos como todo elemento terap&eacute;utico solo se busca el estado de equilibrio del cuerpo. 
                      En una sesi&oacute;n tipo la persona ser&aacute; evaluada seg6uacute;n la <strong>medicina china</strong>  y con los datos recopilados se le har&aacute; un diagn&oacute;stico y posteriormente un plan de tratamiento,
                      el paciente debe comprender que el proceso de <strong> enfermedad cr&oacute;nico </strong>por lo general es progresivo, as&iacute;como la vuelta al estado de salud as&iacute; como en los procesos de rehabilitaci&oacute;n 
                      los cambios se ir&aacute;n percibiendo durante cada sesi&oacute;n. La duraci&oacute;n de la terapia es aproximada de una sesi&oacute;n es de 45 Min a 1 hr. y se realizan entre 2 a 3 veces por semana 
                      Adem&aacute;s de <strong>la aplicaci&oacute;n de agujas</strong>, se pueden utilizar ventosas, moxibusti&oacute;n y/o electroterapia. La Organizaci&oacute;n mundial de la salud 
                      ha publicado un listado de enfermedades en donde la acupuntura puede ayudar, entre ellas est&aacute;n
    
                    </p>
                    <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                </div>
                    
            </div> 

        </article>
        </div>
    </section>
  
</main>

<!-- contenido y servicios -->

  

  


      <%- include('partial/precios.ejs'); %>
      <%- include('partial/comentarios.ejs'); %>
    
      <%- include('partial/boton.ejs'); %>

      <%- include('partial/footer.ejs'); %>
      </body>
      
      </html>