<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
  
</head>
<body>
    <nav>  
      <div class="nav-wrapper transparent">
        <a href="#" class="brand-logo left"><img src="../assets/img/logo.jpg" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Inicio</a></li>
                <!-- Dropdown Trigger -->
          <li><a href="#servicio">Servicio</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/about">Nosotros</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="#">Store</a></li>
        </ul>
                <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>

        </ul>
        <ul id="dropdown2" class="dropdown-content">
          <li><a href="/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-traumatologia">kinesiol&oacute;go traumatolog&iacute;a</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-neurologia">kinesi&oacute;logo neurolog&iacute;a</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-adulto-mayor">kinesi&oacute;logo adulto mayor</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
          <li class="divider"></li>
          <li><a href="/kinesiologia-domicilio"> FAQ kinesiolog&iacute;a</a></li>
 

        </ul>
      </div></nav>

      <!-- sinenav mobile-->

    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="../assets/img/post-ems_lite.jpg">
        </div>
        <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#name"><span class="white-text name">Paulo Silva M.</span></a>
        <a href="#email"><span class="white-text email">kinesishouse@gmail.com</span></a>
      </div></li>
      <li><a href="/"><i class="material-icons">home</i>Inicio</a></li>
      <li><a href="#servicio"><i class="material-icons">local_offer</i>Servicio</a></li>
      <li><a href="/about"><i class="material-icons small"> group </i>Nosotros</a></li>
      <li><a href="/contacto"><i class="material-icons small">mail</i>Contacto</a></li>

      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons small">library_books</i>Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Sub-Menu</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons small">local_grocery_store</i> Tienda</a></li>
    </ul>

    <!-- menu flotante left-->
    <div class="menu-btn">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons hide-on-large-and-down">menu</i></a>
          
    </div>

    <!--header-->
    <header>
     
        <section class="header-main-pic z-depth-2">
            <div class="intro-area">
                <div class="container">
                  <h1>Kinesiologo a domicilio</h1>
                  <p>rehabilitacion en la comodidad de tu hogar</p>
                </div>
              </div>
        </section>
     
        
    </header>   

    <!-- section main-->
    <main class="container">
        <section >
          <div class="row">

            <h2 class="heading-primary center" id="servicio">Servicio de Kinesiologia</h2>
            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">flash_on</i></span>
                  <h3 class="center">Kinesiologo Respiratorio</h3>
                  <p>terapia respiratoria a domicilio, EPOC, neumonia, aspiracion de secreciones</p>
                </div>
                <div class="card-action">
                  <a href="#">Ver Mas</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">accessible</i></span>
                  <h3>kinesiologia al adulto mayor</h3>
                  <p>
                    tratamieto integral en personas mayores, conbinamos terapia de respiratorio,
                     traumatologia y neruologia para mejorar todos los factores necessarios en ancianos
                  </p>
                </div>
                <div class="card-action">
                  <a href="#">ver mas</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">hearing</i></span>
                  <h3>terapia de Acupuntura</h3>
                  <p>tratamiento del dolor cronico y agudo, fibromialgia, dolores de cabeza en combinacion con kinesiologia</p>
                </div>
                <div class="card-action">
                  <a href="#">ver Mas</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">local_hotel</i></span>
                   <h3>Kinesiologo Neurologia</h3>
                  <p>Rehabilitacionen patologias neurologias como parkinson, ACV, guillian barre</p>
                </div>
                <div class="card-action">
                  <a href="#"> ver Mas</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">thumb_up</i></span>
                  <h3>Kinesiologo traumatologia</h3>
                  <p> tratamiento combinado a patologias como lumbagos problemas a tendones, dolor cronico, fracturass y post operados</p>
                </div>
                <div class="card-action">
                  <a href="#">ver Mas</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card blue-grey darken-1 z-depth-3">
                <div class="card-content white-text">
                  <span class="card-title center"><i class="material-icons large">airline_seat_flat                
                    </i></span>
                  <h3>Masaje terapeuticos</h3>
                  <p>Servicios de masaje terapeutico, 45 min de duracion, se aplican diveras formas y tecnicas de masaje.</p>
                </div>
                <div class="card-action">
                  <a href="#">ver Mas</a>
                </div>
              </div>
            </div>
          </div>
          
          
        
        </section>
        <div class="divider"></div>
        <section>
            <div class="row">
              <h2 class="heading-primary center">Articulos de Kinesiologia</h2>

                <article class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/public/images/Respiratoria.webp" alt="kinesiologo respiratorio a domicilio">
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a respiratoria a domicilio | ni&ntilde;os y adulto mayor <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a respiratoria a domicilio | ni&ntilde;os y adulto mayor <i class="material-icons right">close</i></span>
                            <p> la mejor atenci&oacute;n de la Regi&oacute;n Metropolitana
                              <h3>¿Que es la kinesiolog&iacute;a respiratoria domicilio?</h3>  Esto es una <strong>terapia con ejercicios </strong> 
                              respiratorios realizados por el <strong>kinesiologo</strong> . Se aplican un conjunto de t&eacute;cnicas manuales 
                              sobre el t&oacute;rax, adem&aacute;s de <strong>aspiraci&oacute;n de secreciones</strong>  con el fin de favorecer la Ventilaci&oacute;n 
                              correcta y el mejoramiento de la Funci&oacute;n Pulmonar. Con esto se logra el tratamiento tanto cr&oacute;nico 
                              como agudo del sistema respiratorio como asma bronquitis, neumon&iacute;a, EPOC(fisiolog&iacute;a del EPOC)
            <ul>
              <li>t&eacute;cnicas de <strong>kinesioterapia</strong>  como drenaje bronquial, clapping, presiones sobre el t&oacute;rax</li>
              <li><strong>aspiraci&oacute;n endotraqueal de secreciones</strong>  con bomba(turbina) de succi&oacute;n</li>
              <li>nebulizaci&oacute;n</li>
              <li>saturometr&iacute;a de pulso (pulso normal 98 a 96%) y evaluaciones continuas</li>
              <li>profesional con experiencia en servicios de Unidad de cuidado cr&iacute;tico y Coronario</li>
            </ul>
            la aplicaci&oacute;n terapeutica es diferente en pacientes bebes, ni&ntilde;os y adultos , teniendo variaciones dpendiendo de la cooperaci&oacute;n del paciente</p>
                            <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                        </div>
                            
                    </div> 

                </article>
                <article class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/public/images/Neurologia.webp" alt="kinesiologo neurologia a domicilio">

                        </div>
                        <div class="card-content">
                            <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a en  Neurol&oacute;gia a domicilio <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text activator text-darken-4">post title <i class="material-icons right">close</i></span>
                            <p>¿A qui&eacute;n va dirigido? aplicaciones de terapia que se incluyen en el servicio,<strong>pacientes con todo tipo de alteraciones neurol&oacute;gicas</strong> se enfoca a 
                              , entre las m&aacute;s comunes est&aacute;n: accidentes cerebro vasculares
                            </p>
                             <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                        </div>
                            
                    </div> 

                </article>
                <article class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/public/images/Traumatologia.webp" alt="kinesiologo traumatologia a domicilio">

                        </div>
                        <div class="card-content">
                            <span class="card-title grey-texts activator text-darken-4"> Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia <i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text activator text-darken-4">Kinesi&oacute;logo a domicilio en Traumatol&oacute;gia <i class="material-icons right">close</i></span>
                            <p> ¿En qu&eacute; consiste el tratamiento? <strong>El tratamiento kin&eacute;sico</strong>  se llevara a cabo en la comodidad de su
                              hogar, el profesional incluye todo el tipo de equipamientos necesarios para la correcta  </p>
                            <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                        </div>
                            
                    </div> 

                </article>              
            </div>
            <div class="row">
              <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/public/images/Adulto-Mayor.webp" alt="kinesiologo adulto mayor a domicilio">

                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a para el Adulto Mayor | domicilio o casas de reposo <i class="material-icons right">close</i></span>
                        <p> 
                          Pensando que cada vez la poblaci&oacute;n vive m&aacute;s a&ntilde;os y cada 
                          d&iacute;a aumenta el n&uacute;mero de adultos mayores con diversas complicaciones y dolencias
          
                        </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/public/images/Deporte.webp" alt="kinesiologo respiratorio a domicilio">

                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Kinesiolog&iacute;a Deportiva a domicilio <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">Kinesiolog&iacute;a Deportiva a domicilio |atenci&oacute;n especial eventos deportivos <i class="material-icons right">close</i></span>
                        <p> 
                          ¿en qu&eacute; se diferencia a la kinesiolog&iacute;a en traumatolog&iacute;a? 
                          la diferencia est&aacute; en que el trabajo de rehabilitaci&oacute;n se enfoca directamente en la 
                          funci&oacute;n deportiva que genera la lesi&oacute;n con el fin de mejorar t&eacute;cnica deportiva y reducir
          
                        </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            <article class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/public/images/Acupuntura.webp" alt="Acupuntura a domicilio">

                    </div>
                    <div class="card-content">
                        <span class="card-title grey-texts activator text-darken-4"> Acupuntura a domicilio en santiago de chile <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text activator text-darken-4">Acupuntura a domicilio en santiago de chile <i class="material-icons right">close</i></span>
                        <p>
                          De qu&eacute; trata esta t&eacute;cnica milenaria (acupuntura) prestada como servicio?</h3><strong>La acupuntura</strong>  es una t&eacute;cnica de medicina tradicional
                          china que consta de la <strong>aplicaci&oacute;n de finas agujas</strong> en puntos espec&iacute;ficos del cuerpo para tratar diversas patolog&iacute;as, 
                          algunas personas dice que esto es de manera refleja actuando sobre el sistema nervioso simp&aacute;tico y para-simp&aacute;tico, 
                          pero la verdad es algo mucho m&aacute;s complejo de explicar, pero en t&eacute;rminos m&aacute;s sencillos como todo elemento terap&eacute;utico solo se busca el estado de equilibrio del cuerpo. 
                          En una sesi&oacute;n tipo la persona ser&aacute; evaluada seg6uacute;n la <strong>medicina china</strong>  y con los datos recopilados se le har&aacute; un diagn&oacute;stico y posteriormente un plan de tratamiento,
                          el paciente debe comprender que el proceso de <strong> enfermedad cr&oacute;nico </strong>por lo general es progresivo, as&iacute;como la vuelta al estado de salud as&iacute; como en los procesos de rehabilitaci&oacute;n 
                          los cambios se ir&aacute;n percibiendo durante cada sesi&oacute;n. La duraci&oacute;n de la terapia es aproximada de una sesi&oacute;n es de 45 Min a 1 hr. y se realizan entre 2 a 3 veces por semana 
                          Adem&aacute;s de <strong>la aplicaci&oacute;n de agujas</strong>, se pueden utilizar ventosas, moxibusti&oacute;n y/o electroterapia. La Organizaci&oacute;n mundial de la salud 
                          ha publicado un listado de enfermedades en donde la acupuntura puede ayudar, entre ellas est&aacute;n
        
                        </p>
                        <a class="waves-effect waves-leal btn-flat teal lighten-5 right" href="#">Ver mas</a>

                    </div>
                        
                </div> 

            </article>
            </div>
        </section>
      
    </main>
      <!-- tabla de precios-->
   <section id="pricing" class="f-col">
    <h2 class="heading-primary">Precio de Terapias</h2>
    <div class="card-container f-row">
      <div class="product" id="tenor">
      <h2 id="level">Fuera de Santiago</h2>
      <h2 class="price">$40.000</h2>
      <ol>
        <li>Chicureo (colina).</li>
        <li>Buin.</li>
        <li>Calera de Tango.</li>
        <li>Curacavi</li>
      </ol>
      <button class="btn btn-card">Select</button>
    </div>
    
    <div class="product active-product" id="bass">
      <h2 id="level">Valor a domicilio</h2>
      <h2 class="price">$30.000</h2>
      <ol>
        <li>Respiratorio</li>
        <li>Traumatologia.</li>
        <li>Neurologia.</li>
        <li>Acupuntura.</li>
      </ol>
      <button class="btn btn-card">Select</button>
    </div>
    <div class="product" id="valve">
      <h2 id="level">Valor mensual</h2>
      <h2 class="price">$300.000</h2>
      <ol>
        <li>Plan mensual</li>
        <li>10 sesiones</li>
        <li>Reembolso isapres</li>
        <li>En la comodidad del Hogar</li>
      </ol>
      <button class="btn btn-card">Select</button>
    </div>
    </div>
  </section>
  <!-- fin tabla de precios-->

    <!-- end section main-->

      <!-- boton de llamadas y whassap-->
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large pulse red">
          <i class="material-icons">phone</i>
        </a>
        <ul>
          <li><a class="btn-floating green" href="https://api.whatsapp.com/send?phone=56956833633">
            <i class="material-icons">
                <svg style="width:24px;height:24px" viewbox="0 0 24 24">
                <path fill="#FFFFFF" d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"></path>
                </svg>
           </i></a>
        </li>         
        <li><a class="btn-floating blue" href="tel:+56956833633"><i class="material-icons">phone_in_talk</i></a></li>
        </ul>
      </div>
      <!--fin boton de llamadas-->

       
  <!--comentarios clientes-->
  <section class="container section">

      <div class="row">
        <h2 class="heading-primary center">Opiniones pacientes</h2>

        

        <div class="col s12">
          <div class="carousel carousel-slider">
            <a class="carousel-item" href=""><img src="/public/images/opinion_paciente1.jpg"></a>
            <a class="carousel-item" href=""><img src="/public/images/opinionpaciente2.jpg"></a>
            <a class="carousel-item" href=""><img src="/public/images/opinionpaciente3.jpg"></a>
            <a class="carousel-item" href=""><img src="/public/images/opinonpaciente4.jpg" ></a>
            <a class="carousel-item" href=""><img src="/public/images/opinionpaciente5.jpg"></a>
          </div>

        </div>

       
      </div>
      <div class="row center">
        <a target="_blank" href="https://www.google.com/search?q=kinesis+house&oq=kines&aqs=chrome.0.35i39j69i57j0i67l6j0i433i512j0i67.2430j0j15&sourceid=chrome&ie=UTF-8#lrd=0x9662c3de4ff84d79:0x7d9e5b3dd403ebc0,1,,,," class="btn waves-effect waves-light center">ver mas
          <i class="material-icons right">send</i>
        </a>
      </div>


  </section>

  <!-- fin comentarios clientes-->


      <!--footer inicio-->
      <footer>
        <!-- Footer main -->
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">Blog</h2>
            <ul>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-respiratorio">kinesi&oacute;logo respiratorio</a></li>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-traumatologia">kinesi&oacute;logo en traumatolog&iacute;a</a></li>
              <li><a class="white-text flow-text "  href="http://www.kinesishouse.cl/kinesiologo-neurologia">kinesi&oacute;logo en neurolog&iacute;a</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologo-adulto-mayor">kinesi&oacute;logo para adulto mayor</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologo-deportivo">kinesi&oacute;logo deportivo</a></li>
              <li><a class="white-text flow-text"  href="http://www.kinesishouse.cl/kinesiologia-domicilio">kinesiolog&iacute;a FAQ</a></li>
            </ul>

          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Extras</h2>
            <ul>
              <li><a href="#"><span><i class="material-icons small">local_grocery_store</i></span> Tienda</a></li>
              <li><a href="#"> <span><i class="material-icons small">library_books</i></span> Blog</a></li>
              <li><a href="#"> <span><i class="material-icons small">fitness_center</i></span> Ejercicios terapeuticos</a></li>
              
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Contacto</h2>
            <ul>
              <li><a href="#"><span><i class="material-icons small">place</i></span> Direccion <address> Ñuñoa, Peñalolen, Las condes, Chicureo, Vitacura, La Reina<address></a></li>
              <li><a href="#"><span><i class="material-icons small">phone_in_talk</i></span> Telefono: +56956833633</a></li>
              <li><a href="#"><span><i class="material-icons small">mail</i></span> kinesishouse@gmail.com</a></li>
            </ul>
          </div>
         
        </section>
      
        <!-- Footer social -->
        <section class="ft-social">
          <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </section>
      
        <!-- Footer legal -->
        <section class="ft-legal">
          <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li>&copy; 2023 Kinesiologo Paulo Silva M.</li>
          </ul>
        </section>
      </footer>
      <!--footer fin-->
    

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/public/js/main.js"></script>   
      
    
</body>
</html>