<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-deportiva" class="breadcrumb">Deportiva</a>
  
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n  deportiva</h2>
           <p>
               
<h2>¿Qu&eacute; es la kinesiolog&iacute;a deportiva?</h2>
Esta es un &aacute;rea de especializaci&oacute;n en rehabilitaci&oacute;n que integra &aacute;reas de la kinesiolog&iacute;a en traumatolog&iacute;a, conceptos de fisiolog&iacute;a del ejercicios y neuro rehabilitaci&oacute;n en algunos casos con el fin de  encargarse de la prevenci&oacute;n y tratamiento de las lesiones provocadas por la actividad deportiva, teniendo en cuenta los objetivos del paciente que se desenvuelve en  este &aacute;mbito (cada deporte tiene caracter&iacute;sticas particulares de tratamiento y prevenci&oacute;n), el cual presenta caracter&iacute;sticas diferentes al co&uacute;n de las personas, esto con el fin de lograr un &oacute;ptimo reintegro deportivo y una disminuci&oacute;n en las recibidas de lesi&oacute;n.
<h3>¿D&oacute;nde trabaja un kinesi&oacute;logo deportivo?</h3>
Principalmente en &aacute;reas ligadas al deporte amateur o competitivo, ideal que sepa de la t&eacute;cnica deportivo o procesos lesi&oacute;nales asociada a la misma, para favorecer a mejorar t&eacute;cnica evitar lesiones y reducir tiempos de recuperaci&oacute;n
El tratamiento se enfoca principalmente en:
<ul>
    <li>Tratar dolores asociados al deporte (cada deporte por lo general tiende a generar lesiones similares en un mismo grupo de practicantes).</li>
    <li>Mejorar la postura y patrones musculares alterados (asociados a d&eacute;ficit en flexibilidad fuerza o coordinaci&oacute;n)</li>
    <li>Prevenir lesiones (como las asociadas al uso de elementos inapropiados en el deporte. ( por ejemplo en running un mal calzado puede generar patolog&iacute;as como sin splint)</li>
    <li>Recuperar lesiones.</li>
    <li>Mejorar los patrones de movimiento y la coordinaci&oacute;n.</li>
    <li>Mejorar la colaboraci&oacute;n entre el sistema muscular y el sistema nervioso.</li>
    <li>Reducir los tiempos de recuperaci&oacute;n tras la pr&aacute;ctica deportiva.</li>
    <li>Re-educaci&oacute;n del gesto deportivo</li>
</ul>
<h2>¿Qu&eacute; elementos se utilizan en la kinesiolog&iacute;a deportiva?</h2>
<ul>
    <li>Fisioterapia para fomentar la reparaci&oacute;n y el manejo de s&iacute;ntomas (termoterapia, Crioterapia, Ultra Sonido, TENS)</li>
    <li>T&eacute;cnicas de masaje o terapia manual ortop&eacute;dica</li>
    <li>El an&aacute;lisis del gesto t&eacute;cnico de cada disciplina, evaluando la motricidad y biomec&aacute;nica natural del movimiento para mejorar t&eacute;cnica y rendimiento. </li>
    <li>estudio y evaluaci&oacute;n de musculatura en relaci&oacute;n de fuerza y flexibilidad mejorar el balance muscular entre fuerza y flexibilidad. la falta de esto es recidiva de lesiones recurrentes.</li>
    <li>Entrenamiento propioceptivo y funcional (conciencia corporal) y de equilibrio.</li>
    <li>vendaje deportivo Taping Terap&eacute;utico Kin&eacute;sico.</li>
    <li> Terapias complementarias como acupuntura</li>
</ul>
<h2>¿Qu&eacute; lesiones son las m&aacute;s recurrentes en esta &aacute;rea?</h2>

Pd. Se nombrara y explicara brevemente alguna de las lesionas m&aacute;s comunes en deportista con un lenguaje lo m&aacute;s entendible para los usuarios, obviamente en algunos puntos no se podr&aacute; eliminar el contenido o lenguaje t&eacute;cnico
<h3>Lesi&oacute;n de ligamentos cruzados de rodillas:</h3>
La lesi&oacute;n del ligamento cruzado anterior es un esguince o desgarro de ese ligamento, este es uno de los principales ligamentos de la rodilla. Las lesiones del ligamento cruzado anterior com&uacute;nmente se producen durante la pr&aacute;ctica de deportes que implican movimientos bruscos de desaceleraci&oacute;n repentina o rotaciones, se puede incluir en esta lesi&oacute;n la famosa triada maldita que engloba la lesi&oacute;n del ligamento cruzado anterior de rodilla lesi&oacute;n de menisco interno y lesi&oacute;n de ligamento medial de rodilla.
Por lo general las personas escuchan o sienten un chasquido en la rodilla cuando ocurre una lesi&oacute;n del ligamento cruzado anterior (similar a la ruptura del tend&oacute;n de Aquiles). Es posible que se te hinche la rodilla, que te sientas inestable y que te duela mucho soportar peso
<h3>Tendinosis:</h3> a diferencia de las tendinitis las cuales son un patr&oacute;n inflamatorio en el tend&oacute;n con los t&iacute;picos signos son de calor, rubor, edema, enrojecimiento etc. Las tendinosis son muy comunes en actividades deportivas en la cual el tejido no puede adaptarse a los cambios repetitivos producidos por el deporte, el col&aacute;geno normal en los tendones es de tipo 1 pero en las tendinopatias como el tend&oacute;n no logra adaptarse al esfuerzo el tejido y comienza a producir un col&aacute;geno de mala calidad. En las im&aacute;genes de ecograf&iacute;a se presenta como un n&oacute;dulo. Las tendinopatias presentan varias fases de lesi&oacute;n (en total 4) cada una es dolorosa antes durante o a todo momento dependiente del grado de lesi&oacute;n y su tratamiento es completamente diferente al de tendinitis, ya que el objetivo principal es generar tensiones progresivas sobre el tend&oacute;n para de esa manera generar la producci&oacute;n de col&aacute;geno de tipo 1 y lograr la recuperaci&oacute;n y fortalecimiento del tend&oacute;n
<h3>Tendinopatias de supraespinoso (hombro de lanzador): </h3>Se trata de una lesi&oacute;n reversible que cursa con dolor en la cara anterior y lateral del hombro  y que tiende a aumenta por la noche. Se observa tendinopat&iacute;a o tendinitis de uno o varios tendones del manguito rotador del hombro, siendo el tend&oacute;n del m&uacute;sculo supraespinoso el m&aacute;s afectado desde un principio. Los principales deportes que cursan con este tipo de patolo&iacute;as son aquellos que impliquen una movilidad de rotac&oacute;n interna del hombro con el brazo extendido como son el beisbol, tenis, voleibol e incluso el nado tipo croll
<h3>Codo de tenista (epicondilitis):</h3> El codo de tenista, o epicondilitis lateral, es una enfermedad del codo provocada por el sobreuso. Puede cursar inicialmente con tendinitis, pero lo habitual es encontrar un proceso de tendinosis en esta patolog&iacute;a
<h3>Desgarros musculares: </h3>aqu&iacute; se trata b&aacute;sicamente de una lesi&oacute;n en la cual el musculo pierde su continuidad existen seg&uacute;n clasificaci&oacute;n 6 tipos de desgarros que van desde el desgarro miofifrilar, desgarro fibrilar, desgarro multifibrilar, desgarro masivo o total con o sin avulsi&oacute;n &oacute;sea y la adherenciolisis que consiste una reincidencia de un desgarro (un desgarro en recuperaci&oacute;n se vuelve a desgarrar)
<h3>Esquinces de tobillo: </h3>son  lesiones habituales en la mayor&iacute;a de los deportes , correspondes a la lesi&oacute;n de los ligamentos estabilizadores tanto lateral o medial de tobillo (ligamento tibio peroneo astragalino o ligamento deltoideo) por lo general se debe a la ruptura parcial o total teniendo desde el grado de esguince 1 ,2 y 3, el kinesi&oacute;logo solo podr&aacute; ser participe en los casos de esguinces del tipo 1 y 2 el tipo 3 es operable, luego de esto el kinesi&oacute;logo podr&aacute; actuar en el proceso de rehabilitaci&oacute;n
<h3>S&iacute;ndrome de la banda iliotibial (rodilla del corredor): </h3>es una lesi&oacute;n habitual en corredores y ciclistas provocada por el roce de la banda iliotibial sobre el c&oacute;ndilo lateral de la rodilla, se puede considerar una lesi&oacute;n de tipo de sobre uso o incluso una mala t&eacute;cnica deportiva, La banda iliotibial corresponde al tensor lateral que tenemos a nivel del muslo y que est&aacute; inserto desde la cadera, hasta la parte inferior de la rodilla a nivel de la tibia. Este tensor es fundamental para poder mantener la estabilidad lateral a nivel de la rodilla y tambi&eacute;n un m&uacute;sculo importante en la zona proximal, a nivel de la cadera.
En general a este tensor no se le daba mucha importancia en la parte de fortalecimiento y elongaci&oacute;n, sin embargo en el &uacute;ltimo tiempo se ha visto que es muy relevante en el tratamiento completo en tendinopat&iacute;as de la rodilla y la cadera.
<h3>Recuperaci&oacute;n de las lesiones de tejido blando: (m&uacute;sculos tendones y ligamentos)</h3>
Los procesos de recuperaci&oacute;n de estos tejidos dependen b&aacute;sicamente de los procesos fisiol&oacute;gicos de recuperaci&oacute;n de los tejidos blandos (procesos de cicatrizaci&oacute;n)
Esto corresponde a que en los primeros 21 d&iacute;as desde la lesi&oacute;n ocurre un 80% de la reparaci&oacute;n de las fibras de col&aacute;geno en un proceso de reparaci&oacute;n o cicatrizaci&oacute;n.
En este tipo de lesiones la variaci&oacute;n est&aacute; en que se debe respetar los procesos de remodelaci&oacute;n de los tendones y adaptaci&oacute;n de la funci&oacute;n motriz y deportiva, adem&aacute;s de procesos de neovascularizaci&oacute;n que en algunos casos como lesiones de LCA tienden a tomar 6 meses de recuperaci&oacute;n funcional total, otras lesiones menos complejas obviamente tomaran menos tiempo
Los procesos de rehabilitaci&oacute;n ayudan en que se modulan o gu&iacute;an estos procesos naturales con ejercicios guiados a acelerar en parte estos procesos o en conjunto con los elementos de fisioterapia que buscan evitar adem&aacute;s procesos de reparaci&oacute;n an&oacute;malos
<h3>Pubalgias:</h3> La pubalgia es la denominaci&oacute;n gen&eacute;rica de una serie de lesiones que afectan a diferentes grupos musculares que se insertan en la zona  inguinal y que manifiestan con dolor en el pubis.
Entre ellas destaca la denominada pubalgia del deportista, que es una tendinosis que puede afectar a la inserci&oacute;n en la zona ilio-pubiana de los abdominales o el muslo (musculatura principalmente aductora), y que se clasifica del siguiente modo:
  
<ul>
    <li>Lesi&oacute;n Alta: si afecta a los rectos anteriores (abdominales).</li>
    <li>Lesi&oacute;n Baja: la tendinosis se produce en los aductores, afectando con mayor frecuencia al aductor medio.</li>
    <li>Lesi&oacute;n Mixta: cuando interesa a ambos grupos musculares.</li>
</ul>

    Se produce por una sobrecarga muscular causada por un sobreesfuerzo o sobreuso en movimientos repetitivos o continuados propios de la pr&aacute;ctica diaria del deporte al m&aacute;ximo rendimiento.
En el caso de los futbolistas, el golpeo del bal&oacute;n los cambios de direcci&oacute;n, los movimientos forzados, los saltos con ca&iacute;das descompensada, los cambios de velocidad y las constantes frenadas, as&iacute; como el exceso de partidos disputados son factores que pueden desencadenar este tipo de lesi&oacute;n. Por supuesto, una mala preparaci&oacute;n f&iacute;sica o no haber calentado correctamente antes de la pr&aacute;ctica deportiva son factores que pueden favorecer su aparici&oacute;n.
Como o cuando contactar con el profesional si presentas algunas de estas alteraciones asociada a deporte profesional o amateur no dudes en contactarme. En mi sitio web encontraras algunas gu&iacute;as b&aacute;sicas que he confeccionado para ayudar a los procesos de rehabilitaci&oacute;n de manera simple y que todos puedan entender
Saludos.


           </p>
    
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
  </body>
    
 </html>