<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-neurologia" class="breadcrumb">Neurologia</a>
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->

    
    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
        
           <p>
              <h2><a href="http://www.kinesishouse.cl/" target="_blank">kinesiologia</a>en rehabilitaci&oacute;n neurol&oacute;gica</h2> 
<strong>¿Qu&eacute; es la neuro- rehabilitaci&oacute;n?</strong> 
Es un enfoque de rehabilitaci&oacute;n que se encarga de manejar los trastornos motrices, sensitivos y funcionales de las personas con 
alteraciones en sus componentes del sistema nervioso, ya sea central o perif&eacute;rico (SNC, SNP)
Los  objetivos principales son facilitar y mejorar el desarrollo efectivo y la participaci&oacute;n satisfactoria de las actividades b&aacute;sicas e 
instrumentales de la vida diaria, eso incluye funciones tan simples como cambios de ropa o aseo personal, como desplazamientos en locomoci&oacute;n urbana o trayectos
al trabajo, estando siempre presente su ambiente familiar, social, laboral y recreativo, con el fin de promover su plena integraci&oacute;n y autonom&iacute;a dentro de un entorno saludable.
Los pacientes que por lo general entran a este tipo de programas son aquellos que est&aacute;n con secuelas recientes o antiguas de accidentes cerebrovasculares (ACV o AVE), que cursan por lo general con <strong>trastorno de hemiplejia y motricidad</strong>  entre otras cosas.
<strong>Pacientes con par&aacute;lisis facial</strong>: la cual consiste en alteraci&oacute;n de la motricidad de la musculatura de la cara (expresi&oacute;n facial en general)
Pacientes con alteraci&oacute;n neurol&oacute;gica degenerativa central o perif&eacute;rica
Entre ellos est&aacute;n pacientes que padecen de guillan barre (link)
Pacientes que est&aacute;n en alguna fase de ELA (<strong>esclerosis lateral amiotrofia</strong> ) (link)
Pacientes con <strong> trastorno asociados al Parkinson</strong> (link)
Pacientes con patolog&iacute;a neurol&oacute;gica asociada a traumatismos (cerebral, cerebelar, inflamaci&oacute;n de meninges)
Tambi&eacute;n entran a esta categor&iacute;a todo aquel paciente infantil que producto del desarrollo intrauterino presente patolog&iacute;as de neuro - desarrollo, como par&aacute;lisis cerebral, trastornos de desarrollo psicomotor, par&aacute;lisis braquial obst&eacute;trica etc.
<h3>¿En qu&eacute; consiste la terapia en general?</h3>
Por medios de estrategias basadas en enfoques multidiciplinarios en que incluye medicos, fonoaudiologos, terapeutas ocupacionales y <a href="http://www.kinesishouse.cl/" target="_blank">kinesiologo</a>  se enfocaran en 
ejercicios y movimientos espec&iacute;ficos se espera que el paciente logre una mayor independencia de sus patrones motores, reduzca o aumente el tono muscular favorecer el control motor y desplazamientos con o sin ayudas t&eacute;cnicas, 
reducir en lo posibles los efectos nocivos de la patolog&iacute;a neurol&oacute;gica
<h3>¿Cu&aacute;nto tiempo de rehabilitaci&oacute;n se necesita?</h3>
Esto es muy variable por lo general los pacientes de <strong>neuro - rehabilitaci&oacute;n</strong> , necesitan a&ntilde;os para lograr una <strong>rehabilitaci&oacute;n</strong>  optima y en casos graves se necesitan terapias contin&uacute;an para siempre.
Ya que el sistema neuronal requiere mucho tiempo para adaptarse a los cambios, pensando tambi&eacute;n en el bolsillo de la familia, dentro de las sesiones de terapia se espera entregar ciertas herramientas a la familia para que puedan 
ejecutar los ejercicios y desplazamientos que ense&ntilde;ara <a href="http://www.kinesishouse.cl/" target="_blank">el terapeuta</a>, para de esa manera poder mantener una estrategia al largo plazo con respecto a la terapia
<h3>¿Q&eacute; esperanzas hay de recuperaci&oacute;n total?</h3>
Bueno muchas veces los pacientes se pueden recuperar del todo y con m&iacute;nimas secuelas despu&eacute;s de un a&ntilde;o de rehabilitaci&oacute;n, pero esto solo es factible dependiendo del da&ntilde;o que pueda existir en el tejido lesionado (&aacute;rea de penumbra en caso de ACV) si el da&ntilde;o es muy severo el enfoque de <strong>rehabilitaci&oacute;n </strong> ser&aacute; netamente de mantenci&oacute;n de 
las condiciones del paciente, como disminuir los <strong>efectos del reposo prolongado</strong> , evitar la incidencia y prevalencia de patolog&iacute;as respiratorias (link de kine respiratoria) disminuir los efectos de la hipoton&iacute;as y espasticidad (link que explique esto)
Adem&aacute;s se debe esperar que el tratamiento en esta &aacute;rea sea s&uacute;per multidisciplinario, donde no solo actu&eacute; un kinesi&oacute;logo, tambi&eacute;n es necesario un fonoaudi&oacute;logo, terapeuta ocupacional, m&eacute;dico especialista en neurolog&iacute;a, ya que el paciente requiere reeducar multitud de funciones p&eacute;rdidas o nunca adquiridas por el procesos que conlleva su patolog&iacute;a

En resumen la terapia va enfocada a las siguientes personas
Campos de acci&oacute;n
<ul>
    <li>Trastornos vasculares (lesiones provocada por vasos sangu&iacute;neos): <strong>Accidentes Vasculares</strong>  Encef&aacute;licos (AVE) Isqu&eacute;micos y Hemorr&aacute;gicos.</li>
    <li>Infecciones (enfermedades que afecten o contaminen el SN): como la meningitis, la encefalitis, la poliomielitis y los abscesos cerebrales.</li>
    <li>Traumatismos: como las lesiones cerebrales (TEC abiertos y cerrados) y de la m&eacute;dula espinal (esta puede ser trastorno de paraplejia o tetraplejia)</li>
    <li>Trastornos estructurales o neuromusculares: tumores del enc&eacute;falo o de la m&eacute;dula espinal o el <strong>s&iacute;ndrome de Guillan-Barr&eacute;</strong> .</li>
    <li>Trastornos degenerativos: <strong>enfermedad de Parkinson,</strong>  la esclerosis m&uacute;ltiple, la esclerosis lateral amiotrofia.</li>
</ul>
Trastornos neurol&oacute;gicos en ni&ntilde;os:
<ul>
    <li>par&aacute;lisis cerebral infantil</li>
    <li>desarrollo psicomotor</li>
    <li>par&aacute;lisis braquial obst&eacute;trica</li>
</ul>


 <h2>¿Que herramientas se pueden utilizar en la rehabilitaci&oacute;n neurol&oacute;gica?</h2> 
<h3>Hipo terapia</h3> : t&eacute;cnica en la cual se emplean caballos con el fin de modular los trastornos del tono muscular y los efectos posturales 
 en el pacientes con ayuda de la montura de este &uacute;ltimo en el caballo se producen resultados excelentes en todas aquellas patolog&iacute;as que conlleven
 alguna limitaci&oacute;n del aparato motor o muscular debido a la posici&oacute;n del cuerpo y al movimiento que produce el caballo al galopar
<h3>Motricidad asistida por equipos (lokomat)</h3> :es un equipo rob&oacute;tico de &uacute;ltima generaci&oacute;n muy utilizado en teleton Chile que busca modular los efectos de la marcha en los 
 pacientes con el fin de regular un efecto motor en repuesta de feedback hacia el snc para posibilitar y facilitar una marcha futura, todos esto 
 adaptado a las necesidades particulares de cada paciente. Por lo general este tipo de equipamiento es implementado en grandes centros de rehabilitaci&oacute;n 
 imposibilitando su aplicaci&oacute;n en domicilios de pacientes <a href="http://www.sciencedirect.com/science/article/pii/S0716864014700355" target="_blank">(estudio lokomat)</a> 
<h3>Balones suizos:</h3> se usan b&aacute;sicamente con el fin de modular las condiciones posturales del paciente y con ello ayudar  a modular las condiciones del tono muscular an&oacute;malo
 (por ejemplo se estima que el revote sobre el bal&oacute;n estimular&iacute;a los centros de control del tono extensor de la columna por medio de la acci&oacute;n del sistema vestibular)
<h3>Tareas funcionales :</h3> es b&aacute;sicamente re-educar al paciente en sus actividades b&aacute;sicas de la vida diaria, como tomar una cuchara, realizar un aseo personal, escribir, 
cambiar su posici&oacute;n de cama o sillas, desplazamientos etc.
<h3>Realidad virtual:</h3> aunque a&uacute;n est&aacute; en desarrollo, estos elementos se est&aacute;n comenzando a utilizar inicialmente en trastorno del equilibrio y otras &aacute;reas como la motricidad más gruesa (como en juegos m&aacute;s deportivos)
<h3>Maniobras manuales:</h3> por medio de t&eacute;cnicas de masajes o movilizaci&oacute;n activo asistido o movilizaciones pasivas se busca modular y regular la informaci&oacute;n sensorial de m&uacute;sculos tendones y articulaciones, mejorar la flexibilidad
 de los tejidos blandos y estimular con diferentes elementos la piel para manejar las respuestas sensitivas del paciente
<h3>Ejercicios kin&eacute;sicos espec&iacute;ficos:</h3> estos depender&aacute;n de la evaluaci&oacute;n funcional del paciente ya sea su condici&oacute;n de marcha (desplazamientos) equilibrio, falta de fuerza en algunos patrones o grupos musculares etc.
<h3>T&eacute;cnicas de neuro - rehabilitaci&oacute;n de bobath:</h3> Se basa en la capacidad del cerebro para reorganizarse a partir de est&iacute;mulos sensoriales perif&eacute;ricos, buscando que las partes sanas del cerebro puedan compensar las funciones que
 fueron realizadas previamente por las regiones da&ntilde;adas del cerebro. El requisito previo para esto es, sin embargo, un soporte y un est&iacute;mulo aplicado al paciente por parte del kinesi&oacute;logo. El concepto ha alcanzado buenos &eacute;xitos en la <a href="http://www.kinesishouse.cl" target="_blank" >rehabilitaci&oacute;n</a> , particularmente 
 en el caso de los enfermos que sufren paresia en un lado del cuerpo (hemiparesia) despu&eacute;s de un accidente vascular.

La persona afectada de una hemiparesia tiende a menudo a descuidar su lado paralizado, y por lo tanto sus limitaciones, para compensar con su lado menos afectado. Estos movimientos llevados a cabo con s&oacute;lo un lado del cuerpo, sin embargo, ayudan al paciente de una manera b&aacute;sica,
puesto que el lado afectado no se da la capacidad de recibir y de trabajar con la nueva informaci&oacute;n. El cerebro por lo tanto no tiene la oportunidad de reestructurarse. Incluso, debido a los movimientos asi&eacute;tricos, existe peligro de desarrollar espasmos dolorosos en la zona afectada.
El valor principal del Concepto Bobath es apoyar al lado afectado del cuerpo tanto como sea necesario para adaptar sus movimientos de manera acorde con el lado menos afectado del cuerpo. Es, en definitiva, un modo de equilibrar el cuerpo en cuanto a funcionalidad y movilidad.
Otra de las claves del concepto Bobath es la modificaci&oacute;n de los patrones de movimiento anormales que resultan de la propia lesi&oacute;n y facilitar el movimiento para conseguirlo de la manera m&aacute;s funcional, siempre siguiendo los hitos obtenidos en el neurodesarrollo fisiol&oacute;gico humano. 


<h2>T&eacute;cnicas de neuro- rehabilitaci&oacute;n de kabat</h2>
El m&eacute;todo Kabat o es una t&eacute;cnica de facilitaci&oacute;n neuromuscular propioceptiva. 
Dentro de sus objetivos est&aacute;n:
<ul>
    <li>Reforzamiento muscular</li>
    <li>Aumento de la estabilidad</li>
    <li>Aumento de la amplitud articular</li>
    <li>Restablecimiento de la coordinaci&oacute;n</li>
    <li>Reentrenamiento del equilibrio</li>
    <li>Relajaci&oacute;n muscular</li>
</ul>


<h3>Principios b&aacute;sicos del m&eacute;todo kabat</h3>
<strong>Movimientos complejos</strong>:   Los patrones de movimiento utilizados en este m&eacute;todo son globales, en masa, similares a los desarrollados en los actos de la vida diaria. 
El sentido de los mismos es diagonal y espiroidal, en relaci&oacute;n con la disposici&oacute;n diagonal y rotatoria de huesos, m&uacute;sculos y articulaciones. Se realizan seg&uacute;n 3 dimensiones: Flexi&oacute;n-extensi&oacute;n, 
abduci&oacute;n-adducci&oacute;n y pronaci&oacute;n, supinaci&oacute;n; y se organiza alrededor de una articulaci&oacute;n principal o p&iacute;vot. El movimiento se ejecuta desde la mayor amplitud articular, donde las fibras musculares est&aacute;n
 elongadas al &aacute;ximo acortamiento del recorrido, aprovechando toda la amplitud del movimiento, y desde la parte m&aacute;s distal del segmento para recibir el mayor n&uacute;mero de est&iacute;mulos propioceptivos.
Patrones cin&eacute;ticos del m&eacute;todo Kabat
Son movimientos integrados que tienen un car&aacute;cter global y se realizan en diagonal y espiral, es decir, con componentes de rotaci&oacute;n, produciendo de forma muy exacta los movimientos que se realizan en las actividades de la vida diaria
En las diagonales (movimientos diagonales realizado con las extremidades), configuradas en forma de “X” existen en cada una de ellas dos patrones antagonistas uno del otro, y constan de flexi&oacute;n o extensi&oacute;n, abducci&oacute;n- aducci&oacute;n,
y rotaci&oacute;n interna o externa. Con la excepci&oacute;n de los patrones de cabeza, cuello y tronco donde solamente se combinan momentos de flexi&oacute;n o extensi&oacute;n con rotaci&oacute;n derecha o izquierda.
T&eacute;cnicas espec&iacute;ficas de <strong>facilitaci&oacute;n propioceptivas</strong> 
Con frecuencia estas t&eacute;cnicas se emplean de manera combinada, debiendo ser seleccionadas seg&uacute;n el tipo de lesi&oacute;n. Pueden ser de dos tipos: de refuerzo y potenciaci&oacute;n, o de relajaci&oacute;n o estiramiento:
– Refuerzo y potenciaci&oacute;n:
<ul>
    <li>Contracciones repetidas: Se trata de repetir los mismos movimientos o patr&oacute;n. La resistencia ser&aacute; la m&aacute;xima que el paciente pueda soportar; se puede a&ntilde;adir el estiramiento y se realiza de dos maneras: por repetici&oacute;n del 
      reflejo de estiramiento o por contracciones alternantes isom&eacute;tricas-isot&oacute;nicas. En esta &uacute;ltima, al final del recorrido isot&oacute;nico se pide una contracci&oacute;n isom&eacute;trica. Estas contracciones repetidas no est&aacute;n indicadas en post-operados recientes y los ortop&eacute;dicos agudos.</li>
    <li>Inversi&oacute;n lenta: El paciente realiza un patr&oacute;n contra resistencia m&aacute;xima seguido inmediatamente del patr&oacute;n antagonista. El cambio debe realizarse con rapidez.</li>
    <li>Inversi&oacute;n lenta y sost&eacute;n: Lo mismo que el anterior, pero se a&ntilde;ade una contracci&oacute;n isom&eacute;trica al final de cada amplitud de movimiento.</li>
    <li>Estabilizaci&oacute;n r&iacute;tmica: Se emplea una fuerte contracci&oacute;n isom&eacute;trica del patr&oacute;n agonista, seguido de una contracci&oacute;n isom&eacute;trica del antagonista.</li>
</ul>

<h3>Relajaci&oacute;n o estiramiento</h3>
Estas t&eacute;cnicas facilitan la movilidad. C&oacute;mo por ejemplo:
<ul>
    <li>1-Sostener-relajar: Se aplica en pacientes que presentan una</li>
    <li>2-Contraer-relajar: Igual que la precedente, pero se permite el movimiento de rotaci&oacute;n, puede hacerse en puntos sucesivos del recorrido.</li>
    <li>3-Inversi&oacute;n lenta, sost&eacute;n y relajaci&oacute;n: El objetivo es estimular al agonista despu&eacute;s de relajar el antagonista. El paciente realiza el patr&oacute;n hasta el l&iacute;mite de la movilidad articular. Seguidamente se provoca una contracci&oacute;n isom&eacute;trica de los antagonistas, y se mantiene en lo posible 30 segundos. A continuaci&oacute;n, relajaci&oacute;n progresiva, seguida de contracci&oacute;n isot&oacute;nica del patr&oacute;n agonista.</li>
    <li>•	4-Iniciaci&oacute;n o t&eacute;cnica r&iacute;tmica: Est&aacute; reservada para pacientes que padecen alteraciones extra piramidales, como rigidez o temblor. Tiene el prop&oacute;sito de promover la habilidad para iniciar el movimiento y aumentar la rapidez del mismo. Primero se ejecutar&aacute;n los patrones de forma pasiva, por tanto, esta t&eacute;cnica estar&aacute; contraindicada donde no se puedan realizar movilizaciones pasivas.</li>
</ul>
importante limitaci&oacute;n de la amplitud articular. No provoca dolor. Se coloca el segmento en la m&aacute;xima amplitud articular y se pide una contracci&oacute;n isom&eacute;trica, sin permitir el movimiento. Despu&eacute;s se relaja y se intenta ampliar el rango articular.
<h3>Objetivos e Indicaciones del M&eacute;todo Kabat</h3>
Su uso est&aacute; indicado a diferentes niveles: neuropat&iacute;as perif&eacute;ricas, patolog&iacute;a del sistema nervioso central, traumatolog&iacute;a, reumatolog&iacute;a, ortopedia, patolog&iacute;a cardio-respiratoria, geriatr&iacute;a y medicina deportiva.
En funci&oacute;n del tipo de lesi&oacute;n y el efecto deseado, se har&aacute; la elecci&oacute;n de la t&eacute;cnica a utilizar, teniendo adem&aacute;s presente la edad del paciente, el estado f&iacute;sico y ps&iacute;quico y la tolerancia al esfuerzo.
¿Quieres tener alguna idea de c&oacute;mo trabajar algo de esto en casa?
Sigue este link (ejercicios  de neuro <a href="http://www.kinesishouse.cl" target="_blank" >rehabilitaci&oacute;n </a> recomendados para aplicar en casa)

           </p>
    
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
  </body>
    
 </html>