<!DOCTYPE html>
<html lang="es-CL">

<%- include('partial/head.ejs'); %>

<body>
  <%- include('partial/tagmanager.ejs'); %>
  <%- include('partial/navbar.ejs'); %>
    <!-- breadcumbs-->
    <nav > 
      <div class="nav-wrapper container">
          <div class="col s12">
            <a href="http://www.kinesishouse.cl/" class="breadcrumb">Inicio</a>
            <a href="http://www.kinesishouse.cl/kinesiologo-traumatologia" class="breadcrumb">Traumatologia</a>
          </div>
        </div>
  </nav>
  
  <!--fin breadcumbs-->


    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1 l9 offset-l1 grey-text text-darken-2">
           <h2 class="flow-text">Kinesiolog&iacute;a en rehabilitaci&oacute;n  traumatol&oacute;gica</h2>
           <p>
               



    
    
    
      </div>

    <div class="container left-align">

      <div class="row">
        <a class="waves-effect waves-light btn" href="/">inicio</a>
      </div>
    
    </div>
    </div>
    </div>
   
    <%- include('partial/boton.ejs'); %>      

    <%- include('partial/footer.ejs'); %>
    </body>
    
    </html>